Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

ignore:
  - "**/DB_Methods/**"
  - "**/migrations/**"
  - "**/generated/**"
  - "**/*.config.ts"
  - "**/__init__.py"
  - "**/ui/**"
  - "**/config.ts"
  - "**/DB_Methods/**"
  - "**/db.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

chnage the colours on the pannels for Competition page, and AlgoTime page
  backend/src/__pycache__/__init__.cpython-311.pyc
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/utils/eventDisplay.ts
  frontend/src/views/AlgoTimePage.tsx
  frontend/src/views/CompetitionsPage.tsx
Due: backend, frontend

Revert "Update CodeDescArea.tsx"
  frontend/src/components/codingPage/CodeDescArea.tsx
Due: frontend

Add skeletons to App Layout and ManageQuestions
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/views/admin/ManageQuestionsPage.tsx
Due: frontend

Time input layout change because of layout inconsistency on Safari
  frontend/src/helpers/TimeInput.tsx
Due: frontend

fix sonarqube issues
  frontend/src/components/dashboardCharts/DashboardChartSkeleton.tsx
  frontend/src/views/AlgoTimePage.tsx
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

Add skeleton to Coding View
  frontend/src/views/CodingView.tsx
Due: frontend

extract nested ternary operations into independent statements
  frontend/src/views/AlgoTimePage.tsx
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

move number of logins graph to the right to fix number being cut off
  frontend/src/components/dashboardCharts/NumberOfLoginsChart.tsx
Due: frontend

modifies code submission so only the code written by the user is saved to the most recent table
  frontend/src/api/SubmitCodeAPI.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/SubmitCodeAPI.test.tsx
Due: frontend

Chnage the colour of the home banner
  backend/src/main.py
  frontend/src/views/CodingView.tsx
  frontend/src/views/HomePage.tsx
Due: backend, frontend

Change 404 page to be professional
  frontend/src/main.tsx
  frontend/src/views/ErrorPage.tsx
Due: frontend

adds resizable panels in codeDescArea for the description and the examples
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/tests/CodeDescArea.test.tsx
Due: frontend

Add intercept for when user reloads the page and change HomePage little fixes
  frontend/src/components/helpers/CompetitionItem.tsx
  frontend/src/components/leaderboards/CodingPageLeaderboard.tsx
  frontend/src/views/CodingView.tsx
  frontend/src/views/HomePage.tsx
Due: frontend

Fix tooltip and move it up in the code arrea
  frontend/src/components/helpers/ConfirmCodeReset.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

fixing email_scheduler.py so it works even when 1 email in the list is not valid
  backend/src/services/email_scheduler.py
  backend/tests/test_email_scheduler.py
Due: backend

fixing test_email_scheduler.py
  backend/tests/test_email_scheduler.py
Due: backend

Fix frontend tests broken by UI/UX changes
  frontend/tests/AlgoTimePage.test.tsx
  frontend/tests/CodingPageLeaderboard.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/ConfirmCodeReset.test.tsx
  frontend/tests/ErrorPage.test.tsx
  frontend/tests/ManageQuestionsPage.test.tsx
Due: frontend

Fix test CmpetitionAPI.test.tsx to reflect change in default sorting order for competitions
  frontend/tests/CompetitionAPI.test.tsx
Due: frontend

412 adjust minor uiux issues all over teh website (#419)
  backend/src/__pycache__/__init__.cpython-311.pyc
  backend/src/main.py
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/components/helpers/CompetitionItem.tsx
  frontend/src/components/helpers/ConfirmCodeReset.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/leaderboards/CodingPageLeaderboard.tsx
  frontend/src/main.tsx
  frontend/src/utils/eventDisplay.ts
  frontend/src/views/AlgoTimePage.tsx
  frontend/src/views/CodingView.tsx
  frontend/src/views/CompetitionsPage.tsx
  frontend/src/views/ErrorPage.tsx
  frontend/src/views/HomePage.tsx
  frontend/src/views/admin/ManageQuestionsPage.tsx
  frontend/tests/AlgoTimePage.test.tsx
  frontend/tests/CodingPageLeaderboard.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/CompetitionAPI.test.tsx
  frontend/tests/ConfirmCodeReset.test.tsx
  frontend/tests/ErrorPage.test.tsx
  frontend/tests/ManageQuestionsPage.test.tsx
Due: backend, frontend

Fix no on click action for algo time page and update event status badge color
  frontend/src/utils/eventDisplay.ts
  frontend/src/views/AlgoTimePage.tsx
Due: frontend

Fix test
  frontend/tests/AlgoTimePage.test.tsx
Due: frontend

Removed unused `loading` variable from AppLayout component, and fixed the event status badge classes in CompetitionsPage and eventDisplay utility functions to use the correct primary color classes.
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

added a countdown hook to coding view
  frontend/src/hooks/useCountdown.ts
  frontend/src/views/CodingView.tsx
Due: frontend

Done
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

Enhance frontpage flag handling in Question API and tests
  backend/src/endpoints/questions_api.py
  backend/tests/test_questions_api.py
Due: backend

fix the broken load and search in manageQuestions
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/components/manageQuestions/ManageQuestionsSkeleton.tsx
  frontend/src/views/admin/ManageQuestionsPage.tsx
  frontend/tests/ManageQuestionsDataTable.test.tsx
Due: frontend

fix failing test
  frontend/tests/ManageQuestionsPage.test.tsx
Due: frontend

Add frontpage_only filter to get_all_questions API and update related tests
  backend/src/endpoints/questions_api.py
  backend/tests/test_questions_api.py
  frontend/src/api/QuestionsAPI.ts
  frontend/src/types/questions/QuestionPagination.type.tsx
  frontend/src/views/HomePage.tsx
  frontend/tests/QuestionsAPI.test.ts
Due: backend, frontend

Fix JSON escaping in GenAIHint and update type definition in QuestionsGenerativeAITooltipButton
  frontend/src/components/manageQuestions/QuestionsGenerativeAITooltipButton.tsx
Due: frontend

Remove unnecessary closing bracket in QuestionsAPI tests for clarity
  frontend/tests/QuestionsAPI.test.ts
Due: frontend

Updated CodingView to keep static UI elements visible but disabled during loading instead of skeleton
  frontend/src/views/CodingView.tsx
Due: frontend

Updated CodingPageLeaderboard to keep the event name and column headers visible during loading instead of skeleton
  frontend/src/components/leaderboards/CodingPageLeaderboard.tsx
Due: frontend

Update ManageComp and ManageAlgo skeletons to make the buttons and icons disabled
  frontend/src/components/algotime/ManageAlgotimeSessionsSkeleton.tsx
  frontend/src/components/manageCompetitions/ManageCompetitionsSkeleton.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

use disabled buttons instead of skeleton for algo/comp pages
  frontend/src/components/algotime/AlgoTimePageSkeleton.tsx
  frontend/src/components/competitions/CompetitionsPageSkeleton.tsx
Due: frontend

Updated ManageRiddlesSkeleton to show disabled icon buttons instead of skeletons
  frontend/src/components/manageRiddles/ManageRiddlesSkeleton.tsx
Due: frontend

Updated ManageQuestionsSkeleton and ManageAccountsSkeleton to show real column headers and disabled Previous/Next pagination buttons instead of skeletons
  frontend/src/components/manageAccounts/ManageAccountsSkeleton.tsx
  frontend/src/components/manageQuestions/ManageQuestionsSkeleton.tsx
Due: frontend

Updated SubmissionSkeleton to keep section headers and field labels visible when loading
  frontend/src/components/codingPage/SubmissionSkeleton.tsx
Due: frontend

Add frontpageOnly parameter to getQuestionsPage API call in HomePage tests
  frontend/tests/HomePage.test.tsx
Due: frontend

Refactor question retrieval logic and add new utility functions for query building and cache headers
  backend/src/endpoints/questions_api.py
  backend/tests/test_questions_api.py
Due: backend
