Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

sonarqube issues
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/codingPage/ConsoleOutput.tsx
  frontend/src/components/helpers/Loader.tsx
Due: frontend

more sonarqube issues
  frontend/src/components/codingPage/ConsoleOutput.tsx
  frontend/src/components/helpers/Loader.tsx
Due: frontend

Update ConsoleOutput.tsx
  frontend/src/components/codingPage/ConsoleOutput.tsx
Due: frontend

Update riddles_api.py
  backend/src/endpoints/riddles_api.py
Due: backend

deploying on netlify
  frontend/src/api/AccountsAPI.tsx
Due: frontend

backend posthog finished
  backend/src/endpoints/admin_dashboard_api.py
  backend/src/endpoints/algotime_sessions_api.py
  backend/src/endpoints/authentification_api.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/leaderboards_api.py
  backend/src/endpoints/manage_accounts_api.py
  backend/src/endpoints/questions_api.py
  backend/src/endpoints/riddles_api.py
  backend/src/endpoints/send_email_api.py
  backend/src/main.py
  backend/src/posthog_analytics.py
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/src/components/forms/FileUpload.tsx
  frontend/src/components/forms/ResetPasswordForm.tsx
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/views/ErrorPage.tsx
  frontend/src/views/Unauthorized.tsx
Due: backend, frontend

edit on backend post updates to main
  backend/src/endpoints/judge0_api.py
  backend/src/posthog_analytics.py
Due: backend

remove duplicate
  backend/src/posthog_client.py
Due: backend

fix pytest
  backend/tests/test_competitions_api.py
Due: backend

add imports to requirements.txt
  backend/src/main.py
Due: backend

add imports to requirements.txt
  backend/requirements.txt
Due: backend

add imports to requirements.txt
  backend/requirements.txt
  backend/src/main.py
  backend/src/requirements.txt
Due: backend

add imports to requirements.txt
  backend/src/requirements.txt
Due: backend

Update main.py
  backend/src/main.py
Due: backend

add posthog to frontend: pages that have to do with authentification
  frontend/src/components/forms/ForgotPasswordForm.tsx
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/forms/ResetPasswordForm.tsx
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/hooks/useAnalytics.ts
  frontend/src/views/ErrorPage.tsx
  frontend/src/views/ProfilePage.tsx
  frontend/src/views/Unauthorized.tsx
Due: frontend

FIXING SONAR QUBE ISSUES
  backend/src/endpoints/authentification_api.py
  backend/src/endpoints/leaderboards_api.py
  backend/src/posthog_analytics.py
Due: backend

more backend cov
  backend/tests/test_posthog_analytics.py
Due: backend

add posthog to frontend: leaderboard an homepage components
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/src/components/forms/FileUpload.tsx
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
  frontend/src/components/leaderboards/CurrentLeaderboard.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/components/questionsTable/questionDataTable.tsx
  frontend/src/hooks/useAnalytics.ts
  frontend/src/views/HomePage.tsx
Due: frontend

add posthog to frontend: admin components
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
  frontend/src/hooks/useAnalytics.ts
  frontend/src/views/admin/AdminDashboardPage.tsx
  frontend/src/views/admin/AlgoTimeSession.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
  frontend/src/views/admin/ManageAccountsPage.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
  frontend/src/views/admin/ManageRiddlePage.tsx
Due: frontend

add posthog to frontend: coding page components
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/codingPage/Testcases.tsx
  frontend/src/hooks/useAnalytics.ts
Due: frontend

started coding submission attempt
  backend/src/endpoints/submission_api.py
  frontend/src/api/CodeSubmission.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/types/SubmissionType.type.tsx
Due: backend, frontend

fixing posthog
  frontend/src/main.tsx
Due: frontend

fixing jest
  frontend/src/components/forms/LogInForm.tsx
  frontend/tests/questionDataTable.test.tsx
Due: frontend

fixing sonar qube
  frontend/src/views/HomePage.tsx
  frontend/src/views/ProfilePage.tsx
Due: frontend

fixing cov
  frontend/src/views/ProfilePage.tsx
  frontend/tests/ProfilePage.test.tsx
Due: frontend

more cov
  frontend/src/views/ProfilePage.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/ProfilePage.test.tsx
Due: frontend

fix jest
  frontend/tests/ProfilePage.test.tsx
Due: frontend

Applied UI fixes to the profile page
  frontend/package-lock.json
  frontend/src/views/ProfilePage.tsx
Due: frontend

removed unused import
  frontend/src/views/ProfilePage.tsx
Due: frontend

fixed test
  frontend/tests/ProfilePage.test.tsx
Due: frontend

fixed failing e2e test
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
Due: frontend

moving the profile page button from bottom left to top right
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/AppSidebar.tsx
  frontend/src/components/layout/NavUser.tsx
Due: frontend

fixing the frontend lint
  frontend/src/components/layout/AppSidebar.tsx
Due: frontend

added the Comps and AlgoTime pages (based on the Manage Competitions page
  frontend/src/main.tsx
  frontend/src/views/AlgoTimePage.tsx
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

okay i tried updating the test that was failing (since now the sidebar footer is obviously gone
  frontend/tests/AppSidebar.test.tsx
Due: frontend

updated the test for the button being moved
  frontend/tests/AppLayout.test.tsx
  frontend/tests/AppSidebar.test.tsx
  frontend/tests/NavUser.test.tsx
Due: frontend

Add 8-character pwd validation to signup form and validation messages for signup/ change pwd
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/views/ChangePasswordPage.tsx
Due: frontend

update SignupForm.test
  frontend/tests/SignupForm.test.tsx
Due: frontend

test for algotimeeee page
  frontend/tests/AlgoTimePage.test.tsx
Due: frontend

tests for the competitions page
  frontend/tests/CompetitionsPage.test.tsx
Due: frontend

Path conditions:
  backend: any of: backend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
  frontend: any of: frontend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
