Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

moved sideBarTrigger to the outside next to breadcrumbs
  frontend/src/components/layout/AppBreadcrumb.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/AppSidebar.tsx
Due: frontend

sidebar preserves its collapsed/expanded state when navigating through pages
  frontend/src/components/layout/AppLayout.tsx
Due: frontend

fix broken test
  frontend/tests/AppSidebar.test.tsx
Due: frontend

fix broken react test
  frontend/tests/AppLayout.test.tsx
Due: frontend

fixed dev environment configs
  backend/src/main.py
  frontend/src/lib/axiosClient.tsx
Due: backend, frontend

fix failing jest
  frontend/jest.config.mjs
Due: frontend

183 - removing rank from Db: FINISHED
  backend/src/endpoints/leaderboards_api.py
  frontend/src/components/leaderboards/AlgoTimeDataTable.tsx
  frontend/src/components/leaderboards/ScoreboardDataTable.tsx
Due: backend, frontend

adjust db schema
  backend/src/DB_Methods/populateDB2.py
  backend/src/models/schema.py
Due: backend

add deployed website link next to release 2 video
  README.md
Due: none

fix: bug - 190
  backend/src/DB_Methods/populateDB2.py
Due: none

fix: ScoreboardDataTable.tsx
  frontend/src/components/leaderboards/ScoreboardDataTable.tsx
Due: frontend

adjust code so its doesnt break the prod
  backend/src/DB_Methods/populateDB2.py
  backend/src/main.py
Due: backend

fix pytest
  backend/tests/test_leaderboard_api.py
Due: backend

fix jest post axios changes
  frontend/jest.config.mjs
  frontend/tests/AccountsAPI.test.tsx
  frontend/tests/AdminDashboardAPI.test.tsx
  frontend/tests/AlgotimeAPI.test.tsx
  frontend/tests/AuthAPI.test.tsx
  frontend/tests/ChangePasswordPage.test.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CompetitionAPI.test.tsx
  frontend/tests/CreateCompetitionPage.test.tsx
  frontend/tests/EditCompetitionDialog.test.tsx
  frontend/tests/EmailAPI.test.tsx
  frontend/tests/HomePage.test.tsx
  frontend/tests/Judge0API.test.tsx
  frontend/tests/LeaderboardsAPI.test.tsx
  frontend/tests/LoginForm.test.tsx
  frontend/tests/ManageAccountsColumns.test.tsx
  frontend/tests/ManageAccountsPage.test.tsx
  frontend/tests/ManageCompetitionsPage.test.tsx
  frontend/tests/ManageRiddles.test.tsx
  frontend/tests/ProfilePage.test.tsx
  frontend/tests/QuestionsAPI.test.tsx
  frontend/tests/RiddlesAPI.test.tsx
  frontend/tests/Testcases.test.tsx
Due: frontend

package lock
  frontend/package-lock.json
Due: frontend

Update package lock
  frontend/package-lock.json
Due: frontend

fixed navuser
  frontend/src/components/layout/NavUser.tsx
Due: frontend

ability to reorder riddles when creating comp
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

allow drag and drop of questions and riddles
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/questionsAndRiddles/SelectionCard.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

Show question difficulty level when selected as well
  frontend/src/components/questionsAndRiddles/SelectionCard.tsx
Due: frontend

added "select all" and "clear all" buttons for the questions and riddles selection component
  frontend/src/components/createActivity/SelectionCard.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

fix date selection calendar popup
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/helpers/DatePicker.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

Dont allow inputting negative cooldown time and added red asterisks to mandatory fields
  frontend/src/components/createActivity/SelectionCard.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

Highlight mandatory fields in red if not filled
  frontend/src/components/createActivity/SelectionCard.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

Added clearer descriptions for the time picker
  frontend/src/helpers/TimeInput.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

Refactored CreateCompetitionPage to make reusable components for EditCompetitionDialog
  frontend/src/components/createActivity/GameplayLogicCard.tsx
  frontend/src/components/createActivity/GeneralInfoCard.tsx
  frontend/src/components/createActivity/NotificationsCard.tsx
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

replaced the error banner with simply using the sonner
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

fixed drag and drop not working in the EditCompetitionDialog and replaced notification banner with sonner
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

Highlight fields in red if there are errors
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

fix linting issues
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
Due: frontend

fixed failing tests
  frontend/tests/AlgoTimeForm.test.tsx
  frontend/tests/CreateCompetitionPage.test.tsx
  frontend/tests/EditCompetitionDialog.test.tsx
Due: frontend

Added tests to refactored components
  frontend/tests/GameplayLogicCard.test.tsx
  frontend/tests/GeneralInfoCard.test.tsx
  frontend/tests/NotificationsCard.test.tsx
  frontend/tests/SelectionCard.test.tsx
Due: frontend

fixed tests not working after merge
  frontend/src/lib/axiosClient.tsx
Due: frontend

Update sonarqube.yml
  .github/workflows/sonarqube.yml
Due: none

Refactored EditCompetitionDialog and CreateCompetitionPage to avoid code duplication
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

fixed linting issues
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
  frontend/src/types/competition/Competition.type.tsx
  frontend/src/types/competition/CreateCompetition.type.tsx
  frontend/src/types/competition/EditCompetition.type.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

Fixed tests
  frontend/tests/CompetitionForm.test.tsx
  frontend/tests/CreateCompetitionPage.test.tsx
  frontend/tests/EditCompetitionDialog.test.tsx
Due: frontend

Path conditions:
  backend: any of: backend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
  frontend: any of: frontend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
