Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

ignore:
  - "**/DB_Methods/**"
  - "**/migrations/**"
  - "**/generated/**"
  - "**/*.config.ts"
  - "**/__init__.py"
  - "**/ui/**"
  - "**/config.ts"
  - "**/DB_Methods/**"
  - "**/db.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

adds/modifies backend api endpoints (for base event, question, and question instance) and their corresponding tests
  backend/src/endpoints/base_event_api.py
  backend/src/endpoints/question_instance_api.py
  backend/src/endpoints/questions_api.py
  backend/tests/test_base_event_api.py
  backend/tests/test_question_instance_api.py
  backend/tests/test_questions_api.py
Due: backend

adds/modifies frontend api endpoints (base event, question, and question instance) and their corresponding tests
  frontend/src/api/BaseEventAPI.tsx
  frontend/src/api/QuestionInstanceAPI.tsx
  frontend/src/api/QuestionsAPI.tsx
  frontend/tests/QuestionsAPI.test.tsx
Due: frontend

question instance api tests
  frontend/tests/QuestionInstanceAPI.test.tsx
Due: frontend

changes Question type and updates naming in related files
  frontend/src/components/questionsTable/questionDataTable.tsx
  frontend/src/components/questionsTable/questionsColumns.tsx
  frontend/src/types/questions/Question.type.tsx
Due: frontend

updates codeSubmission and codeRun function to handle the event addition
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/api/Judge0API.tsx
  frontend/tests/CodeSubmissionAPI.test.tsx
  frontend/tests/Judge0API.test.tsx
Due: frontend

updates CodeDescArea, useTestcases and codeResponse to match changes in Question type
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/Testcases.tsx
  frontend/src/types/SubmitAttemptResponse.type.tsx
Due: frontend

Add security for backend non public routes
  backend/conftest.py
  backend/src/main.py
  backend/tests/conftest.py
Due: backend

Enhance Questions API and UI: Add detailed question retrieval, improve data handling, and streamline question deletion process
  backend/src/endpoints/questions_api.py
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
Due: backend, frontend

Added mobile banner component to redirect mobile users to a computer
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/MobileBanner.tsx
Due: frontend

Fix the tests
  backend/conftest.py
  backend/pytest.ini
Due: backend

Add test for coverage
  backend/tests/test_authentification.py
Due: backend

fix: update import paths for posthog_analytics and related modules
  backend/src/endpoints/admin_dashboard_api.py
  backend/src/endpoints/algotime_sessions_api.py
  backend/src/endpoints/authentification_api.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/judge0_api.py
  backend/src/endpoints/leaderboards_api.py
  backend/src/endpoints/manage_accounts_api.py
  backend/src/endpoints/questions_api.py
  backend/src/endpoints/riddles_api.py
  backend/src/endpoints/send_email_api.py
  backend/src/main.py
  backend/src/models/schema.py
Due: backend

Update README
  README.md
Due: none

Update README.md
  README.md
Due: none

add pagination to manageAccounts api calls to remove unbound .all()
  backend/src/endpoints/manage_accounts_api.py
  frontend/src/api/AccountsAPI.tsx
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
  frontend/src/views/admin/ManageAccountsPage.tsx
Due: backend, frontend

update manageAccounts frontend and backend test to match the pagination changes
  backend/tests/test_manage_accounts_api.py
  frontend/tests/ManageAccountsPage.test.tsx
Due: backend, frontend

add the cursor-pointer to missing places (see comments)
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/layout/NavUser.tsx
  frontend/src/components/questionsTable/questionDataTable.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

fix the demarkation issue in navbar
  frontend/src/components/helpers/AvatarInitials.tsx
Due: frontend

Add view button to edit dialog and fix location storage issue and timezone mismatch
  backend/src/endpoints/algotime_sessions_api.py
  frontend/src/api/AlgotimeAPI.tsx
  frontend/src/components/algotime/EditAlgotimeDialog.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/types/algoTime/AlgoTime.type.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
Due: backend, frontend

Refactor question retrieval in QuestionJSONEditor: Remove unused API call to getQuestions
  backend/tests/test_questions_api.py
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
Due: backend, frontend

Fix ManageAlgotimeSessionsPage.test.tsx to accomodate for edit and delete buttons
  frontend/tests/ManageAlgotimeSessionsPage.test.tsx
Due: frontend

updates more files linked to the Question type
  frontend/src/components/algotime/SessionQuestionSelector.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/tests/AlgoTimeForm.test.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CompetitionForm.test.tsx
  frontend/tests/ErrorPage.test.tsx
  frontend/tests/SessionQuestionSelector.test.tsx
  frontend/tests/questionDataTable.test.tsx
  frontend/tests/questionsColumns.test.tsx
Due: frontend

Add EditAlgotimeDialgo.test.tsx tests Fix failing AlgoTimeForm.test.tsx and ManageAlgotimeSessionsPage.tsx
  frontend/tests/AlgoTimeForm.test.tsx
  frontend/tests/EditAlgotimeDialog.test.tsx
  frontend/tests/ManageAlgotimeSessionsPage.test.tsx
Due: frontend

update loading for manageAccounts to display loading skeleton
  frontend/src/components/manageAccounts/ManageAccountsSkeleton.tsx
  frontend/src/views/admin/ManageAccountsPage.tsx
Due: frontend

Fix failing tests in AlgoTimeForm.test.tsx and ManageAlgotimeSessionsPage.test.tsx
  frontend/tests/AlgoTimeForm.test.tsx
  frontend/tests/ManageAlgotimeSessionsPage.test.tsx
Due: frontend

fix load to not set loading to true after every character search to allow users to type continuously
  frontend/src/components/manageAccounts/ManageAccountsSkeleton.tsx
  frontend/src/views/admin/ManageAccountsPage.tsx
Due: frontend

add tag implementation for competitions in CompetitionsPage
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

Add paths to breadcrumbs
  frontend/src/main.tsx
Due: frontend

add "s" to Competitions in sidebar
  frontend/src/components/layout/AppSidebar.tsx
Due: frontend

fix frontend lint issues and remove unnecessary test in ManageAlgotimeSessionsPage.test.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/tests/ManageAlgotimeSessionsPage.test.tsx
Due: frontend

update questions backend to include pagination for get.all() requests and update frontend to match. Add pagination buttons for questions table in home page
  backend/src/endpoints/questions_api.py
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/questionsTable/questionDataTable.tsx
  frontend/src/views/HomePage.tsx
Due: backend, frontend

update questions test to match changes made to backend and frontend
  backend/tests/test_questions_api.py
  frontend/tests/QuestionsAPI.test.tsx
Due: backend, frontend

Add tests to up coverage in AlgotimeAPI.tsx and algotime_sessions_api.py
  backend/tests/test_algotime_sessions_api.py
  frontend/tests/AlgotimeAPI.test.tsx
Due: backend, frontend

Changed Mobile Banner colours
  frontend/src/components/layout/MobileBanner.tsx
Due: frontend

Add tests for the new MobileBanner component
  frontend/tests/MobileBanner.test.tsx
Due: frontend

Fix sonarqube issues: - Extracting ternary operations in EditAlgotimeDialog and AlgotimeForm - Defining a constant in algotime_sessions_api
  backend/src/endpoints/algotime_sessions_api.py
  frontend/src/components/algotime/EditAlgotimeDialog.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: backend, frontend

Add filter button to filter activity status on algotime session and make UI compatible with competitions
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/tests/EditAlgotimeDialog.test.tsx
Due: frontend

Remove temp log
  frontend/src/lib/axiosClient.tsx
Due: frontend

Fix ManageAlgotimeSessionPage tests
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/tests/ManageAlgotimeSessionsPage.test.tsx
Due: frontend
