Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix CodinView test
  frontend/tests/CodingView.test.tsx
Due: frontend

Fix Leaderboards test
  frontend/tests/Leaderboards.test.tsx
Due: frontend

Use .ts for API endpoints so the linter doesn't get mad at multiple exports
  frontend/src/api/QuestionsAPI.ts
  frontend/tests/QuestionsAPI.test.ts
Due: frontend

Fix LoginForm test
  frontend/src/components/forms/LogInForm.tsx
  frontend/tests/LoginForm.test.tsx
Due: frontend

refactor: remove unused get_all_riddles and get_all_testcases endpoints and their tests
  backend/src/endpoints/questions_api.py
  backend/tests/test_questions_api.py
Due: backend

Fix Profile Page test
  frontend/tests/ProfilePage.test.tsx
Due: frontend

Made problem description wrap around if too long
  frontend/src/components/codingPage/CodeDescArea.tsx
Due: frontend

restored host address that was pushed on accident
  backend/src/main.py
Due: backend

Fix installation command for backend requirements
  README.md
Due: none

remove extra toast error causing double toast messages
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: frontend

create load skeleton for manage algotime and competition pages
  frontend/src/components/algotime/ManageAlgotimeSessionsSkeleton.tsx
  frontend/src/components/manageCompetitions/ManageCompetitionsSkeleton.tsx
Due: frontend

update to use the newly made skeleton and to fix cards per page values to fill the last row
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

fix load for when users search it fades the cards
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

Fix AppSidebar test
  frontend/jest.config.mjs
  frontend/src/components/layout/AppSidebar.tsx
  frontend/tests/AppSidebar.test.tsx
  frontend/tests/ProfilePage.test.tsx
  frontend/tests/__mocks__/axiosClient.ts
Due: frontend

add transition fade to make cards appear softly and fix minor ui issues regarding buttons on cards
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

fix loading and set default cards per page to 27
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

Fix AppLayout test
  frontend/jest.config.mjs
  frontend/tests/AppLayout.test.tsx
Due: frontend

Fix CodingHooks test
  frontend/tests/CodingHooks.test.tsx
Due: frontend

ManageQtsColumn test
  frontend/tests/ManageQuestionsColumns.test.tsx
Due: frontend

add back frontend logging for deleting questions
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
Due: frontend

Lower cognitive complexity of get_all_questions for sonar
  backend/src/endpoints/questions_api.py
Due: backend

fix failing frontend tests to match the new refactors made
  frontend/tests/AlgoTimePage.test.tsx
  frontend/tests/AlgotimeAPI.test.tsx
  frontend/tests/CompetitionAPI.test.tsx
  frontend/tests/CompetitionsPage.test.tsx
  frontend/tests/ManageAlgotimeSessionsPage.test.tsx
  frontend/tests/ManageCompetitionsPage.test.tsx
Due: frontend

Fix TestCases test
  frontend/jest.config.mjs
Due: frontend

Fix TestCases test
  frontend/tests/TestCasesAPI.test.tsx
  frontend/tests/Testcases.test.tsx
  frontend/tests/__mocks__/axiosClient.ts
Due: frontend

Fic JSON test
  frontend/tests/UploadQuestionsJSONButton.test.tsx
Due: frontend

update failing backend tests
  backend/tests/test_algotime_sessions_api.py
  backend/tests/test_competitions_api.py
Due: backend

Fix UserNave test
  frontend/tests/NavUser.test.tsx
Due: frontend

Fix lint issues
  frontend/src/components/helpers/ProtectedRoute.tsx
  frontend/src/context/UserContext.tsx
Due: frontend

Fix backend lint
  backend/src/endpoints/authentification_api.py
Due: backend

add pagination that might have been removed during merge conflict resolution
  frontend/src/views/AlgoTimePage.tsx
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

fix failing tests
  frontend/tests/CompetitionsPage.test.tsx
  frontend/tests/ManageAlgotimeSessionsPage.test.tsx
  frontend/tests/ManageCompetitionsPage.test.tsx
Due: frontend

Fix CodingView test
  frontend/tests/CodingView.test.tsx
Due: frontend

address sonarqube issues
  backend/src/endpoints/algotime_sessions_api.py
  backend/src/endpoints/competitions_api.py
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: backend, frontend

Fic Sonnar issues
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/views/HomePage.tsx
Due: frontend

reduce code duplication
  backend/src/endpoints/competitions_api.py
Due: backend

refactor to reduce code duplication
  backend/src/endpoints/algotime_sessions_api.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/event_utils.py
  frontend/src/components/helpers/CardPaginationControls.tsx
  frontend/src/constants/pagination.ts
  frontend/src/hooks/useCardReveal.ts
  frontend/src/utils/eventDisplay.ts
  frontend/src/views/AlgoTimePage.tsx
  frontend/src/views/CompetitionsPage.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: backend, frontend

refactor failing tests
  backend/src/endpoints/algotime_sessions_api.py
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
Due: backend, frontend

fix failing tests
  backend/src/endpoints/algotime_sessions_api.py
  backend/tests/test_algotime_sessions_api.py
  backend/tests/test_competitions_api.py
  frontend/tests/ManageAlgotimeSessionsPage.test.tsx
Due: backend, frontend

print testcases in console - base for future commits
  frontend/src/views/CodingView.tsx
Due: frontend

add batch submission (send request only)
  backend/src/endpoints/judge0_api.py
  frontend/src/api/Judge0API.tsx
  frontend/src/api/QuestionsAPI.ts
  frontend/src/api/SubmitCodeAPI.tsx
  frontend/src/views/CodingView.tsx
Due: backend, frontend

Path conditions:
  backend: any of: backend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
  frontend: any of: frontend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
