Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix ErrorPage navigation link
  frontend/src/main.tsx
  frontend/src/views/ErrorPage.tsx
Due: frontend

delete dead code with wrong urls not used
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/api/QuestionsAPI.tsx
Due: frontend

Revert "delete dead code with wrong urls not used"
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/api/QuestionsAPI.tsx
Due: frontend

delete dead code with wrong url not used
  frontend/src/api/QuestionsAPI.tsx
Due: frontend

add missing try/catch in LeaderboardsAPI
  backend/src/main.py
  frontend/src/api/LeaderboardsAPI.tsx
Due: backend, frontend

remove more raw exception leaks
  backend/src/endpoints/algotime_sessions_api.py
  backend/src/endpoints/competitions_api.py
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
  frontend/src/components/manageAccounts/UserActionsCell.tsx
  frontend/src/views/admin/ManageAccountsPage.tsx
Due: backend, frontend

remove page reload from profile update and preserve failed email for retry
  backend/src/services/email_scheduler.py
  frontend/src/views/ProfilePage.tsx
Due: backend, frontend

fix backend/ frontend lint error
  backend/src/endpoints/algotime_sessions_api.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/judge0_api.py
  frontend/src/components/leaderboards/CompetitionCard.tsx
  frontend/src/components/manageAccounts/UserActionsCell.tsx
Due: backend, frontend

fix broken py tests
  backend/tests/test_competitions_api.py
  backend/tests/test_judge0_api.py
  backend/tests/test_mock_recent_sub_api.py
  backend/tests/test_questions_api.py
  backend/tests/test_submission_api.py
  backend/tests/test_user_preferences_api.py
Due: backend

update broken react tests
  frontend/tests/ErrorPage.test.tsx
  frontend/tests/LoginForm.test.tsx
  frontend/tests/ManageAccountsDataTable.test.tsx
  frontend/tests/ManageAccountsPage.test.tsx
  frontend/tests/ProfilePage.test.tsx
  frontend/tests/QuestionsAPI.test.tsx
Due: frontend

write tests for uncovered code
  backend/tests/test_questions_api.py
  backend/tests/test_riddles_api.py
  frontend/tests/LeaderboardsAPI.test.tsx
Due: backend, frontend

fixes feedback
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/api/Judge0API.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/helpers/TimeAgoFormat.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/CodeSubmissionAPI.test.tsx
Due: frontend

Fix dark mode issues in branch from recent merge
  frontend/src/views/CompetitionsPage.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
Due: frontend

remove caching so that when a new ridle is created, the view updates right away
  backend/src/endpoints/riddles_api.py
  frontend/src/api/RiddlesAPI.tsx
  frontend/src/views/admin/ManageRiddlePage.tsx
Due: backend, frontend

fix failing riddle tests
  backend/tests/test_riddles_api.py
  frontend/tests/ManageRiddlePage.test.tsx
  frontend/tests/ManageRiddles.test.tsx
  frontend/tests/RiddlesAPI.test.tsx
Due: backend, frontend

add 503 response spec and increase test coverage for send_email_api
  backend/src/endpoints/send_email_api.py
  backend/tests/test_send_email_api.py
Due: backend

Update CodeSubmissionAPI.test.tsx
  frontend/tests/CodeSubmissionAPI.test.tsx
Due: frontend

delete one last raw exception msg
  backend/src/endpoints/send_email_api.py
  backend/tests/test_send_email_api.py
Due: backend

add missing axios mock in manageRiddles frontend tests
  frontend/tests/ManageRiddles.test.tsx
Due: frontend

more updates related to Question type
  backend/src/endpoints/questions_api.py
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/src/views/CodingView.tsx
Due: backend, frontend

make past algotimes not editable and change edit view size
  frontend/src/components/algotime/EditAlgotimeDialog.tsx
Due: frontend

remove repeated functions during merge conflict and fix backend lint errors in algotime_sessions_api.py
  backend/src/endpoints/algotime_sessions_api.py
Due: backend

Add unit tests for ManageQuestions components and API interactions
  backend/tests/test_questions_api.py
  frontend/tests/ManageQuestionsDataTable.test.tsx
  frontend/tests/ManageQuestionsPage.test.tsx
  frontend/tests/QuestionJSONEditor.test.tsx
  frontend/tests/QuestionsAPI.test.tsx
  frontend/tests/UploadQuestionsJSONButton.test.tsx
Due: backend, frontend

Update error message for batch upload failure in tests
  backend/tests/test_questions_api.py
Due: backend

Refactor error assertion in test_upload_question_batch_db_error for consistency
  backend/tests/test_questions_api.py
Due: backend

Fix typo in assertion for upload question batch error test
  backend/tests/test_questions_api.py
Due: backend

Ensure error message for test case retrieval starts with expected text
  backend/tests/test_questions_api.py
Due: backend

Updated ProfilePage to only switch theme when saved
  frontend/src/views/ProfilePage.tsx
Due: frontend

fix delete algotime function to not change leaderboard removed raw exception message from algotime_sessions_api.py
  backend/src/endpoints/algotime_sessions_api.py
  backend/tests/test_algotime_sessions_api.py
Due: backend

add sort to Algotime session cards and allow edit for active sessions for endtime
  frontend/src/components/createActivity/GeneralInfoCard.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/tests/AlgoTimeForm.test.tsx
Due: frontend

Fix backend lint issues
  backend/src/endpoints/algotime_sessions_api.py
Due: backend

updates selectionCard, CompetitionForm and their tests for the Question Type changes
  frontend/src/components/createActivity/SelectionCard.tsx
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CompetitionForm.test.tsx
Due: frontend

fixes memory routing issue in tests
  frontend/tests/HomePage.test.tsx
  frontend/tests/HomePageBanner.test.tsx
  frontend/tests/questionDataTable.test.tsx
Due: frontend

added logger tests
  frontend/src/views/CodingView.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/Judge0API.test.tsx
Due: frontend

new schema and fixed in the classes
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/question_instance_api.py
  backend/src/models/schema.py
  backend/tests/test_question_instance_api.py
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/api/QuestionInstanceAPI.tsx
  frontend/src/types/questions/QuestionInstance.type.tsx
  frontend/tests/CodeSubmissionAPI.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/QuestionInstance.test.tsx
Due: backend, frontend

Update CodingView.test.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

Update schema.py
  backend/src/models/schema.py
Due: backend

fix pagination on leaderboards and the copy and download button
  backend/src/endpoints/leaderboards_api.py
  backend/tests/test_leaderboard_api.py
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
  frontend/tests/AlgoTimeCard.test.tsx
  frontend/tests/CompetitionCard.test.tsx
Due: backend, frontend

fix algotime_sessions_api.py for small bug
  backend/src/endpoints/algotime_sessions_api.py
Due: backend

removes points and is_riddle_completed from question instance and updates everything related
  backend/src/database_operations/populate_db2.py
  backend/src/endpoints/algotime_sessions_api.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/question_instance_api.py
  backend/src/endpoints/submission_api.py
  backend/tests/test_question_instance_api.py
  frontend/src/api/QuestionInstanceAPI.tsx
  frontend/src/types/questions/QuestionInstance.type.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodeSubmissionAPI.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/QuestionInstanceAPI.test.tsx
Due: backend, frontend

Path conditions:
  backend: any of: backend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
  frontend: any of: frontend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
