Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

ignore:
  - "**/DB_Methods/**"
  - "**/migrations/**"
  - "**/generated/**"
  - "**/*.config.ts"
  - "**/__init__.py"
  - "**/ui/**"
  - "**/config.ts"
  - "**/DB_Methods/**"
  - "**/db.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

add serialization to judge0 to correctly form solution
  frontend/src/api/Judge0API.tsx
  frontend/tests/Judge0API.test.tsx
Due: frontend

fix algotime session navigation 404 error
  frontend/src/views/AlgoTimePage.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/AlgoTimePage.test.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

add TimeUpDialog and redirect to homepage when comp is over
  frontend/src/components/codingPage/CompetitionTimer.tsx
  frontend/src/components/codingPage/TimesUpDialog.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

fix adminDashboard ui and move toggle above the related graph
  frontend/src/views/admin/AdminDashboardPage.tsx
  frontend/tests/AdminDashboardPage.test.tsx
Due: frontend

fix toggle height
  frontend/src/views/admin/AdminDashboardPage.tsx
Due: frontend

Fix admin dashboard tab toggle UI for better consistency with our app
  frontend/src/views/admin/AdminDashboardPage.tsx
Due: frontend

Revert "Fix admin dashboard tab toggle UI for better consistency with our app"
  frontend/src/views/admin/AdminDashboardPage.tsx
Due: frontend

Apply suggestions from code review
  frontend/src/components/algotime/AlgoTimePageSkeleton.tsx
Due: frontend

revert buttons as skeleton since theyre dynamic
  frontend/src/components/algotime/AlgoTimePageSkeleton.tsx
  frontend/src/components/competitions/CompetitionsPageSkeleton.tsx
Due: frontend

fix dashboard graph description to dynamically change based on toggle selection
  frontend/src/components/dashboardCharts/ParticipationOverTimeChart.tsx
  frontend/src/types/adminDashboard/DashboardCharts.type.tsx
  frontend/src/views/admin/AdminDashboardPage.tsx
  frontend/tests/DashboardCharts.test.tsx
Due: frontend

add tests for new components
  frontend/tests/CompetitionTimer.test.tsx
  frontend/tests/TimesUpDialog.test.tsx
Due: frontend

Extract the pagination footer into a separate file to avoid duplication in account/qs tables
  frontend/src/components/helpers/TableSkeletonPagination.tsx
  frontend/src/components/manageAccounts/ManageAccountsSkeleton.tsx
  frontend/src/components/manageQuestions/ManageQuestionsSkeleton.tsx
Due: frontend

add units to tooltip
  frontend/src/components/dashboardCharts/TimeToSolveChart.tsx
Due: frontend

fix the refresh token, fix time display, fix > 1 min display
  backend/src/endpoints/authentification_api.py
  frontend/src/components/helpers/TimeAgoFormat.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/views/CodingView.tsx
Due: backend, frontend

fixed test
  frontend/tests/TimeAgoFormat.test.tsx
Due: frontend

fix the refresh token, fix time display, fix > 1 min display (#431)
  backend/src/endpoints/authentification_api.py
  frontend/src/components/helpers/TimeAgoFormat.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/TimeAgoFormat.test.tsx
Due: backend, frontend

fix google sign in button ui
  frontend/src/components/forms/LogInForm.tsx
  frontend/tests/LoginForm.test.tsx
Due: frontend

increase code coverage
  frontend/tests/LoginForm.test.tsx
Due: frontend

replace manual google icon svg creation with icon from react and fiz hook warnings
  frontend/src/components/forms/LogInForm.tsx
Due: frontend

revert to using GoogleLogin and adjusted width
  frontend/src/components/forms/LogInForm.tsx
  frontend/tests/LoginForm.test.tsx
Due: frontend

increase test coverage
  frontend/tests/LoginForm.test.tsx
Due: frontend

make timer component and TimeUp Dialog generic for competition and algotime
  frontend/src/components/codingPage/SessionTimer.tsx
  frontend/src/components/codingPage/TimesUpDialog.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

Update timer test with new component import
  frontend/tests/SessionTimer.test.tsx
Due: frontend

resolve sonarqube issues
  frontend/src/components/codingPage/SessionTimer.tsx
Due: frontend

Update JSON schema constraints for input and output data types in GenAIHint
  frontend/src/components/manageQuestions/QuestionsGenerativeAITooltipButton.tsx
Due: frontend

Fix typo in JSON schema for preset_classes field in QuestionsGenerativeAITooltipButton
  frontend/src/components/manageQuestions/QuestionsGenerativeAITooltipButton.tsx
Due: frontend

Fix google auth issue
  backend/src/endpoints/authentification_api.py
  frontend/src/components/forms/LogInForm.tsx
Due: backend, frontend

Fix display stats for owner as well
  backend/src/endpoints/admin_dashboard_api.py
  backend/src/endpoints/authentification_api.py
Due: backend

Remove Overview tab from Admin Dashboard
  frontend/src/views/admin/AdminDashboardPage.tsx
Due: frontend

Fix the manage comp and algo completed badges
  frontend/src/components/helpers/HomePageBanner.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

removes testcases from the description area
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/helpers/CodingHooks.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodingHooks.test.tsx
Due: frontend

Update main.py
  backend/src/main.py
Due: backend

Implement long-term statistics tracking for AlgoTime and competitions
  backend/src/database_operations/add_long_term_statistics_table.py
  backend/src/models/schema.py
  backend/src/services/algotime_cleanup.py
  backend/src/services/competition_cleanup.py
Due: backend

Add long-term statistics API and corresponding tests
  backend/src/endpoints/long_term_statistics_api.py
  backend/tests/test_long_term_statistics_api.py
Due: backend

Refactor questions solved and time to solve stats tests to align with long-term statistics structure
  backend/src/endpoints/admin_dashboard_api.py
  backend/tests/test_admin_dashboard_api.py
Due: backend

Refactor admin dashboard API to use admin_or_owner_required for access control and enhance participation stats handling
  backend/src/endpoints/admin_dashboard_api.py
  backend/tests/test_admin_dashboard_api.py
Due: backend

Add long-term statistics router to main application
  backend/src/main.py
Due: backend
