Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

bye, this should be good
  backend/tests/test_authentification.py
Due: backend

i am so done with git
  backend/tests/test_authentification.py
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/src/components/homepageQuestions/questionDataTable.tsx
  frontend/src/components/homepageQuestions/questionsColumns.tsx
  frontend/src/config.ts
Due: backend, frontend

git does not recognize case change. What the fu-
  frontend/src/components/homepageQuestions/QuestionsColumns.tsx
  frontend/src/components/homepageQuestions/questionsColumns.tsx
Due: frontend

i am SO DONE
  frontend/src/components/homepageQuestions/questionsColumns.tsx
  frontend/tests/questionsColumns.test.tsx
Due: frontend

why do we even need e2e testing
  frontend/cypress/e2e/home.cy.ts
Due: frontend

bye bye home
  frontend/cypress/e2e/home.cy.ts
Due: frontend

i'm an atheist, but i will pray
  backend/tests/test_authentification.py
Due: backend

python be slithering away from me
  backend/tests/test_authentification.py
Due: backend

i think i'm slowly slythering into python :)
  backend/tests/test_homepage_api.py
Due: backend

this is personal at this point
  backend/tests/test_leaderboards_api.py
  backend/tests/test_send_email.py
Due: backend

6 hours later
  backend/tests/test_crudOperations.py
  backend/tests/test_currentLeaderboard_api.py
  backend/tests/test_homepage_api.py
  backend/tests/test_leaderboards_api.py
  backend/tests/test_manage_accounts_api.py
  backend/tests/test_questions_api.py
  backend/tests/test_send_email.py
Due: backend

:)
  backend/tests/test_authentification.py
Due: backend

:)
  backend/tests/test_homepage_api.py
  frontend/src/views/HomePage.tsx
Due: backend, frontend

Update .gitignore to include backup files
  .gitignore
Due: none

Update .gitignore to ignore all backup files
  .gitignore
Due: none

Update db models
  backend/src/DB_Methods/crudOperations.py
  backend/src/DB_Methods/loadDBforQuestions.py
  backend/src/DB_Methods/populateDB.py
  backend/src/DB_Methods/populateDB_2.py
  backend/src/endpoints/authentification.py
  backend/src/endpoints/currentLeaderboard_api.py
  backend/src/endpoints/homepage_api.py
  backend/src/endpoints/leaderboards_api.py
  backend/src/endpoints/manage_accounts_api.py
  backend/src/endpoints/questions_api.py
  backend/src/models/__init__.py
  backend/src/models/schema.py
  backend/tests/test_crudOperations.py
  frontend/package-lock.json
Due: backend, frontend

Remove outdated backend endpoints
  backend/src/endpoints/authentification.py
  backend/src/endpoints/currentLeaderboard_api.py
  backend/src/endpoints/homepage_api.py
  backend/src/endpoints/leaderboards_api.py
  backend/src/endpoints/manage_accounts_api.py
  backend/src/endpoints/questions_api.py
  backend/src/endpoints/send_email.py
  backend/tests/test_authentification.py
  backend/tests/test_currentLeaderboard_api.py
  backend/tests/test_homepage_api.py
  backend/tests/test_leaderboards_api.py
  backend/tests/test_manage_accounts_api.py
  backend/tests/test_placeholder.py
  backend/tests/test_questions_api.py
  backend/tests/test_send_email.py
Due: backend

Update auth
  backend/src/endpoints/authentification.py
  backend/src/main.py
  backend/src/models/schema.py
  backend/tests/test_authentification.py
Due: backend

Fix frontend getQuestions
  backend/src/endpoints/questions_api.py
  backend/src/main.py
  backend/tests/test_authentification.py
  backend/tests/test_questions_api.py
  frontend/src/api/homepageQuestions.tsx
Due: backend, frontend

Add tests for retrieving all questions in the Questions API
  backend/tests/test_questions_api.py
Due: backend

Refactor database population script and add competitions API endpoint
  backend/src/DB_Methods/populateDB.py
  backend/src/DB_Methods/populateDB_2.py
  backend/src/endpoints/competitions_api.py
  backend/src/main.py
  backend/src/models/schema.py
  backend/tests/test_competitions_api.py
  frontend/src/api/homepageComp.tsx
Due: backend, frontend

Add standings API endpoints and update leaderboard interfaces
  backend/src/endpoints/standings_api.py
  backend/src/main.py
  backend/src/models/schema.py
  frontend/src/components/interfaces/Participant.tsx
  frontend/src/components/leaderboards/CurrentLeaderboard.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
Due: backend, frontend

Implement manage accounts API endpoints and update frontend API calls
  backend/src/endpoints/manage_accounts_api.py
  backend/src/main.py
  frontend/src/api/manageAccounts.tsx
Due: backend, frontend

Remove loadDBforQuestions script and associated database seeding logic
  backend/src/DB_Methods/loadDBforQuestions.py
Due: backend

Replace star imports with explicit imports
  backend/src/DB_Methods/populateDB.py
  backend/src/endpoints/authentification.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/manage_accounts_api.py
  backend/src/endpoints/questions_api.py
  backend/src/endpoints/standings_api.py
  backend/src/models/schema.py
Due: backend

Refactor leaderboard components to use consistent naming for participants and standings
  frontend/src/components/leaderboards/CurrentLeaderboard.tsx
  frontend/src/components/leaderboards/ScoreboardDataTable.tsx
  frontend/tests/CompetitionCard.test.tsx
  frontend/tests/CurrentLeaderboard.test.tsx
  frontend/tests/Leaderboards.test.tsx
Due: frontend

Remove unused user_id_fk logic from question seeding and clean up imports in API files
  backend/src/DB_Methods/populateDB.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/questions_api.py
Due: backend

Enhance leaderboard functionality by adding name field to CompetitionLeaderboardEntry and updating related components for consistency
  backend/src/endpoints/standings_api.py
  backend/src/models/schema.py
  frontend/cypress/e2e/home.cy.ts
  frontend/cypress/e2e/leaderboards.cy.ts
  frontend/src/components/interfaces/Participant.tsx
  frontend/src/components/leaderboards/ScoreboardDataTable.tsx
Due: backend, frontend

Remove Total Time header from ScoreboardDataTable component
  frontend/src/components/leaderboards/ScoreboardDataTable.tsx
Due: frontend

Update participant usernames to be consistent in CompetitionCard and CurrentLeaderboard tests
  frontend/tests/CompetitionCard.test.tsx
  frontend/tests/CurrentLeaderboard.test.tsx
Due: frontend

Clean up linter issues
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/leaderboards/ScoreboardDataTable.tsx
Due: frontend

:/
  frontend/src/views/HomePage.tsx
Due: frontend

:/
  backend/tests/test_homepage_api.py
Due: backend

i think this is it
  .vscode/settings.json
  backend/src/__pycache__/__init__.cpython-311.pyc
  backend/tests/test_competitions_api.py
  backend/tests/test_homepage_api.py
  backend/tests/test_questions_api.py
Due: backend

this should actually change stuff
  frontend/tests/HomePage.test.tsx
Due: frontend

i hate git <3
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/HomePageQuestions/questionDataTable.tsx
  frontend/src/components/questionsTable/questionDataTable.tsx
  frontend/src/components/questionsTable/questionsColumns.tsx
  frontend/src/views/HomePage.tsx
Due: frontend

i hate git <3
  frontend/tests/HomePage.test.tsx
  frontend/tests/questionDataTable.test.tsx
  frontend/tests/questionsColumns.test.tsx
Due: frontend

adding loggers in CreateCompetitionDialog and config.ts
  frontend/src/components/manageCompetitions/CreateCompetitionDialog.tsx
  frontend/src/config.ts
Due: frontend

frontend_complete
  backend/src/DB_Methods/populateDB.py
  backend/src/DB_Methods/populateDB2.py
  backend/src/models/schema.py
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/manageCompetitions/BuildEmail.tsx
  frontend/src/components/manageCompetitions/CreateCompetitionDialog.tsx
  frontend/src/types/questions/Question.type.tsx
Due: backend, frontend

Riddles table
  backend/src/models/schema.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
