Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

ignore:
  - "**/DB_Methods/**"
  - "**/migrations/**"
  - "**/generated/**"
  - "**/*.config.ts"
  - "**/__init__.py"
  - "**/ui/**"
  - "**/config.ts"
  - "**/DB_Methods/**"
  - "**/db.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

increasing test coverage
  backend/src/endpoints/authentification_api.py
  backend/tests/test_authentification.py
Due: backend

increasing test coverage
  backend/src/endpoints/authentification_api.py
Due: backend

increasing test coverage
  backend/tests/test_authentification.py
Due: backend

added more tests to increase coverage
  backend/tests/test_authentification.py
  frontend/tests/ProtectedRoute.test.tsx
Due: backend, frontend

tests pass liocally but not on pipeline :(
  backend/tests/test_authentification.py
Due: backend

fixed (hopefully) the python tests
  backend/src/endpoints/authentification_api.py
  backend/test.db
  backend/tests/conftest.py
  backend/tests/test_authentification.py
  backend/tests/test_main.py
Due: backend

refactoring judge0 API
  backend/src/endpoints/judge0_api.py
  backend/src/main.py
  frontend/package-lock.json
  frontend/src/api/Judge0API.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/lib/axiosClient.tsx
Due: backend, frontend

Update axiosClient.tsx
  frontend/src/lib/axiosClient.tsx
Due: frontend

fixed output display issues
  frontend/src/api/Judge0API.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/types/questions/Judge0Response.tsx
Due: frontend

Update CodingView.tsx
  frontend/src/components/codingPage/CodingView.tsx
Due: frontend

finished making copyable leaderboard for algotime and competition
  backend/src/endpoints/leaderboards_api.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
Due: backend, frontend

fixed react
  frontend/tests/CompetitionCard.test.tsx
Due: frontend

fixing sonar qube
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
Due: frontend

improve cov
  backend/tests/test_leaderboard_api.py
  frontend/tests/AlgoTimeCard.test.tsx
Due: backend, frontend

improve cov
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
Due: frontend

basic connection to posthog competed
  backend/src/endpoints/authentification_api.py
  backend/src/posthog_client.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/main.tsx
Due: backend, frontend

Fixed sidebar trigger's ui
  frontend/src/components/layout/AppLayout.tsx
Due: frontend

fixed components not stretching to fill gaps when the sidebar is closed for the pages Leaderboards and Home
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/views/HomePage.tsx
Due: frontend

added loading visual
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/helpers/Loader.tsx
  frontend/src/components/ui/spinner.tsx
Due: frontend

Update Loader.tsx
  frontend/src/components/helpers/Loader.tsx
Due: frontend

loader tests
  frontend/src/components/helpers/Loader.tsx
  frontend/tests/Loader.test.tsx
Due: frontend

added testcases parsing for judge0
  frontend/src/api/Judge0API.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/CodingView.tsx
Due: frontend

judge0 api be working
  backend/src/endpoints/judge0_api.py
  frontend/src/api/Judge0API.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/tests/Judge0API.test.tsx
Due: backend, frontend

judge0 code cleanup
  frontend/src/api/Judge0API.tsx
  frontend/src/components/codingPage/CodingView.tsx
Due: frontend

more cleanup
  frontend/src/components/codingPage/CodingView.tsx
Due: frontend

omgggg finally done with the jest tests
  frontend/src/api/Judge0API.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/codingPage/ConsoleOutput.tsx
  frontend/tests/CodeMultiLangTemplate.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/ConsoleOutput.test.tsx
  frontend/tests/Judge0API.test.tsx
  frontend/tests/Loader.test.tsx
Due: frontend

judge0 pytests
  backend/src/endpoints/judge0_api.py
  backend/tests/test_judge0_api.py
Due: backend

cleanup
  backend/src/endpoints/judge0_api.py
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
Due: backend, frontend

Update main.py
  backend/src/main.py
Due: backend

fixing_pytests
  .github/workflows/CI_Pipeline.yml
  .github/workflows/sonarqube.yml
  backend/src/endpoints/judge0_api.py
  backend/tests/test_competitions_api.py
  backend/tests/test_judge0_api.py
Due: backend

fixing_pipeline
  .github/workflows/CI_Pipeline.yml
Due: none

Updated judge0_apy.py to properly validate the judge0 url
  backend/src/endpoints/judge0_api.py
Due: backend

fixing_pipeline
  .github/workflows/sonarqube.yml
Due: none

comments
  backend/src/main.py
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
Due: backend, frontend
