Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix ManageAlgotimeSessionPage tests
  frontend/tests/ManageAlgotimeSessionsPage.test.tsx
Due: frontend

Adjust formatting in ManageQuestions table
  frontend/src/components/manageQuestions/ManageQuestionsColumns.tsx
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
Due: frontend

Set colour theme based on user preferences
  frontend/index.html
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/layout/NavUser.tsx
  frontend/src/views/LogInPage.tsx
  frontend/src/views/ProfilePage.tsx
Due: frontend

Address sonarqube issues in algotimeForm and ManageAlgotimeSsessionsPage
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
Due: frontend

refactores code run and submission
  backend/src/endpoints/authentification_api.py
  backend/src/endpoints/base_event_api.py
  frontend/package-lock.json
  frontend/src/api/Judge0API.tsx
  frontend/src/api/QuestionsAPI.tsx
  frontend/tests/CodeSubmissionAPI.test.tsx
  frontend/tests/Judge0API.test.tsx
Due: backend, frontend

handles user joining a competition event
  frontend/src/views/CodingView.tsx
Due: frontend

refactors CodingView to handle multiple questions and CodeDescArea to display a question's riddle appropriately
  frontend/src/api/RiddlesAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/Judge0API.test.tsx
Due: frontend

Update CodeDescArea.test.tsx
  frontend/tests/CodeDescArea.test.tsx
Due: frontend

Update column alignment to center in ManageQuestions table
  frontend/src/components/manageQuestions/ManageQuestionsColumns.tsx
Due: frontend

Remove unused import of Tag in ManageQuestionsColumns
  frontend/src/components/manageQuestions/ManageQuestionsColumns.tsx
Due: frontend

fixes dialog component title issue
  frontend/src/components/helpers/Loader.tsx
  frontend/src/components/manageAccounts/UserActionsCell.tsx
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

adds the api and ui to view all previous submissions
  backend/src/endpoints/submission_api.py
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/types/SubmitAttemptResponse.type.tsx
  frontend/src/views/CodingView.tsx
Due: backend, frontend

adds all submissions in the desc area and their tests, and more detail view
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodeSubmissionAPI.test.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

Changed all hardcoded colours to our preset colours to ensure that it looks fine in dark mode as well
  frontend/src/components/algotime/SessionQuestionSelector.tsx
  frontend/src/components/createActivity/SelectionCard.tsx
  frontend/src/components/dashboardCards/ManageCard.tsx
  frontend/src/components/layout/AppSidebar.tsx
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
  frontend/src/components/leaderboards/AlgoTimeDataTable.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
  frontend/src/components/leaderboards/CurrentLeaderboard.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/components/leaderboards/ScoreboardDataTable.tsx
  frontend/src/index.css
  frontend/src/views/AlgoTimePage.tsx
  frontend/src/views/ProfilePage.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
  frontend/src/views/admin/ManageRiddlePage.tsx
Due: frontend

Fixed failing AlgoTimeDataTable tests
  frontend/tests/AlgoTimeDataTable.test.tsx
Due: frontend

Refactored the difficulty colours to index.css to make them reusable, thus allowing the website be more consistent
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/src/index.css
Due: frontend

changes submission details ui and updated CodeDescArea test
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/tests/CodeDescArea.test.tsx
Due: frontend

refactor ManageAccounts FE and BE to return DTO instead of ORM as well as move filtering to BE
  backend/src/endpoints/manage_accounts_api.py
  frontend/src/api/AccountsAPI.tsx
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
  frontend/src/views/admin/ManageAccountsPage.tsx
Due: backend, frontend

update backend test for manage_accounts_api.py to match backend refactor
  backend/tests/test_manage_accounts_api.py
Due: backend

refactor failing manageAccounts frontend tests
  frontend/tests/AccountsAPI.test.tsx
  frontend/tests/ManageAccountsDataTable.test.tsx
  frontend/tests/ManageAccountsPage.test.tsx
Due: frontend

refactor failing HomePage tests
  frontend/tests/HomePage.test.tsx
Due: frontend

refactor failing questions frontend tests
  frontend/tests/questionDataTable.test.tsx
Due: frontend

remove support for raw array responses
  frontend/src/api/AccountsAPI.tsx
Due: frontend

update tests to remove raw array support
  frontend/tests/AccountsAPI.test.tsx
Due: frontend

update Riddles FE and BE to use pagination instead of .all() and to perform filtering in backend
  backend/src/endpoints/riddles_api.py
  frontend/src/api/RiddlesAPI.tsx
  frontend/src/views/admin/ManageRiddlePage.tsx
Due: backend, frontend

update backend test for riddles
  backend/tests/test_riddles_api.py
Due: backend

update frontend tests for riddles
  frontend/tests/ManageRiddlePage.test.tsx
  frontend/tests/RiddlesAPI.test.tsx
Due: frontend

updates CodeDescArea tests
  frontend/src/types/SubmissionType.type.tsx
  frontend/src/types/SubmitAttemptResponse.type.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodeSubmissionAPI.test.tsx
Due: frontend

fixes sonarqube issues
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodeSubmissionAPI.test.tsx
Due: frontend

refactors TimeAgoFormat function to its own file
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/helpers/TimeAgoFormat.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/TimeAgoFormat.test.tsx
Due: frontend

remove raw exception details from questions_api 500 responses
  backend/src/endpoints/questions_api.py
Due: backend

replace SystemExit with HTTP 503 in send_email_api for missing env vars
  backend/src/endpoints/send_email_api.py
Due: backend

clean up more apis by removing raw exception details
  backend/src/endpoints/algotime_sessions_api.py
  backend/src/endpoints/authentification_api.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/most_recent_sub_api.py
  backend/src/endpoints/question_instance_api.py
  backend/src/endpoints/submission_api.py
  backend/src/endpoints/user_preferences_api.py
Due: backend

replace raw exception by a safe generic msg
  backend/src/endpoints/judge0_api.py
Due: backend

remove internal information leaks from config endpoint, console logs, and error msgs
  backend/src/main.py
  frontend/src/api/AuthAPI.tsx
  frontend/src/components/forms/LogInForm.tsx
Due: backend, frontend

prevent API startup crash when Supabase env vars are missing in riddles_api
  backend/src/endpoints/riddles_api.py
Due: backend

prevent CodingView crash when navigating to non-existant problem
  frontend/src/views/CodingView.tsx
Due: frontend

Path conditions:
  backend: any of: backend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
  frontend: any of: frontend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
