Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

ignore:
  - "**/DB_Methods/**"
  - "**/migrations/**"
  - "**/generated/**"
  - "**/*.config.ts"
  - "**/__init__.py"
  - "**/ui/**"
  - "**/config.ts"
  - "**/DB_Methods/**"
  - "**/db.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

update focus ring to be 2px
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
Due: none

update accent color
  frontend/src/index.css
Due: frontend

working on question instance api
  backend/src/endpoints/question_instance_api.py
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/api/Judge0API.tsx
  frontend/src/api/QuestionInstanceAPI.tsx
  frontend/src/types/questions/QuestionInstance.type.tsx
  frontend/src/views/CodingView.tsx
Due: backend, frontend

Update schema.py
  backend/src/models/schema.py
Due: backend

Update main.py
  backend/src/main.py
Due: backend

add pagination to manage accounts page
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
  frontend/src/components/ui/pagination.tsx
Due: frontend

apis are done
  backend/src/endpoints/question_instance_api.py
  backend/src/endpoints/submission_api.py
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/api/QuestionInstanceAPI.tsx
  frontend/src/views/CodingView.tsx
Due: backend, frontend

toast
  frontend/src/views/CodingView.tsx
Due: frontend

address coments and fix tests
  frontend/src/components/createActivity/GeneralInfoCard.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/tests/AlgoTimeForm.test.tsx
Due: frontend

functioning toast
  frontend/src/views/CodingView.tsx
Due: frontend

lint fixes
  backend/src/main.py
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
Due: backend, frontend

fix calendar component and icon
  frontend/src/components/createActivity/GeneralInfoCard.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: frontend

more simple fixes
  backend/src/endpoints/most_recent_sub_api.py
  backend/src/endpoints/question_instance_api.py
  backend/src/endpoints/submission_api.py
  frontend/src/api/CodeSubmissionAPI.tsx
Due: backend, frontend

cleanup
  backend/src/endpoints/most_recent_sub_api.py
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
Due: backend, frontend

backend fix and new jest tests
  backend/src/endpoints/submission_api.py
  backend/tests/test_question_instance_api.py
  backend/tests/test_submission_api.py
Due: backend

fix jest test
  frontend/src/views/CodingView.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

fix db populator script
  backend/src/DB_Methods/populateDB2.py
Due: none

jest tests
  backend/src/endpoints/question_instance_api.py
  backend/src/endpoints/submission_api.py
  frontend/tests/CodeSubmission.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/QuestionInstance.test.tsx
Due: backend, frontend

update page count and add cancel button to deselect selected accounts
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
Due: frontend

make button cursor-pointer temporarily before the proper refactor for it
  frontend/src/components/manageAccounts/UserActionsCell.tsx
Due: frontend

make dropdown menu items cursor-pointer
  frontend/src/components/ui/dropdown-menu.tsx
Due: none

add filter by name button in column header
  frontend/src/components/manageAccounts/ManageAccountsColumns.tsx
Due: frontend

update failing tests
  frontend/tests/ManageAccountsDataTable.test.tsx
  frontend/tests/UserActionsCell.test.tsx
Due: frontend

revert changes made to hover for ghost variant buttons
  frontend/src/components/ui/button.tsx
Due: none

update pagination ui
  frontend/src/components/ui/pagination.tsx
Due: none

update pagination ui and make it dynamic for smaller screens
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
  frontend/src/components/ui/pagination.tsx
Due: frontend

update tests
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
  frontend/tests/ManageAccountsColumns.test.tsx
  frontend/tests/ManageAccountsDataTable.test.tsx
Due: frontend

Token refresh (#260)
  .github/workflows/sonarqube.yml
  backend/src/__pycache__/__init__.cpython-311.pyc
  backend/src/endpoints/authentification_api.py
  backend/test.db
  backend/tests/conftest.py
  backend/tests/test_authentification.py
  backend/tests/test_main.py
  frontend/src/api/AuthAPI.tsx
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/components/helpers/ProtectedRoute.tsx
  frontend/src/lib/axiosClient.tsx
  frontend/src/types/Auth.type.tsx
  frontend/tests/AuthAPI.test.tsx
  frontend/tests/LoginForm.test.tsx
  frontend/tests/ProtectedRoute.test.tsx
  frontend/tests/SignupForm.test.tsx
  sonar-project.properties
Due: backend, frontend

Update CodeSubmission.test.tsx
  frontend/tests/CodeSubmission.test.tsx
Due: frontend

Update QuestionInstance.test.tsx
  frontend/tests/QuestionInstance.test.tsx
Due: frontend

all the apis work
  backend/src/DB_Methods/populateDB2.py
  backend/src/endpoints/most_recent_sub_api.py
  backend/src/endpoints/question_instance_api.py
  backend/src/endpoints/submission_api.py
  backend/src/main.py
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/api/Judge0API.tsx
  frontend/src/api/MostRecentSubAPI.tsx
  frontend/src/types/MostRecentSub.type.tsx
  frontend/src/views/CodingView.tsx
Due: backend, frontend

cleanup
  frontend/src/views/CodingView.tsx
Due: frontend

tests
  backend/src/endpoints/most_recent_sub_api.py
  backend/src/endpoints/question_instance_api.py
  backend/src/endpoints/submission_api.py
  backend/tests/test_mock_recent_sub_api.py
  frontend/tests/CodeSubmission.test.tsx
  frontend/tests/Judge0API.test.tsx
  frontend/tests/MostRecentSubAPI.test.tsx
  frontend/tests/QuestionInstance.test.tsx
Due: backend, frontend

updating last used prog lang
  backend/src/endpoints/user_preferences_api.py
  backend/src/main.py
  backend/tests/test_user_preferences_api.py
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/api/Judge0API.tsx
  frontend/src/api/UserPreferencesAPI.tsx
  frontend/src/types/CodeRunResponse.type.tsx
  frontend/src/types/SubmitAttemptResponse.type.tsx
  frontend/src/types/UserPreferences.type.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/CodeSubmissionAPI.test.tsx
  frontend/tests/CodingView.test.tsx
Due: backend, frontend

Most tests pass now (just missing CodingView's)
  backend/src/endpoints/user_preferences_api.py
  backend/tests/test_mock_recent_sub_api.py
  backend/tests/test_user_preferences_api.py
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/api/UserPreferencesAPI.tsx
  frontend/tests/CodeSubmissionAPI.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/Judge0API.test.tsx
  frontend/tests/MostRecentSubAPI.test.tsx
  frontend/tests/UserPreferencesAPI.test.tsx
Due: backend, frontend

CodingView tests are done
  frontend/src/components/codingPage/ConsoleOutput.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/Judge0API.test.tsx
Due: frontend

Fixing sonarqube issues
  backend/src/main.py
  frontend/src/api/Judge0API.tsx
  frontend/src/components/codingPage/ConsoleOutput.tsx
Due: backend, frontend

refactored getProfile to judge0API
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/api/Judge0API.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/CodeSubmissionAPI.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/Judge0API.test.tsx
Due: frontend

comment cleanup
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/api/Judge0API.tsx
Due: frontend
