Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix AlgoTimeCard.tsx for sonarqube issues
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
Due: frontend

fix leaderboards_api.py for sonarqube issues
  backend/src/endpoints/leaderboards_api.py
Due: backend

fix typo in AlgoTimeCard.tsx
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
Due: frontend

fix AlgoTimeDataTable.tsx with the sonarqube issues
  frontend/src/components/leaderboards/AlgoTimeDataTable.tsx
Due: frontend

fix vulnerabilities in dependencies by running npm audit fix
  frontend/package-lock.json
Due: frontend

refactor ui to use primary color and follow theme of website
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
Due: frontend

fix leaderboard ui to match the rest of the website
  frontend/src/components/leaderboards/AlgoTimeDataTable.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/components/leaderboards/ScoreboardDataTable.tsx
Due: frontend

update button to add disabled:cursor-not-allowed
  frontend/src/components/ui/button.tsx
Due: none

fix visibility ring for search bar
  frontend/src/views/ChangePasswordPage.tsx
  frontend/src/views/ProfilePage.tsx
Due: frontend

refactor search icon to be purple
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
  frontend/src/views/admin/ManageRiddlePage.tsx
Due: frontend

fix test to use puzzle icon
  frontend/tests/ManageRiddles.test.tsx
Due: frontend

fix test to use updated color
  frontend/tests/AlgoTimeDataTable.test.tsx
Due: frontend

fix frontend lint isue regarding unused import
  frontend/src/views/admin/ManageRiddlePage.tsx
Due: frontend

Update leaderboards_api.py
  backend/src/endpoints/leaderboards_api.py
Due: backend

change favicon and tab title
  frontend/index.html
Due: frontend

add the property "cursor-pointer" to the default Button element
  backend/src/main.py
  frontend/src/components/ui/button.tsx
Due: backend

remove the cursor-pointer classnames in the elements
  frontend/src/components/dashboardCards/ManageCard.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/components/forms/FileUpload.tsx
  frontend/src/components/forms/ForgotPasswordForm.tsx
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/forms/ResetPasswordForm.tsx
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/components/helpers/HomePageBanner.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
  frontend/src/components/manageAccounts/UserActionsCell.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/helpers/TimeInput.tsx
  frontend/src/views/AlgoTimePage.tsx
  frontend/src/views/ChangePasswordPage.tsx
  frontend/src/views/CompetitionsPage.tsx
  frontend/src/views/ProfilePage.tsx
  frontend/src/views/admin/AdminDashboardPage.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
  frontend/src/views/admin/ManageRiddlePage.tsx
  frontend/tests/ManageCompetitionsPage.test.tsx
Due: frontend

updated file hierarchy
  backend/src/endpoints/admin_dashboard_api.py
  backend/src/endpoints/algotime_sessions_api.py
  backend/src/endpoints/authentification_api.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/judge0_api.py
  backend/src/endpoints/leaderboards_api.py
  backend/src/endpoints/manage_accounts_api.py
  backend/src/endpoints/questions_api.py
  backend/src/endpoints/riddles_api.py
  backend/src/endpoints/send_email_api.py
  backend/src/main.py
  backend/src/services/email_scheduler.py
  backend/src/services/posthog_analytics.py
  backend/tests/test_email_scheduler.py
  backend/tests/test_posthog_analytics.py
Due: backend

fix: update pip cache key and requirements path in CI pipeline
  .github/workflows/CI_Pipeline.yml
Due: none

remove old requirements file and add new one with updated dependencies
  backend/src/requirements.txt
  frontend/src/components/forms/RiddleForm.tsx
Due: backend, frontend

update requirements file location and remove old one
  .github/workflows/sonarqube.yml
  backend/requirements.txt
Due: backend

refactor: update import paths from DB_Methods to database_operations in test files
  .github/workflows/sonarqube.yml
  backend/tests/test_algotime_sessions_api.py
  backend/tests/test_client_log_api.py
  backend/tests/test_competitions_api.py
  backend/tests/test_email_scheduler.py
  backend/tests/test_mock_recent_sub_api.py
  backend/tests/test_posthog_analytics.py
  backend/tests/test_question_instance_api.py
  backend/tests/test_questions_api.py
  backend/tests/test_riddles_api.py
  backend/tests/test_submission_api.py
  backend/tests/test_user_preferences_api.py
Due: backend

chore: remove unused test database file
  backend/test.db
Due: backend

add cursor-pointer to objects that are not buttons but should be clickable
  frontend/src/components/dashboardCards/ManageCard.tsx
  frontend/src/components/forms/FileUpload.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/helpers/TimeInput.tsx
  frontend/src/views/AlgoTimePage.tsx
  frontend/src/views/CompetitionsPage.tsx
  frontend/src/views/admin/AdminDashboardPage.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
  frontend/src/views/admin/ManageRiddlePage.tsx
Due: frontend

fix ManageCompetitionsPage (I had mistakenly removed the cursor-pointer property from this file)
  frontend/tests/ManageCompetitionsPage.test.tsx
Due: frontend

test: enhance CodeDescArea tests with riddle logic and tab functionality
  frontend/tests/CodeDescArea.test.tsx
Due: frontend

remove the localhost references (committed by mistake in previous commits)
  backend/src/main.py
Due: backend

feat: add unauthorized response handling for authentication routes
  backend/src/endpoints/authentification_api.py
  backend/src/endpoints/competitions_api.py
  frontend/src/components/forms/FileUpload.tsx
  frontend/src/components/forms/RiddleForm.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: backend, frontend

fix: improve formatting and structure of TimeInput component
  frontend/src/helpers/TimeInput.tsx
Due: frontend

feat: enhance client log API with improved sanitization and structured logging
  backend/src/endpoints/log_api.py
  backend/src/main.py
  backend/tests/test_client_log_api.py
Due: backend

Could not verify signature. Please contact Codecov if problem continues
  backend/src/main.py
Due: backend

create endpoint and api for edit and delete
  backend/src/endpoints/algotime_sessions_api.py
  frontend/src/api/AlgotimeAPI.tsx
Due: backend, frontend

create ui for delete algotime, fix failing endpoint for delete and edit algotime and fix bug in creat AT error handling
  backend/src/endpoints/algotime_sessions_api.py
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/main.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
Due: backend, frontend

Implement Question JSON Editor and update question handling in UI
  frontend/src/components/manageQuestions/ManageQuestionsColumns.tsx
  frontend/src/components/manageQuestions/QuestionActionsCell.tsx
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
  frontend/src/main.tsx
  frontend/src/types/questions/Question.type.tsx
Due: frontend

Add warning if you go back with unsaved changes
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
Due: frontend

Setup link to ManageQuestions page (reset after main merge)
  frontend/src/views/admin/AdminDashboardPage.tsx
Due: frontend

create AlgoTime edit dialog and make AlgoTime form a reusable component for the dialog
  frontend/src/api/AlgotimeAPI.tsx
  frontend/src/components/algotime/EditAlgotimeDialog.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
Due: frontend

Enhance Question model with additional properties and update related tests
  frontend/src/api/QuestionsAPI.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/ManageQuestionsColumns.test.tsx
  frontend/tests/QuestionsAPI.test.tsx
  frontend/tests/questionDataTable.test.tsx
  frontend/tests/questionsColumns.test.tsx
Due: frontend

Linting issues
  frontend/src/components/leaderboards/CompetitionCard.tsx
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
Due: frontend

Path conditions:
  backend: any of: backend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
  frontend: any of: frontend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
