Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

chaged_jest_config_file
  frontend/jest.config.mjs
Due: none

chaged_sonar_pipeline_file
  .github/workflows/sonarqube.yml
Due: none

Refactor database
  backend/src/DB_Methods/crudOperations.py
  backend/src/endpoints/authentification.py
  backend/src/endpoints/currentLeaderboard_api.py
  backend/src/endpoints/homepage_api.py
  backend/src/endpoints/leaderboards_api.py
  backend/src/endpoints/manage_accounts_api.py
  backend/src/endpoints/questions_api.py
  backend/src/main.py
  backend/src/models/schema.py
  frontend/package-lock.json
  frontend/src/api/homepageQuestions.tsx
Due: frontend, backend

clean_sonar_pipeline
  .github/workflows/sonarqube.yml
Due: none

Fix merge issues back into DB branch
  backend/src/endpoints/leaderboards_api.py
  backend/src/endpoints/manage_accounts_api.py
  backend/src/models/schema.py
Due: backend

Refactor get_all_competitions function for improved readability
  backend/src/endpoints/leaderboards_api.py
Due: backend

Fix logging message to correctly reflect the number of aggregated competitions
  backend/src/endpoints/leaderboards_api.py
Due: backend

clean_sonar_pipeline
  .github/workflows/sonarqube.yml
  codecov.yml
Due: none

fixing comments
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/algotime/SessionQuestionSelector.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/views/AlgoTimeSession.tsx
Due: frontend

fixed issues from merge conflict
  frontend/src/views/AdminDashboardPage.tsx
Due: frontend

removed the file that came back during merge
  frontend/src/components/dashboard/AdminDashboard.tsx
Due: frontend

clean_sonar_pipeline
  README.md
Due: none

modified CurrentLeaderboards.tsx
  frontend/src/api/leaderboards.tsx
  frontend/src/components/leaderboards/CurrentLeaderboard.tsx
  frontend/src/types/leaderboards/CurrentStandings.tsx
Due: frontend

fix validate form error
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: frontend

- Started with adjusting axios use in Leaderboards.tsx - Fixed Competition type since it was repeating in two places - Foxed all refactoring conflicts that came with that
  backend/src/DB_Methods/populateDB_2.py
  backend/src/endpoints/authentification_api.py
  backend/src/endpoints/homepage_api.py
  backend/src/main.py
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/api/auth.tsx
  frontend/src/api/homepageComp.tsx
  frontend/src/api/leaderboardsAPI.tsx
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/components/interfaces/Competition.tsx
  frontend/src/components/leaderboards/CurrentLeaderboard.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/types/Competition.tsx
  frontend/src/types/CompetitionItem.tsx
  frontend/src/views/HomePage.tsx
Due: frontend, backend

address tina's comments
  frontend/src/components/algotime/SessionQuestionSelector.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/main.tsx
  frontend/src/views/admin/AdminDashboardPage.tsx
  frontend/src/views/admin/AlgoTimeSession.tsx
Due: frontend

-fix tests and lint issues
  frontend/src/components/algotime/SessionQuestionSelector.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/tests/AdminDashboardPage.test.tsx
  frontend/tests/AlgoTimeSession.test.tsx
Due: frontend

fix api call in CreateCompetitionDialog.tsx
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/questions_api.py
  backend/src/endpoints/send_email_api.py
  backend/src/main.py
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/api/leaderboardsAPI.tsx
  frontend/src/components/interfaces/Question.tsx
  frontend/src/components/leaderboards/CurrentLeaderboard.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/components/manage-competitions/CreateCompetitionDialog.tsx
  frontend/src/views/HomePage.tsx
Due: frontend, backend

fixed last comments and updates failing tests
  frontend/src/api/auth.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/main.tsx
  frontend/src/types/AlgoTime.tsx
  frontend/src/views/admin/AlgoTimeSession.tsx
  frontend/src/views/admin/ManageAccountsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
  frontend/tests/AlgoTimeSession.test.tsx
  frontend/tests/ManageAccountsPage.test.tsx
  frontend/tests/ManageCompetitionsPage.test.tsx
Due: frontend

fixed imports that fail tests
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/forms/SignupForm.tsx
Due: frontend

Fix file casing for Auth.tsx
  frontend/src/types/Auth.tsx
Due: frontend

Feat/133-algo-time-fe (#144)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/auth.tsx
  frontend/src/components/algotime/SessionQuestionSelector.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/components/ui/accordion.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/main.tsx
  frontend/src/types/AlgoTime.tsx
  frontend/src/types/Auth.tsx
  frontend/src/views/admin/AdminDashboardPage.tsx
  frontend/src/views/admin/AlgoTimeSession.tsx
  frontend/src/views/admin/ManageAccountsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
  frontend/tests/AdminDashboardPage.test.tsx
  frontend/tests/AlgoTimeSession.test.tsx
  frontend/tests/ManageAccountsPage.test.tsx
  frontend/tests/ManageCompetitionsPage.test.tsx
Due: frontend

Modified AlgoTimeForm
  frontend/src/api/EmailAPI.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: frontend

Refactored CreateCompetitionDialog.tsx
  frontend/src/components/manage-competitions/CreateCompetitionDialog.tsx
Due: frontend

fixed some wording in multiple files
  frontend/src/views/HomePage.tsx
  frontend/src/views/admin/ManageAccountsPage.tsx
Due: frontend

Renamed the api files and the type files
  frontend/src/api/AccountsAPI.tsx
  frontend/src/api/AuthAPI.tsx
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/api/LoggerAPI.tsx
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/api/leaderboardsAPI.tsx
  frontend/src/components/algotime/SessionQuestionSelector.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/components/helpers/CodeMultiLangTemplate.tsx
  frontend/src/components/helpers/SandpackConfig.tsx
  frontend/src/components/interfaces/CodeItem.tsx
  frontend/src/components/layout/NavUser.tsx
  frontend/src/components/leaderboards/CurrentLeaderboard.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/components/leaderboards/ScoreboardDataTable.tsx
  frontend/src/components/manageAccounts/ManageAccountsColumns.tsx
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
  frontend/src/components/manageAccounts/UserActionsCell.tsx
  frontend/src/components/manageCompetitions/CreateCompetitionDialog.tsx
  frontend/src/types/Auth.type.tsx
  frontend/src/types/LogPayload.type.tsx
  frontend/src/types/SubmissionType.type.tsx
  frontend/src/types/VariableTemplate.type.tsx
  frontend/src/types/account/Account.type.tsx
  frontend/src/types/account/Participant.type.tsx
  frontend/src/types/algoTime/AlgoTime.type.tsx
  frontend/src/types/competition/Competition.type.tsx
  frontend/src/types/competition/CreateCompetition.type.tsx
  frontend/src/types/leaderboards/CurrentStandings.type.tsx
  frontend/src/types/questions/Question.type.tsx
  frontend/src/types/questions/QuestionTemplate.type.tsx
  frontend/src/types/questions/QuestionsInfo.type.tsx
  frontend/src/views/HomePage.tsx
  frontend/src/views/admin/ManageAccountsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

fixed some tests
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/components/algotime/SessionQuestionSelector.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/types/competition/Competition.type.tsx
  frontend/src/types/competition/CompetitionWithParticipants.type.tsx
  frontend/src/views/HomePage.tsx
  frontend/tests/AlgoTimeSession.test.tsx
  frontend/tests/CompetitionCard.test.tsx
  frontend/tests/CreateCompetitionDialog.test.tsx
  frontend/tests/CurrentLeaderboard.test.tsx
  frontend/tests/HomePage.test.tsx
  frontend/tests/Leaderboards.test.tsx
  frontend/tests/LoginForm.test.tsx
  frontend/tests/ManageAccountsColumns.test.tsx
  frontend/tests/ManageAccountsDataTable.test.tsx
  frontend/tests/ManageAccountsPage.test.tsx
  frontend/tests/ManageCompetitionsPage.test.tsx
  frontend/tests/NavUser.test.tsx
  frontend/tests/SignupForm.test.tsx
  frontend/tests/UserActionsCell.test.tsx
Due: frontend

fixed tests
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/config.ts
  frontend/tests/CompetitionCard.test.tsx
  frontend/tests/CreateCompetitionDialog.test.tsx
  frontend/tests/HomePage.test.tsx
  frontend/tests/Leaderboards.test.tsx
  frontend/tests/ManageAccountsColumns.test.tsx
  frontend/tests/ManageCompetitionsPage.test.tsx
  frontend/tests/UserActionsCell.test.tsx
  frontend/tests/questionDataTable.test.tsx
  frontend/tests/questionsColumns.test.tsx
Due: frontend

fixed tests
  frontend/src/api/QuestionsAPI.tsx
  frontend/tests/CompetitionCard.test.tsx
  frontend/tests/CreateCompetitionDialog.test.tsx
Due: frontend

hopefully fixed all
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/config.ts
Due: frontend

hopefully fixed all
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/questions_api.py
Due: backend

bye, this should be good
  frontend/cypress/e2e/dashboard.cy.ts
  frontend/cypress/e2e/home.cy.ts
  frontend/cypress/e2e/leaderboards.cy.ts
  frontend/src/config.ts
Due: frontend

Path conditions:
  frontend: any of: frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.test.jsx, **/*.spec.ts, **/*.spec.tsx, **/*.spec.js, **/*.spec.jsx, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/.scannerwork/**, **/coverage/**, **/dist/**, **/build/**
  backend: any of: backend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.test.js, **/*.test.jsx, **/*.spec.ts, **/*.spec.tsx, **/*.spec.js, **/*.spec.jsx, **/tests/**, **/test/**, **/__tests__/**, **/node_modules/**, **/.venv/**, **/venv/**, **/.scannerwork/**, **/coverage/**, **/dist/**, **/build/**
