Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

test
  frontend/netlify.toml
Due: frontend

test
  netlify.toml
Due: none

test
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
Due: frontend

Updated the build command in frontend (#189)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/AccountsAPI.tsx
  frontend/src/components/algotime/SessionQuestionSelector.tsx
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
  frontend/tsconfig.app.json
  netlify.toml
Due: frontend

Revise installation and database creation instructions
  README.md
Due: none

fix: update backend URL to production environment
  backend/src/__pycache__/__init__.cpython-311.pyc
  backend/src/main.py
  docker-compose.yml
  frontend/cypress.config.js
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
  frontend/jest.config.mjs
  frontend/src/config.ts
  frontend/src/lib/axiosClient.tsx
  frontend/tests/HomePage.test.tsx
  frontend/tests/__mocks__/config.ts
  frontend/tests/setupTests.ts
Due: backend, frontend

finally made judge0 call work...just need to work on displaying it it
  frontend/src/api/Judge0API.tsx
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/codingPage/Testcases.tsx
  frontend/src/types/SubmissionType.type.tsx
Due: frontend

refactor: comment out code in populateDB, populateDB2, and init_db sc… (#184)
  backend/src/DB_Methods/populateDB.py
  backend/src/DB_Methods/populateDB2.py
  backend/src/__pycache__/__init__.cpython-311.pyc
  backend/src/init_db.py
  backend/src/main.py
  docker-compose.yml
  frontend/cypress.config.js
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
  frontend/jest.config.mjs
  frontend/src/config.ts
  frontend/src/lib/axiosClient.tsx
  frontend/src/main.tsx
  frontend/tests/HomePage.test.tsx
  frontend/tests/__mocks__/config.ts
  frontend/tests/setupTests.ts
Due: backend, frontend

fix: update CORS origins to include production URLs
  backend/src/main.py
Due: backend

fix: update competition API intercept to match backend URL pattern
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
Due: frontend

fix: update CORS origins to allow only production frontend URLs
  backend/src/main.py
Due: backend

i think i fixed
  backend/src/__pycache__/__init__.cpython-311.pyc
  backend/src/main.py
Due: backend

did not fix
  backend/src/main.py
Due: backend

Fix formatting and typos in pull request template
  .github/pull_request_template.md
Due: none

Update CompetitionLeaderboardEntry to include full name and mock total time
  backend/src/DB_Methods/populateDB.py
Due: backend

Create endpoint to upload single question and batch of questions
  backend/src/endpoints/questions_api.py
Due: backend

Fix import issue in test_questions_api
  backend/tests/test_questions_api.py
Due: backend

Add unit tests around uploading questions
  backend/src/endpoints/questions_api.py
  backend/tests/test_questions_api.py
Due: backend

package-lock.josn
  frontend/package-lock.json
Due: frontend

Remove unused import statement from questions_api.py
  backend/src/endpoints/questions_api.py
Due: backend

Fix merge issues where some lines were getting uncommented unintentionally
  backend/src/DB_Methods/populateDB.py
Due: backend

fix: update CORS origins to allow only production frontend URLs (#194)
  backend/src/__pycache__/__init__.cpython-311.pyc
  backend/src/main.py
Due: backend

cors
  backend/src/main.py
Due: backend

default test case
  frontend/src/components/codingPage/Testcases.tsx
Due: frontend

cleanup
  frontend/src/components/codingPage/CodingView.tsx
Due: frontend

feat: add CORS debug endpoint to return allowed origins
  backend/src/__pycache__/__init__.cpython-311.pyc
  backend/src/main.py
Due: backend

fix: correct typo in competition API intercept URL
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
Due: frontend

fix: update Netlify configuration for build settings and CORS headers
  netlify.toml
Due: none

redoing and cleaning up test cases
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/codingPage/Testcases.tsx
  frontend/src/components/helpers/useTestcases.tsx
  frontend/tests/CodingDescArea.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/Testcases.test.tsx
Due: frontend

fixing SonarQube 1: Remove this commented out code
  sonar-project.properties
Due: none

fixing SonarQube 2: Changing parsint for Number.parseInt
  backend/src/endpoints/competitions_api.py
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
  frontend/src/views/LogInPage.tsx
  frontend/src/views/ProfilePage.tsx
  frontend/src/views/SignupPage.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
  sonar-project.properties
Due: backend, frontend

fixing SonarQube 3: Removing unsued arguments
  backend/src/endpoints/competitions_api.py
Due: backend

fixing SonarQube 3: nested issues
  frontend/src/components/dashboardCards/StatsCard.tsx
  frontend/src/components/dashboardCharts/ParticipationOverTimeChart.tsx
  frontend/src/components/forms/FileUpload.tsx
  frontend/src/components/forms/ForgotPasswordForm.tsx
  frontend/src/components/helpers/CodeMultiLangTemplate.tsx
Due: frontend

fixing SonarQube 5: fixed nested ternary
  frontend/src/components/leaderboards/AlgoTimeDataTable.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
Due: frontend

fix cypress
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
  frontend/cypress/e2e/loginPage.cy.ts
Due: frontend

fix cypress account level in ManageCompetitionsPage.cy.ts
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
Due: frontend

fix codecoverage setup file
  codecov.yml
Due: none

fixing SonarQube 6: duplicate in imports
  frontend/src/components/forms/ForgotPasswordForm.tsx
Due: frontend

fixing cypress again
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
Due: frontend

fixing SonarQube 7: coverage on backend is not seen
  backend/tests/test_admin_dashboard_api.py
  backend/tests/test_competitions_api.py
  codecov.yml
  sonar-project.properties
Due: backend
