Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

fixed time on homepage banner
  frontend/src/components/helpers/HomePageBanner.tsx
Due: frontend

adressed the comments in the PR
  frontend/src/components/helpers/ProtectedRoute.tsx
  frontend/src/main.tsx
Due: frontend

completed competition leaderboards
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/leaderboards_api.py
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
  frontend/src/components/leaderboards/CurrentLeaderboard.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/components/leaderboards/ScoreboardDataTable.tsx
  frontend/src/types/account/Participant.type.tsx
  frontend/src/utils/formatTime.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: backend, frontend

fixing app side bar
  frontend/src/components/layout/AppSidebar.tsx
Due: frontend

fixing main.tsx
  frontend/src/main.tsx
Due: frontend

fixing axios time out page
  frontend/src/lib/axiosClient.tsx
Due: frontend

fixing jest test
  frontend/tests/AppSidebar.test.tsx
Due: frontend

fixing cypress
  frontend/cypress/e2e/sideBar.cy.ts
  frontend/src/components/layout/AppSidebar.tsx
Due: frontend

fixing cypress
  frontend/cypress/e2e/sideBar.cy.ts
  frontend/tests/AppSidebar.test.tsx
Due: frontend

fixing the populateDB for testing
  backend/src/DB_Methods/populateDB2.py
Due: backend

removed role checking for competition
  backend/src/endpoints/competitions_api.py
Due: backend

feature 158 - crud buttons for competition cards (#180)
  backend/src/DB_Methods/populateDB2.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/questions_api.py
  backend/src/models/schema.py
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/cypress/e2e/sideBar.cy.ts
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/layout/AppSidebar.tsx
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
  frontend/src/lib/axiosClient.tsx
  frontend/src/main.tsx
  frontend/src/types/competition/CreateCompetition.type.tsx
  frontend/src/types/competition/EditCompetition.type.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
  frontend/tests/AppSidebar.test.tsx
  frontend/tests/EditCompetitionDialog.test.tsx
Due: backend, frontend

fixed Mange Competitions
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

fixed competition leaderboard
  backend/src/endpoints/leaderboards_api.py
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/components/leaderboards/ScoreboardDataTable.tsx
  frontend/src/types/account/Participant.type.tsx
  frontend/src/types/competition/CompetitionWithParticipants.type.tsx
  frontend/src/types/leaderboards/CurrentStandings.type.tsx
  frontend/src/utils/formatTime.tsx
Due: backend, frontend

added and updated test suites
  frontend/src/components/codingPage/Testcases.tsx
  frontend/src/types/questions/Testcases.type.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/Testcases.test.tsx
Due: frontend

fixing connections issues from coding page to problems
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/questionsTable/questionDataTable.tsx
  frontend/src/main.tsx
  frontend/src/types/questions/Question.type.tsx
Due: frontend

fixed leaderboards
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/src/components/leaderboards/ScoreboardDataTable.tsx
Due: frontend

created basic format for algotime leaderboard
  backend/src/endpoints/leaderboards_api.py
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/types/algoTime/AlgoTimeLeaderboard.type.tsx
Due: backend, frontend

completed algotime leaderboard
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
  frontend/src/components/leaderboards/AlgoTimeDataTable.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
Due: frontend

added new pytest
  backend/src/endpoints/leaderboards_api.py
  backend/src/endpoints/send_email_api.py
  backend/src/endpoints/standings_api.py
  backend/src/main.py
  backend/tests/test_leaderboard_api.py
  backend/tests/test_manage_accounts_api.py
  backend/tests/test_send_email_api.py
Due: backend

add requirements in backend
  backend/src/requirements.txt
Due: backend

completed jest test
  frontend/src/components/helpers/ProtectedRoute.tsx
  frontend/src/components/leaderboards/CurrentLeaderboard.tsx
  frontend/tests/AlgoTimeCard.test.tsx
  frontend/tests/AlgoTimeDataTable.test.tsx
  frontend/tests/CurrentLeaderboard.test.tsx
  frontend/tests/Leaderboards.test.tsx
Due: frontend

completed cypress test
  frontend/cypress/e2e/leaderboards.cy.ts
  frontend/cypress/e2e/sideBar.cy.ts
  frontend/src/components/leaderboards/Leaderboards.tsx
Due: frontend

fixed jest test
  frontend/tests/AlgoTimeDataTable.test.tsx
Due: frontend

Ft/152 fix leaderboards (#181)
  backend/src/DB_Methods/populateDB2.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/leaderboards_api.py
  backend/src/endpoints/send_email_api.py
  backend/src/endpoints/standings_api.py
  backend/src/main.py
  backend/src/requirements.txt
  backend/tests/test_leaderboard_api.py
  backend/tests/test_manage_accounts_api.py
  backend/tests/test_send_email_api.py
  frontend/cypress/e2e/leaderboards.cy.ts
  frontend/cypress/e2e/sideBar.cy.ts
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/src/components/helpers/HomePageBanner.tsx
  frontend/src/components/helpers/ProtectedRoute.tsx
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
  frontend/src/components/leaderboards/AlgoTimeDataTable.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
  frontend/src/components/leaderboards/CurrentLeaderboard.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/components/leaderboards/ScoreboardDataTable.tsx
  frontend/src/types/account/Participant.type.tsx
  frontend/src/types/algoTime/AlgoTimeLeaderboard.type.tsx
  frontend/src/types/competition/CompetitionWithParticipants.type.tsx
  frontend/src/types/leaderboards/CurrentStandings.type.tsx
  frontend/src/utils/formatTime.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
  frontend/tests/AlgoTimeCard.test.tsx
  frontend/tests/AlgoTimeDataTable.test.tsx
  frontend/tests/CurrentLeaderboard.test.tsx
  frontend/tests/Leaderboards.test.tsx
Due: backend, frontend

desperately trying linking test cases
  backend/src/DB_Methods/populateDB.py
  backend/src/endpoints/questions_api.py
  frontend/src/api/Judge0API.tsx
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/codingPage/Testcases.tsx
  frontend/src/components/helpers/useTestcases.tsx
  frontend/src/types/questions/Testcases.type.tsx
Due: backend, frontend

Update CompetitionLeaderboardEntry to include full name and mock total time
  backend/src/DB_Methods/populateDB.py
Due: backend

package-lock.josn
  frontend/package-lock.json
Due: frontend

refactor: comment out code in populateDB, populateDB2, and init_db scripts for clarity NOW that we have cloud hosted DB
  backend/src/DB_Methods/populateDB.py
  backend/src/DB_Methods/populateDB2.py
  backend/src/init_db.py
Due: backend

fix: update GOOGLE_CLIENT_ID to use environment variable for security
  frontend/src/main.tsx
Due: frontend

Create endpoint to upload single question and batch of questions
  backend/src/endpoints/questions_api.py
Due: backend

Update main.tsx
  frontend/src/main.tsx
Due: frontend

refactored testcases (as a hook)
  frontend/src/api/Judge0API.tsx
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/codingPage/Testcases.tsx
  frontend/src/components/helpers/useTestcases.tsx
Due: frontend

changed teh build command
  frontend/package.json
  frontend/tsconfig.app.json
Due: frontend

commiting package-lock
  frontend/package-lock.json
Due: frontend

test
  frontend/src/components/algotime/SessionQuestionSelector.tsx
Due: frontend

Add unit tests around uploading questions
  backend/src/endpoints/questions_api.py
  backend/tests/test_questions_api.py
Due: backend

Fix import issue in test_questions_api
  backend/tests/test_questions_api.py
Due: backend

Remove unused import statement from questions_api.py
  backend/src/endpoints/questions_api.py
Due: backend

test
  frontend/src/api/AccountsAPI.tsx
Due: frontend
