Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

ignore:
  - "**/DB_Methods/**"
  - "**/migrations/**"
  - "**/generated/**"
  - "**/*.config.ts"
  - "**/__init__.py"
  - "**/ui/**"
  - "**/config.ts"
  - "**/DB_Methods/**"
  - "**/db.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

push of the option we all agreed on
  frontend/src/components/helpers/AvatarInitials.tsx
  frontend/src/components/layout/NavUser.tsx
Due: frontend

updated the test files
  frontend/src/components/layout/NavUser.tsx
  frontend/tests/NavUser.test.tsx
Due: frontend

fixed linting
  frontend/src/components/layout/NavUser.tsx
Due: frontend

fix sonarqube issues + navuser tests
  frontend/src/components/layout/NavUser.tsx
  frontend/src/views/AlgoTimePage.tsx
  frontend/tests/NavUser.test.tsx
Due: frontend

fixed the button and the sonarqube issues
  frontend/src/components/layout/NavUser.tsx
  frontend/src/views/AlgoTimePage.tsx
Due: frontend

removed commented out code
  frontend/src/components/layout/NavUser.tsx
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

switched to central logger
  frontend/src/components/layout/NavUser.tsx
  frontend/src/views/AlgoTimePage.tsx
Due: frontend

fixed logger so that tests pass
  frontend/src/components/layout/NavUser.tsx
  frontend/tests/NavUser.test.tsx
Due: frontend

fixed the jti test
  backend/src/endpoints/authentification_api.py
  backend/src/main.py
Due: backend

fixed the jti test
  backend/src/endpoints/authentification_api.py
Due: backend

sonnar updates
  sonar-project.properties
Due: none

modified sonnarqube exclusions
  sonar-project.properties
Due: none

modifying the correct sonnarqube file
  .github/workflows/sonarqube.yml
Due: none

fixed syntax
  .github/workflows/sonarqube.yml
Due: none

return the backend railway link
  backend/src/main.py
Due: backend

updating schemas
  backend/src/models/schema.py
  frontend/package-lock.json
Due: backend, frontend

Update main.py
  backend/src/main.py
Due: backend

Update schema.py
  backend/src/models/schema.py
Due: backend

fixing schema
  backend/src/DB_Methods/populateDB2.py
  backend/src/main.py
  backend/src/models/schema.py
Due: backend

Update CodeDescArea.test.tsx
  frontend/tests/CodeDescArea.test.tsx
Due: frontend

Update the helper component and add to algotime creation page
  frontend/src/components/algotime/SessionQuestionSelector.tsx
  frontend/src/components/createActivity/GeneralInfoCard.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/src/views/admin/AlgoTimeSession.tsx
Due: frontend

add tabs feature and removed email related code
  frontend/src/components/algotime/SessionQuestionSelector.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/views/admin/AlgoTimeSession.tsx
Due: frontend

add missing form validation and fix spacing issues
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/views/admin/AlgoTimeSession.tsx
Due: frontend

fix frontend lint errors
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: frontend

fix tests
  frontend/tests/AlgoTimeForm.test.tsx
  frontend/tests/GeneralInfoCard.test.tsx
Due: frontend

Fix failing tests
  frontend/tests/AlgoTimeForm.test.tsx
  frontend/tests/GeneralInfoCard.test.tsx
Due: frontend

fix tests
  frontend/tests/AlgoTimeForm.test.tsx
Due: frontend

working on question instance and submission api calls
  backend/src/endpoints/judge0_api.py
  backend/src/endpoints/most_recent_sub_api.py
  backend/src/endpoints/question_instance_api.py
  backend/src/endpoints/submission_api.py
  backend/src/models/schema.py
  frontend/src/api/CodeSubmission.tsx
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/api/QuestionInstanceAPI.tsx
  frontend/src/main.tsx
  frontend/src/types/SubmissionType.type.tsx
  frontend/src/types/questions/QuestionInstance.type.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/CodingView.test.tsx
Due: backend, frontend

fix package-lock.json by running npm run audit fix
  frontend/package-lock.json
Due: frontend

update hover and select for data tables
  frontend/src/components/ui/table.tsx
Due: none

fix code to fix test
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: frontend

fix tests - unable to find session name
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: frontend

fix tests - general data missing
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/tests/AlgoTimeForm.test.tsx
Due: frontend

refactor manageAccountsDataTable to permanently display the checkbox and have the delete button appear when one or more rows are selected
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
Due: frontend

add error highlight to missing elements in general info card
  frontend/src/components/createActivity/GeneralInfoCard.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: frontend
