Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

ignore:
  - "**/DB_Methods/**"
  - "**/migrations/**"
  - "**/generated/**"
  - "**/*.config.ts"
  - "**/__init__.py"
  - "**/ui/**"
  - "**/config.ts"
  - "**/DB_Methods/**"
  - "**/db.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

Fix so that only Owner can delete Copetition
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

Update AlgoTime.type.tsx
  frontend/src/types/algoTime/AlgoTime.type.tsx
Due: frontend

refactor: update testcase API endpoint to include 'get-all-testcases' in the route
  backend/src/endpoints/testcase_api.py
  backend/tests/test_testcase_api.py
  frontend/src/api/TestCasesAPI.tsx
  frontend/tests/TestCasesAPI.test.tsx
Due: backend, frontend

re adds event id in algotime tipes
  backend/src/endpoints/algotime_sessions_api.py
  frontend/tests/AlgoTimePage.test.tsx
Due: backend, frontend

Fix backend test
  backend/tests/test_manage_accounts_api.py
Due: backend

Fix frontend test and lint
  frontend/src/components/manageAccounts/UserActionsCell.tsx
  frontend/tests/ManageAlgotimeSessionsPage.test.tsx
  frontend/tests/UserActionsCell.test.tsx
Due: frontend

Fix test
  frontend/tests/ManageCompetitionsPage.test.tsx
Due: frontend

Fix e2e tests
  frontend/cypress/e2e/dashboard.cy.ts
  frontend/cypress/e2e/sideBar.cy.ts
Due: frontend

change navigation to manage page after creating algotime session
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: frontend

Fix tests in AlgoTimeForm.tsx
  frontend/tests/AlgoTimeForm.test.tsx
Due: frontend

fix cypress test because of navigation to dashboard change
  frontend/cypress/e2e/dashboard.cy.ts
Due: frontend

fix failing dashboard.cy test
  frontend/cypress/e2e/dashboard.cy.ts
Due: frontend

fixed failing frontend tests
  frontend/tests/ManageAccountsPage.test.tsx
Due: frontend

improve code for failing e2e test
  frontend/src/components/layout/AppSidebar.tsx
Due: frontend

try to fix e2e test
  frontend/cypress/e2e/sideBar.cy.ts
  frontend/src/components/layout/AppSidebar.tsx
Due: frontend

Revert "try to fix e2e test"
  frontend/cypress/e2e/sideBar.cy.ts
  frontend/src/components/layout/AppSidebar.tsx
Due: frontend

update backend api to use singular id
  backend/src/endpoints/algotime_sessions_api.py
Due: backend

update files to use the updated backend baseModel shape
  frontend/src/api/AlgotimeAPI.tsx
  frontend/src/components/helpers/CodingHooks.tsx
  frontend/src/types/algoTime/AlgoTime.type.tsx
Due: frontend

update frontend tests to match the changes made regarding the api
  frontend/tests/AlgoTimePage.test.tsx
  frontend/tests/AlgotimeAPI.test.tsx
  frontend/tests/CodingHooks.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/ManageAlgotimeSessionsPage.test.tsx
Due: frontend

added more test coverage
  .gitignore
  frontend/tests/ManageAccountsPage.test.tsx
Due: frontend

added more test coverage
  frontend/tests/ManageAccountsDataTable.test.tsx
Due: frontend

try fix e2e tests
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
  frontend/cypress/e2e/dashboard.cy.ts
  frontend/cypress/e2e/leaderboards.cy.ts
  frontend/cypress/e2e/sideBar.cy.ts
Due: frontend

fix more e2e tests
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
  frontend/cypress/e2e/dashboard.cy.ts
  frontend/cypress/e2e/leaderboards.cy.ts
  frontend/cypress/e2e/sideBar.cy.ts
Due: frontend

attempt to fix cypress sideBar.cy.ts
  frontend/cypress/e2e/sideBar.cy.ts
Due: frontend

attempt to fix cypress sideBar.cy.ts with fix in ci pipeline
  .github/workflows/CI_Pipeline.yml
  frontend/cypress/e2e/sideBar.cy.ts
Due: frontend

try fix cypress
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
  frontend/cypress/e2e/dashboard.cy.ts
  frontend/cypress/e2e/leaderboards.cy.ts
  frontend/cypress/e2e/sideBar.cy.ts
Due: frontend

reverted cypress test changes
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
  frontend/cypress/e2e/dashboard.cy.ts
  frontend/cypress/e2e/leaderboards.cy.ts
  frontend/cypress/e2e/sideBar.cy.ts
Due: frontend

attempt to fix cypress sideBar.cy.ts with fix in ci pipeline
  .github/workflows/CI_Pipeline.yml
Due: none

remove changes from cypress tests from this branch
  frontend/cypress/e2e/dashboard.cy.ts
Due: frontend

adding algotime leaderboard connection in CodingView.tsx
  backend/src/database_operations/populate_db2.py
  frontend/src/views/CodingView.tsx
Due: backend, frontend

remove changes done in cypress tests from this branch
  frontend/cypress/e2e/dashboard.cy.ts
Due: frontend

add endpoint in leaderboad_api to upsert user score after submission
  backend/src/endpoints/leaderboards_api.py
Due: backend

update AlgoTime leaderboard on submission frontend
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/src/api/SubmitCodeAPI.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

fixing coding view tests
  frontend/src/views/CodingView.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

prevent AlgoTime score reset when user leaves and rejoins a session
  backend/src/endpoints/leaderboards_api.py
  backend/src/endpoints/user_question_instance_api.py
Due: backend

update score when submission is accepted for competition
  backend/src/endpoints/leaderboards_api.py
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/src/api/SubmitCodeAPI.tsx
Due: backend, frontend

extract shared UQI aggregation logic into helper to avoid duplication
  backend/src/endpoints/leaderboards_api.py
Due: backend
