Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

update signup form to match ui mockup on figma
  frontend/src/components/forms/SignupForm.tsx
Due: frontend

update login and signup page ui
  frontend/src/views/LogInPage.tsx
  frontend/src/views/SignupPage.tsx
Due: frontend

update forgotPassword message
  frontend/src/components/forms/ForgotPasswordForm.tsx
Due: frontend

-create endpoint for algotime session
  backend/src/endpoints/algotime_sessions_api.py
Due: backend

create required types for algotime sessions
  backend/src/endpoints/algotime_sessions_api.py
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/types/algoTime/AlgoTime.type.tsx
Due: backend, frontend

remove unused imports
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/forms/SignupForm.tsx
Due: frontend

create API so frontend can call for algotime session
  frontend/src/api/AlgotimeAPI.tsx
  frontend/src/types/algoTime/AlgoTime.type.tsx
Due: frontend

fix failing tests
  frontend/tests/LoginForm.test.tsx
  frontend/tests/SignupForm.test.tsx
Due: frontend

fixed init_db
  backend/src/init_db.py
Due: backend

Moved Create competition into a page instead of a dialog
  frontend/src/components/manageCompetitions/CreateCompetitionDialog.tsx
  frontend/src/main.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

Made the header of the create competition page sticky
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

add the api to frontend
  backend/src/endpoints/algotime_sessions_api.py
  backend/src/main.py
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: backend, frontend

Enabled central logger to show logs from endpoints as well
  backend/src/logging_config.py
Due: backend

re-added the ability to custom schedule the emails
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/types/competition/CreateCompetition.type.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

remove old banner and add new banner
  frontend/src/views/HomePage.tsx
Due: frontend

add gap between search bar and filter button
  frontend/src/components/questionsTable/questionDataTable.tsx
Due: frontend

create competitionItem component to use in homepage under calendar
  frontend/src/components/helpers/CompetitionItem.tsx
Due: frontend

create homepage banner component to use in homepage
  frontend/src/components/helpers/HomePageBanner.tsx
Due: frontend

enable emails to be sent
  backend/src/endpoints/competitions_api.py
Due: backend

fix error of unique name in db
  backend/src/endpoints/algotime_sessions_api.py
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: backend, frontend

fixed custom email notif time bug
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

Ensure refresh of the Manage competitions page after creating a competition
  backend/src/endpoints/competitions_api.py
  frontend/src/views/admin/CreateCompetitionPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: backend, frontend

Fixed and created new frontend tests for create competition
  frontend/tests/CreateCompetitionDialog.test.tsx
  frontend/tests/CreateCompetitionPage.test.tsx
  frontend/tests/ManageCompetitionsPage.test.tsx
Due: frontend

Fixed linting issues
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

change maximum questions to 6 questions
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: frontend

fixed backend tests
  backend/tests/test_competitions_api.py
Due: backend

fixed backend linting issues
  backend/src/endpoints/competitions_api.py
  backend/src/init_db.py
  backend/src/logging_config.py
Due: backend

feat: add file upload functionality with Supabase bucket integration
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/forms/FileUpload.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/types/riddle/UploadFile.tsx
  frontend/src/views/SignupPage.tsx
  package-lock.json
  package.json
Due: frontend

fix: update badge component structure to use a new file to share constants or functions between components and err: unknown instead of err:any
  frontend/src/components/forms/FileUpload.tsx
  frontend/src/components/ui/badge-variants.ts
  frontend/src/components/ui/badge.tsx
Due: frontend

update logger to use central logger
  frontend/src/components/forms/ForgotPasswordForm.tsx
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/forms/SignupForm.tsx
  frontend/src/views/HomePage.tsx
  frontend/tests/SignupForm.test.tsx
Due: frontend

update failing tests
  frontend/tests/ForgotPasswordForm.test.tsx
  frontend/tests/LoginForm.test.tsx
  frontend/tests/SignupForm.test.tsx
Due: frontend

fix the unique date sessions for multiple sessions
  backend/src/endpoints/algotime_sessions_api.py
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: backend, frontend

add 409 error handling
  backend/src/endpoints/algotime_sessions_api.py
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: backend, frontend

trying this again......adding monaco
  .DS_Store
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/helpers/monacoConfig.tsx
  package-lock.json
  package.json
Due: frontend

create python test for algotime api
  backend/tests/test_algotime_sessions_api.py
Due: backend

cleaning up previous sandbox
  frontend/src/components/codingPage/CodingView.tsx
Due: frontend

fix lint issues
  backend/src/endpoints/algotime_sessions_api.py
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: backend, frontend

added trash icon & fixed typo
  frontend/src/components/forms/FileUpload.tsx
  frontend/src/views/SignupPage.tsx
Due: frontend

commented out unfinished file upload component
  frontend/src/views/SignupPage.tsx
Due: frontend

Update FileUpload.tsx
  frontend/src/components/forms/FileUpload.tsx
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
