Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

Add website hosting section and update installation guide
  README.md
Due: none

refactor get_new_accounts_stats to reduce cognitive complexity
  backend/src/endpoints/admin_dashboard_api.py
Due: backend

Define constants for duplicated error messages in auth API
  backend/src/endpoints/authentification_api.py
Due: backend

Define constants for 'America/New_York' and 'Competition not found' and extract email helpers to reduce create_competition complexity
  backend/src/endpoints/competitions_api.py
Due: backend

Extract validation helper to reduce send_email_via_brevo complexity
  backend/src/endpoints/send_email_api.py
Due: backend

Added constants in schema.py to remove duplication
  backend/src/models/schema.py
Due: backend

Extract helper functions for error handling and login flow to reduce complexity
  frontend/src/components/forms/SignupForm.tsx
Due: frontend

Extract findById helper to reduce function nesting depth
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
Due: frontend

Extract helpers to reduce AdminDashboard cognitive complexity
  frontend/src/views/admin/AdminDashboardPage.tsx
Due: frontend

add a constant to reduce duplication
  backend/src/endpoints/admin_dashboard_api.py
Due: backend

Add keyboard listener to InputGroupAddon for accessibility
  frontend/src/components/ui/input-group.tsx
Due: frontend

reduce security hotspots
  backend/src/endpoints/send_email_api.py
  frontend/src/components/ui/sidebar.tsx
Due: backend, frontend

Added Python coverage path to sonar-project.properties:
  sonar-project.properties
Due: none

more test suites changes
  frontend/src/components/codingPage/CodingView.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/Testcases.test.tsx
Due: frontend

fixing SonarQube 7: trying to fix sonar pipeline
  .github/workflows/sonarqube.yml
Due: none

fixing SonarQube 7: trying to fix sonar pipeline 2
  .github/workflows/sonarqube.yml
Due: none

fixing SonarQube 7: trying to fix sonar pipeline 3
  .github/workflows/sonarqube.yml
Due: none

fixing SonarQube 7: trying to fix sonar pipeline 4
  .github/workflows/sonarqube.yml
  frontend/tests/AdminDashboardAPI.test.tsx
Due: frontend

fixing SonarQube 7: trying to fix sonar pipeline 5 + added jest tests
  .github/workflows/sonarqube.yml
  frontend/tests/AccountsAPI.test.tsx
  frontend/tests/AlgotimeAPI.test.tsx
  frontend/tests/AuthAPI.test.tsx
  frontend/tests/CompetitionAPI.test.tsx
  frontend/tests/EmailAPI.test.tsx
  frontend/tests/LeaderboardsAPI.test.tsx
  frontend/tests/QuestionsAPI.test.tsx
  frontend/tests/RiddlesAPI.test.tsx
Due: frontend

fixing SonarQube 7: trying to fix sonar pipeline 6
  sonar-project.properties
Due: none

fixed SonarQube issues across backend and frontend
  backend/src/endpoints/log.py
  backend/src/endpoints/send_email_api.py
  frontend/src/api/AdminDashboardAPI.tsx
  frontend/src/api/AlgotimeAPI.tsx
  frontend/src/api/RiddlesAPI.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/dashboardCharts/QuestionsSolvedChart.tsx
  frontend/src/components/dashboardCharts/TimeToSolveChart.tsx
Due: backend, frontend

Fix SonarQube issues in AlgoTimeForm
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: frontend

fixing SonarQube 8: improving coverage
  frontend/tests/AlgoTimeForm.test.tsx
  frontend/tests/sidebar.test.tsx
Due: frontend

Fix SonarQube issues in FileUpload
  frontend/src/components/forms/FileUpload.tsx
Due: frontend

more fix
  frontend/src/components/forms/ForgotPasswordForm.tsx
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/forms/ResetPasswordForm.tsx
  frontend/src/components/forms/SignupForm.tsx
Due: frontend

more sonarqube issues
  frontend/src/components/helpers/CompetitionItem.tsx
  frontend/src/components/helpers/HomePageBanner.tsx
  frontend/src/components/helpers/ProtectedRoute.tsx
  frontend/src/components/layout/NavUser.tsx
  frontend/src/components/leaderboards/CurrentLeaderboard.tsx
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/chart.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/input-group.tsx
  frontend/src/components/ui/popover.tsx
Due: frontend

more fixes
  frontend/src/components/ui/tooltip.tsx
  frontend/src/lib/axiosClient.tsx
  frontend/src/views/ChangePasswordPage.tsx
  frontend/src/views/HomePage.tsx
  frontend/src/views/ProfilePage.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

fixing SonarQube 9: fixing sonarqube issues
  frontend/src/views/LogInPage.tsx
  frontend/src/views/ProfilePage.tsx
  frontend/src/views/SignupPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
  sonar-project.properties
Due: frontend

fixing SonarQube 10: fixing sonarqube issues
  frontend/src/components/dashboardCharts/QuestionsSolvedChart.tsx
  frontend/src/components/dashboardCharts/TimeToSolveChart.tsx
Due: frontend

fixed cypress
  frontend/cypress/e2e/loginPage.cy.ts
Due: frontend

more fixes
  frontend/src/views/admin/ManageAccountsPage.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
  frontend/src/views/admin/ManageRiddlePage.tsx
Due: frontend

fixed cypress 2
  frontend/cypress/e2e/loginPage.cy.ts
Due: frontend

fix tests
  backend/tests/test_send_email_api.py
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/views/ProfilePage.tsx
Due: backend, frontend

fix sonar exclusions
  sonar-project.properties
Due: none

fixing the sonar exclusions
  sonar-project.properties
Due: none

fixing the sonar exclusions
  .github/workflows/sonarqube.yml
  sonar-project.properties
Due: none

useTestcases hook tests
  frontend/tests/useTestcases.test.tsx
Due: frontend
