Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

ignore:
  - "**/DB_Methods/**"
  - "**/migrations/**"
  - "**/generated/**"
  - "**/*.config.ts"
  - "**/__init__.py"
  - "**/ui/**"
  - "**/config.ts"
  - "**/DB_Methods/**"
  - "**/db.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

Change variable name "text" to "body"
  frontend/src/components/createActivity/NotificationsCard.tsx
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/tests/NotificationsCard.test.tsx
Due: frontend

fixing sonarqube issues
  backend/src/endpoints/admin_dashboard_api.py
  backend/src/endpoints/algotime_sessions_api.py
  backend/src/endpoints/authentification_api.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/leaderboards_api.py
  backend/src/endpoints/manage_accounts_api.py
  backend/src/endpoints/questions_api.py
  backend/src/endpoints/riddles_api.py
  backend/src/endpoints/send_email_api.py
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/NavUser.tsx
  frontend/src/helpers/TimeInput.tsx
Due: backend, frontend

fixed email bug
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/src/types/competition/Competition.type.tsx
Due: frontend

fixed tests
  frontend/tests/CompetitionForm.test.tsx
Due: frontend

fix sonarqube nested issues
  frontend/src/components/createActivity/SelectionCard.tsx
  frontend/src/components/forms/CompetitionForm.tsx
Due: frontend

fixed linting issues and some sonarqube issues
  frontend/src/components/createActivity/GameplayLogicCard.tsx
  frontend/src/components/createActivity/GeneralInfoCard.tsx
  frontend/src/components/createActivity/NotificationsCard.tsx
  frontend/src/components/createActivity/SelectionCard.tsx
  frontend/src/components/forms/CompetitionForm.tsx
Due: frontend

fixed more sonarqube issues
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
  frontend/src/helpers/DatePicker.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
Due: frontend

fixed more sonarqube issues
  frontend/src/components/createActivity/SelectionCard.tsx
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/src/helpers/DatePicker.tsx
Due: frontend

fixed more sonarqube issues
  frontend/src/lib/axiosClient.tsx
Due: frontend

Fix more sonarqube issues
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/src/lib/axiosClient.tsx
Due: frontend

fix remaining sonarqube issue and added more tests
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/tests/ManageCompetitionsPage.test.tsx
  frontend/tests/TimeInput.test.tsx
Due: frontend

fixed more sonarqube issues
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/tests/DatePicker.test.tsx
Due: frontend

Added more test coverage
  frontend/tests/CompetitionForm.test.tsx
  frontend/tests/axiosClient.test.tsx
Due: frontend

added more test coverage
  frontend/tests/CompetitionForm.test.tsx
  frontend/tests/GeneralInfoCard.test.tsx
  frontend/tests/NotificationsCard.test.tsx
Due: frontend

fixing pytests
  backend/src/endpoints/admin_dashboard_api.py
  backend/src/endpoints/algotime_sessions_api.py
  backend/src/endpoints/authentification_api.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/leaderboards_api.py
  backend/src/endpoints/manage_accounts_api.py
  backend/src/endpoints/questions_api.py
  backend/src/endpoints/riddles_api.py
  backend/tests/test_leaderboard_api.py
  backend/tests/test_send_email_api.py
Due: backend

Update sonarqube.yml
  .github/workflows/sonarqube.yml
Due: none

undated sonarqube.yml and removed some comments
  .github/workflows/sonarqube.yml
  backend/src/endpoints/admin_dashboard_api.py
  frontend/src/components/layout/AppLayout.tsx
Due: backend, frontend

Update admin_dashboard_api.py
  backend/src/endpoints/admin_dashboard_api.py
Due: backend

missed http exception
  backend/src/endpoints/questions_api.py
Due: backend

Implement batch question upload and deletion features in the UI
  backend/src/endpoints/questions_api.py
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/manageQuestions/manageQuestionsColumns.tsx
  frontend/src/components/manageQuestions/manageQuestionsDataTable.tsx
  frontend/src/components/manageQuestions/uploadQuestionsJSONButton.tsx
  frontend/src/lib/axiosClient.tsx
  frontend/src/main.tsx
  frontend/src/views/admin/AdminDashboardPage.tsx
  frontend/src/views/admin/ManageQuestionsPage.tsx
Due: backend, frontend

Fix linting issues and erroneus commit
  backend/src/endpoints/questions_api.py
  frontend/src/lib/axiosClient.tsx
Due: backend, frontend

update ManageCard to simplify ui
  frontend/src/components/dashboardCards/ManageCard.tsx
Due: frontend

fix vulnerabilities by running npm audit fix
  frontend/package-lock.json
Due: frontend

fix horizontal scroll issue in admin dashboard
  frontend/src/components/layout/AppLayout.tsx
Due: frontend

update admin dashboard to use new manageCard
  frontend/src/views/admin/AdminDashboardPage.tsx
Due: frontend

fix issue in className
  frontend/src/components/layout/AppLayout.tsx
Due: frontend

remove logic that is no longer needed
  frontend/src/views/admin/AdminDashboardPage.tsx
Due: frontend

Update AdminDashboardPage tests to verify Manage Questions link and href
  frontend/tests/AdminDashboardPage.test.tsx
Due: frontend

Refactor riddle API to support file uploads and enhance error handling
  backend/src/__pycache__/__init__.cpython-311.pyc
  backend/src/endpoints/riddles_api.py
  backend/src/main.py
Due: backend

add hover color and move cursor pointer here to reduce duplicate code
  frontend/src/components/dashboardCards/ManageCard.tsx
Due: frontend

update dashboard manageX buttons to group related buttons together
  frontend/src/views/admin/AdminDashboardPage.tsx
Due: frontend

Add QuestionColumns tests
  frontend/src/types/questions/Question.type.tsx
  frontend/src/views/admin/ManageQuestionsPage.tsx
  frontend/tests/ManageQuestionsColumns.test.tsx
Due: frontend

Rename files to follow conventions
  frontend/src/components/manageQuestions/ManageQuestionsColumns.tsx
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/components/manageQuestions/UploadQuestionsJSONButton.tsx
Due: frontend

Fix import case for UploadQuestionsJSONButton component
  frontend/src/components/manageQuestions/ManageQuestionsColumns.tsx
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/components/manageQuestions/UploadQuestionsJSONButton.tsx
Due: frontend

Implement riddle retrieval and management endpoints; enhance file upload handling in forms
  backend/src/endpoints/riddles_api.py
  frontend/package-lock.json
  frontend/src/api/RiddlesAPI.tsx
  frontend/src/components/forms/FileUpload.tsx
  frontend/src/lib/axiosClient.tsx
  frontend/src/views/admin/ManageRiddlePage.tsx
Due: backend, frontend

Update API URLs to production environment and enhance error logging in RiddlesAPI tests
  backend/src/main.py
  frontend/src/lib/axiosClient.tsx
  frontend/tests/RiddlesAPI.test.tsx
Due: backend, frontend

Refactor ManageRiddles tests: enhance mocks, improve structure, and add new test cases for CRUD operations and error handling
  frontend/tests/FileUpload.test.tsx
  frontend/tests/ManageRiddles.test.tsx
Due: frontend

Enhance riddle API tests: add file handling, improve mock setup, and validate responses for create, edit, and delete operations
  backend/src/requirements.txt
  backend/tests/test_riddles_api.py
Due: backend
