Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

Update requirements.txt to include latest package versions
  backend/src/requirements.txt
Due: backend

fix bug for avatar initials and default color in manageCards
  frontend/src/components/dashboardCards/ManageCard.tsx
Due: frontend

add created_at to UserAccount schema and use real data for new accounts stats
  backend/src/endpoints/admin_dashboard_api.py
  backend/src/models/schema.py
Due: backend

store login sessions in user_session table for analytics
  backend/src/endpoints/authentification_api.py
Due: backend

update the participation endpoint to support the 2 tabs: comp/algo
  backend/src/endpoints/admin_dashboard_api.py
  frontend/src/api/AdminDashboardAPI.tsx
  frontend/src/views/admin/AdminDashboardPage.tsx
Due: backend, frontend

cleanup - remove hardcoded values from admin dashboard analytics
  backend/src/endpoints/admin_dashboard_api.py
  frontend/src/views/admin/AdminDashboardPage.tsx
Due: backend, frontend

add pytest for admin_dashboard endpoint
  backend/tests/test_admin_dashboard_api.py
Due: backend

Add algotime API
  backend/src/endpoints/algotime_sessions_api.py
  frontend/src/api/AlgotimeAPI.tsx
  frontend/src/types/algoTime/AlgoTime.type.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
Due: backend, frontend

resolve pr comment: use central logger for api errors
  frontend/src/api/AdminDashboardAPI.tsx
Due: frontend

fix lint backend errors
  backend/src/endpoints/admin_dashboard_api.py
  backend/src/init_db.py
Due: backend

fix outdated tests
  backend/tests/test_authentification.py
  frontend/cypress/e2e/dashboard.cy.ts
  frontend/tests/AdminDashboardPage.test.tsx
  frontend/tests/DashboardCharts.test.tsx
  frontend/tests/ManageCard.test.tsx
Due: backend, frontend

judge0 api
  frontend/src/api/Judge0API.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/helpers/CodeMultiLangTemplate.tsx
  frontend/src/components/helpers/SandpackConfig.tsx
  frontend/src/components/helpers/monacoConfig.tsx
  frontend/src/types/questions/QuestionTemplate.type.tsx
Due: frontend

Create frontend for manage algotime page
  frontend/src/views/admin/AlgoTimeSession.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
Due: frontend

Fix retrieving series to sessions
  backend/src/endpoints/algotime_sessions_api.py
  frontend/src/api/AlgotimeAPI.tsx
  frontend/src/types/algoTime/AlgoTime.type.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
Due: backend, frontend

Add tests frontend and backend
  backend/tests/test_algotime_sessions_api.py
  frontend/tests/ManageAlgotimeSessionsPage.test.tsx
Due: backend, frontend

fix failing tests, lint issues
  backend/tests/test_algotime_sessions_api.py
  frontend/cypress/e2e/dashboard.cy.ts
  frontend/src/api/AlgotimeAPI.tsx
  frontend/src/types/algoTime/AlgoTime.type.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
Due: backend, frontend

address PR comments
  frontend/src/types/algoTime/AlgoTime.type.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
Due: frontend

address pr comments
  frontend/src/api/AlgotimeAPI.tsx
Due: frontend

fix invalid fetching
  backend/src/endpoints/algotime_sessions_api.py
Due: backend

fix tests
  backend/tests/test_algotime_sessions_api.py
Due: backend

update backend file to accept a JSON body since the frontend sends this
  backend/src/endpoints/manage_accounts_api.py
Due: backend

refactor to ensure user_type and accountType are mapped correctly in order to avoid 'undefined' error
  frontend/src/api/AccountsAPI.tsx
Due: frontend

Update to use the new user_type
  frontend/src/components/manageAccounts/UserActionsCell.tsx
Due: frontend

Ran npm audit fix to resolve vulnerabilties
  frontend/package-lock.json
Due: frontend

Added protected routes so that only an admin can access admin routes. Made it so that only an admin can see the dashboard
  backend/src/__pycache__/__init__.cpython-311.pyc
  backend/src/main.py
  frontend/src/api/AuthAPI.tsx
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/helpers/ProtectedRoute.tsx
  frontend/src/components/layout/AppSidebar.tsx
  frontend/src/main.tsx
  frontend/src/types/Auth.type.tsx
  frontend/src/views/Unauthorized.tsx
Due: backend, frontend

cypress test
  frontend/cypress/e2e/sideBar.cy.ts
Due: frontend

fix lint error
  frontend/src/components/helpers/ProtectedRoute.tsx
Due: frontend

cypress test fixed
  frontend/cypress/e2e/sideBar.cy.ts
Due: frontend

sidebar test fixed
  frontend/tests/AppSidebar.test.tsx
Due: frontend

adding testcases
  frontend/src/api/Judge0API.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/codingPage/Testcase.tsx
  frontend/src/types/questions/QuestionTemplate.type.tsx
  frontend/src/types/questions/QuestionsInfo.type.tsx
  frontend/src/types/questions/Testcases.type.tsx
  frontend/src/types/questions/VariableTemplate.type.tsx
Due: frontend

all cypress issues are resolved
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
  frontend/cypress/e2e/leaderboards.cy.ts
Due: frontend

frontend test fixed
  frontend/tests/AppSidebar.test.tsx
Due: frontend

frontend test fixed
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
Due: frontend

fixed docker and completed view competition and edit competition
  backend/src/DB_Methods/populateDB2.py
  backend/src/init_db.py
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
  frontend/src/views/admin/CreateCompetitionPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: backend, frontend

completed delete competition feature
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/questions_api.py
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: backend, frontend

fixed linters problems
  backend/src/endpoints/competitions_api.py
  backend/src/init_db.py
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
  frontend/src/types/competition/EditCompetition.type.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: backend, frontend

fixed jest tests
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
  frontend/src/types/competition/EditCompetition.type.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
  frontend/tests/EditCompetitionDialog.test.tsx
Due: frontend

fixed cypress test
  frontend/cypress/e2e/sideBar.cy.ts
Due: frontend

can add and remove test cases ui mostly working
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/codingPage/Testcase.tsx
  frontend/src/types/questions/Testcases.type.tsx
Due: frontend

refactored testcases tab
  frontend/src/api/Judge0API.tsx
  frontend/src/components/codingPage/CodingView.tsx
  frontend/src/components/codingPage/Testcase.tsx
  frontend/src/components/codingPage/Testcases.tsx
Due: frontend
