Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix an sonar issue in CodeDescArea.tsx and added coerage in test_leaderboard_api.py
  backend/tests/test_leaderboard_api.py
  frontend/src/components/codingPage/CodeDescArea.tsx
Due: backend, frontend

testing confirm code reset modal
  frontend/src/components/helpers/ConfirmCodeReset.tsx
  frontend/tests/ConfirmCodeReset.test.tsx
Due: frontend

Update SubmitCodeAPI.tsx
  frontend/src/api/SubmitCodeAPI.tsx
Due: frontend

fix CodeDescArea.tsx and CodingView.tsx post merge main
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

fix the test CodeDescArea.test.tsx and CodingView.test.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

fix the test CodeDescArea.test.tsx i forgot an old variable in there
  frontend/tests/CodeDescArea.test.tsx
Due: frontend

Create UserContext
  backend/src/endpoints/authentification_api.py
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/layout/NavUser.tsx
  frontend/src/context/UserContext.tsx
  frontend/src/main.tsx
Due: backend, frontend

Refactor NavUser to use the context
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/NavUser.tsx
Due: frontend

start of the refactoring of the AlgoTimePage
  frontend/src/views/AlgoTimePage.tsx
Due: frontend

adding slowapi to not allows spamming of api calls in backend
  backend/requirements.txt
  backend/src/endpoints/judge0_api.py
  backend/src/endpoints/send_email_api.py
  backend/src/main.py
Due: backend

fix populate_db2
  backend/src/database_operations/populate_db2_fixed.py
Due: backend

comment out the code in populate_db2
  backend/src/database_operations/populate_db2_fixed.py
Due: backend

adding base limiter for all apis
  backend/src/main.py
Due: backend

fixing backend lint in send_email_api.py, fix pytest in test_judge0_api.py and test_main.py
  backend/src/endpoints/send_email_api.py
  backend/tests/test_judge0_api.py
  backend/tests/test_main.py
Due: backend

fix in test_judge0_api.py for pytest
  backend/tests/test_judge0_api.py
Due: backend

reduce number of calls on each limiter
  backend/src/endpoints/judge0_api.py
  backend/src/endpoints/send_email_api.py
  backend/src/main.py
Due: backend

adjust send_email_api.py to work with slowapi and fix the test test_send_email_api.py
  backend/src/endpoints/send_email_api.py
  backend/tests/test_send_email_api.py
Due: backend

create delete algotime leaderboard api function
  backend/src/endpoints/leaderboards_api.py
Due: backend

create frontend API call for delete algotime leaderboard
  frontend/src/api/LeaderboardsAPI.tsx
Due: frontend

Add reset button to manage algotime to be able to reset leaderboards
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
Due: frontend

add backend tests to test_leaderboard_api.py for reset algotime leaderboard
  backend/tests/test_leaderboard_api.py
Due: backend

add frontend tests for ManageAlgotimeSessionsPage.test.tsx for reset functionality of leaderboard
  frontend/tests/ManageAlgotimeSessionsPage.test.tsx
Due: frontend

create algotime_cleanup file and execute every hour from main.py
  backend/src/main.py
  backend/src/services/algotime_cleanup.py
Due: backend

create backend tests for algotime_cleanup.py
  backend/tests/test_algotime_cleanup.py
Due: backend

fix failing react tests in ManageAlgotimeSessionsPage
  frontend/tests/ManageAlgotimeSessionsPage.test.tsx
Due: frontend

Fix failing react tests in ManageAlgotimeSessionsPage
  frontend/tests/ManageAlgotimeSessionsPage.test.tsx
Due: frontend

fixing backend issues and adding new visual to load result on the left
  backend/src/database_operations/populate_db2.py
  backend/src/endpoints/most_recent_sub_api.py
  backend/src/endpoints/submission_api.py
  frontend/src/api/Judge0API.tsx
  frontend/src/api/SubmitCodeAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/views/CodingView.tsx
Due: backend, frontend

losen limiter on main and losen even more limiter on getProfile
  backend/src/endpoints/authentification_api.py
  backend/src/main.py
Due: backend

fixed test on modified classes, CodeDescArea.test.tsx, CodingView.test.tsx, Judge0API.test.tsx, SubmitCodeAPI.test.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/Judge0API.test.tsx
  frontend/tests/SubmitCodeAPI.test.tsx
Due: frontend

Change files to use the UserConext
  backend/src/database_operations/update_DB_with_schema.py
  frontend/src/components/helpers/CodingHooks.tsx
  frontend/src/components/helpers/ProtectedRoute.tsx
  frontend/src/types/submissions/CodeRunResponse.type.tsx
Due: backend, frontend

Add skeletons to homepage and competiotion leaderboards
  frontend/src/components/layout/AppSidebar.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/components/manageQuestions/ManageQuestionsColumns.tsx
  frontend/src/components/questionsTable/questionsColumns.tsx
  frontend/src/views/CodingView.tsx
  frontend/src/views/HomePage.tsx
  frontend/src/views/ProfilePage.tsx
Due: frontend

separate CodeDescArea.tsx into 2 files and fixed the tests
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/SubmissionResult.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/SubmissionResult.test.tsx
Due: frontend

fix judge0 tests
  backend/tests/test.db
  backend/tests/test_judge0_api.py
Due: backend

remove unused imports
  backend/conftest.py
  backend/src/database_operations/update_DB_with_schema.py
  backend/tests/test_admin_dashboard_api.py
  backend/tests/test_algotime_sessions_api.py
  backend/tests/test_authentification.py
  backend/tests/test_competition_cleanup.py
  backend/tests/test_competitions_api.py
  backend/tests/test_email_scheduler.py
  backend/tests/test_judge0_api.py
  backend/tests/test_leaderboard_api.py
  backend/tests/test_manage_accounts_api.py
  backend/tests/test_posthog_analytics.py
  backend/tests/test_submission_api.py
Due: backend

remove unused imports frontend
  frontend/src/components/helpers/CodingHooks.tsx
  frontend/src/components/helpers/ProtectedRoute.tsx
  frontend/src/components/layout/AppSidebar.tsx
  frontend/src/components/manageQuestions/ManageQuestionsColumns.tsx
  frontend/src/context/UserContext.tsx
Due: frontend

ignore one lint error
  frontend/src/context/UserContext.tsx
Due: frontend

Fix PrtectedRoute test
  frontend/src/components/helpers/ProtectedRoute.tsx
  frontend/src/context/UserContext.tsx
  frontend/tests/ProtectedRoute.test.tsx
Due: frontend

Fix error with caching in Fetch Questions
  backend/src/endpoints/questions_api.py
  backend/tests/test_questions_api.py
  frontend/src/types/questions/QuestionPagination.type.tsx
Due: backend, frontend

Implement show/hide functionality for questions on the frontpage with API integration and UI updates
  backend/src/endpoints/questions_api.py
  backend/tests/test_questions_api.py
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/manageQuestions/ManageQuestionsColumns.tsx
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/types/questions/QuestionPagination.type.tsx
  frontend/src/views/admin/ManageQuestionsPage.tsx
Due: backend, frontend

Path conditions:
  backend: any of: backend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
  frontend: any of: frontend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
