Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Remove unused import from admin dashboard API and clean up code
  backend/src/database_operations/add_long_term_statistics_table.py
  backend/src/endpoints/admin_dashboard_api.py
Due: backend

Refactor long-term statistics handling by consolidating upsert logic and updating cleanup functions to utilize new methods
  backend/src/services/algotime_cleanup.py
  backend/src/services/competition_cleanup.py
  backend/src/services/long_term_statistics_upsert.py
  backend/tests/test_admin_dashboard_api.py
  backend/tests/test_long_term_statistics_api.py
  backend/tests/test_long_term_statistics_upsert.py
Due: backend

fixes sonarqube issues
  frontend/src/api/SubmitCodeAPI.tsx
  frontend/src/views/AlgoTimePage.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/SubmitCodeAPI.test.tsx
Due: frontend

Long term statistics (#439)
  backend/src/database_operations/add_long_term_statistics_table.py
  backend/src/endpoints/admin_dashboard_api.py
  backend/src/endpoints/long_term_statistics_api.py
  backend/src/main.py
  backend/src/models/schema.py
  backend/src/services/algotime_cleanup.py
  backend/src/services/competition_cleanup.py
  backend/src/services/long_term_statistics_upsert.py
  backend/tests/test_admin_dashboard_api.py
  backend/tests/test_long_term_statistics_api.py
  backend/tests/test_long_term_statistics_upsert.py
Due: backend

Fix tests
  backend/src/endpoints/admin_dashboard_api.py
  frontend/tests/AdminDashboardPage.test.tsx
  frontend/tests/ManageAccountsPage.test.tsx
Due: backend, frontend

Fix cypress tests
  frontend/cypress/e2e/dashboard.cy.ts
Due: frontend

add QuestionsGenerativeAITooltipButton component and integrate into ManageQuestionsDataTable (#416)
  backend/src/endpoints/questions_api.py
  backend/tests/test_questions_api.py
  frontend/src/api/QuestionsAPI.ts
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/components/manageQuestions/QuestionsGenerativeAITooltipButton.tsx
  frontend/src/types/questions/QuestionPagination.type.tsx
  frontend/src/views/HomePage.tsx
  frontend/tests/HomePage.test.tsx
  frontend/tests/QuestionsAPI.test.ts
Due: backend, frontend

436 bugs ownerdashboard (#437)
  backend/src/endpoints/authentification_api.py
  frontend/cypress/e2e/dashboard.cy.ts
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/helpers/HomePageBanner.tsx
  frontend/src/views/admin/AdminDashboardPage.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
  frontend/tests/AdminDashboardPage.test.tsx
  frontend/tests/ManageAccountsPage.test.tsx
Due: backend, frontend

refactor: update GenAIHint for coding question generation with strict JSON formatting and new requirements
  frontend/src/components/manageQuestions/QuestionsGenerativeAITooltipButton.tsx
Due: frontend

add test case handling in get_question_from_request function
  backend/src/endpoints/questions_api.py
Due: backend

add test case handling in get_question_from_request function (#443)
  backend/src/endpoints/questions_api.py
Due: backend

Remove outdated database population and schema update scripts to streamline database management.
  backend/src/database_operations/add_long_term_statistics_table.py
  backend/src/database_operations/migration.py
  backend/src/database_operations/populate_db.py
  backend/src/database_operations/populate_db2.py
  backend/src/database_operations/populate_db2_fixed.py
  backend/src/database_operations/update_DB_with_schema.py
Due: backend

Update README.md
  README.md
Due: none

Update README.md (#445)
  README.md
Due: none

Remove admin credentials from README
  README.md
Due: none

Path conditions:
  backend: any of: backend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
  frontend: any of: frontend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
