Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

ignore:
  - "**/DB_Methods/**"
  - "**/migrations/**"
  - "**/generated/**"
  - "**/*.config.ts"
  - "**/__init__.py"
  - "**/ui/**"
  - "**/config.ts"
  - "**/DB_Methods/**"
  - "**/db.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

create skeleton load for manageRiddles
  frontend/src/components/manageRiddles/ManageRiddlesSkeleton.tsx
Due: frontend

add skeleton load
  frontend/src/views/admin/ManageRiddlePage.tsx
Due: frontend

add animation to home page content render and fix the skeleton load issue when searching questions
  frontend/src/components/helpers/Pagination.tsx
  frontend/src/components/questionsTable/questionDataTable.tsx
  frontend/src/views/HomePage.tsx
Due: frontend

fix failing frontend tests
  frontend/tests/ManageRiddlePage.test.tsx
  frontend/tests/ManageRiddles.test.tsx
Due: frontend

add difficulty badge to code description
  frontend/src/components/codingPage/CodeDescArea.tsx
Due: frontend

fix lint issues
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/views/HomePage.tsx
Due: frontend

add that it now calculates the average time and memory usage of all submissions instead of returning the first one
  backend/src/endpoints/judge0_api.py
Due: backend

remove to remove comment and useless import
  backend/src/endpoints/judge0_api.py
Due: backend

updated backend test
  backend/tests/test_judge0_api.py
Due: backend

add tests for the average submissions
  backend/tests/test_judge0_api.py
Due: backend

fix comment
  backend/src/endpoints/judge0_api.py
Due: backend

increase code coverage and reduce duplication
  frontend/src/components/manageRiddles/ManageRiddlesSkeleton.tsx
  frontend/src/components/questionsTable/questionDataTable.tsx
  frontend/tests/questionDataTable.test.tsx
Due: frontend

replace negated condition
  frontend/src/components/questionsTable/questionDataTable.tsx
Due: frontend

fixes ref issue in codeDescArea
  frontend/package-lock.json
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/CodeDescArea.test.tsx
Due: frontend

Update CodeDescArea.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
Due: frontend

Update main.py
  backend/src/main.py
Due: backend

fixes sonarqube issues
  frontend/src/api/SubmitCodeAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

Update CodingView.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

add tests to frontend SubmitCodeAPI
  frontend/tests/SubmitCodeAPI.test.tsx
Due: frontend

add tests to frontend CodingView
  backend/src/main.py
  frontend/tests/CodingView.test.tsx
Due: backend, frontend

revert main.py (committed localhot ref by mistake)
  backend/src/main.py
Due: backend

fix submissions not appearing and tests for corresponding files (CodingView)
  frontend/src/views/CodingView.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

fix calendar display because of offset display on safari
  frontend/src/views/HomePage.tsx
Due: frontend

add skeleton load to competitionPage
  frontend/src/components/competitions/CompetitionsPageSkeleton.tsx
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

add skeleton load to algotimePage
  frontend/src/components/algotime/AlgoTimePageSkeleton.tsx
  frontend/src/views/AlgoTimePage.tsx
Due: frontend

add animation to manageAccounts skeleton render and make search bar and filter persistent between loads
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
  frontend/src/components/manageAccounts/ManageAccountsSkeleton.tsx
  frontend/src/views/admin/ManageAccountsPage.tsx
Due: frontend

move filtering to server-side and add skeleton load. Also add updated pagination
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/components/manageQuestions/ManageQuestionsSkeleton.tsx
  frontend/src/views/admin/ManageQuestionsPage.tsx
Due: frontend

add skeleton load to graphs on dashboard page
  frontend/src/components/dashboardCards/StatsCard.tsx
  frontend/src/components/dashboardCards/StatsCardSkeleton.tsx
  frontend/src/components/dashboardCharts/DashboardChartSkeleton.tsx
  frontend/src/components/dashboardCharts/NumberOfLoginsChart.tsx
  frontend/src/components/dashboardCharts/ParticipationOverTimeChart.tsx
  frontend/src/components/dashboardCharts/QuestionsSolvedChart.tsx
  frontend/src/components/dashboardCharts/TimeToSolveChart.tsx
  frontend/src/views/admin/AdminDashboardPage.tsx
Due: frontend

add transition fade + slide
  frontend/src/views/admin/AdminDashboardPage.tsx
Due: frontend

fix animation in dashboard
  frontend/src/components/dashboardCards/StatsCard.tsx
  frontend/src/views/admin/AdminDashboardPage.tsx
Due: frontend

add QuestionsGenerativeAITooltipButton component and integrate into ManageQuestionsDataTable
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/components/manageQuestions/QuestionsGenerativeAITooltipButton.tsx
Due: frontend

fix failing frontend tests and make filter for competitionPage a dropdown
  frontend/src/views/CompetitionsPage.tsx
  frontend/tests/AlgoTimePage.test.tsx
  frontend/tests/CompetitionsPage.test.tsx
  frontend/tests/DashboardCharts.test.tsx
  frontend/tests/ManageAccountsPage.test.tsx
  frontend/tests/ManageQuestionsDataTable.test.tsx
  frontend/tests/ManageQuestionsPage.test.tsx
Due: frontend

fix ForwardRef issues in tabs, fix unique "key" prop issues in ScoreboardDataTable.tsx, and fix CodeDescArea.tsx so the tabs are dynamic
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/leaderboards/ScoreboardDataTable.tsx
  frontend/src/components/ui/tabs.tsx
Due: frontend

fix lint issue with useMemo hook
  frontend/src/components/dashboardCharts/QuestionsSolvedChart.tsx
Due: frontend

fix cypress test failure
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
Due: frontend

fixing the dynamic tabs in CodeDescArea.tsx and the test file CodeDescArea.test.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/tests/CodeDescArea.test.tsx
Due: frontend

fix cypress error
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
Due: frontend
