Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

ignore:
  - "**/DB_Methods/**"
  - "**/migrations/**"
  - "**/generated/**"
  - "**/*.config.ts"
  - "**/__init__.py"
  - "**/ui/**"
  - "**/config.ts"
  - "**/DB_Methods/**"
  - "**/db.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

feat: support multiple languages for questions with new data structures and API updates
  backend/src/endpoints/questions_api.py
  backend/src/models/schema.py
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
  frontend/src/components/manageQuestions/UploadQuestionsJSONButton.tsx
  frontend/src/types/questions/Question.type.tsx
  frontend/src/types/questions/QuestionPagination.type.tsx
Due: backend, frontend

opens coding view in user's previously used language id there's one
  frontend/src/views/CodingView.tsx
Due: frontend

fixes language display name in code desc area
  frontend/src/components/codingPage/CodeDescArea.tsx
Due: frontend

feat: enforce required fields for question data structure and improve error handling in JSON editor
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
  frontend/src/types/questions/Question.type.tsx
Due: frontend

removes no longer used files
  frontend/src/components/helpers/CodeMultiLangTemplate.tsx
  frontend/src/components/helpers/monacoConfig.tsx
  frontend/src/types/questions/SupportedLanguages.tsx
  frontend/tests/CodeMultiLangTemplate.test.tsx
Due: frontend

clean up and update frontend test for the logger and files previously removed
  frontend/tests/CodeSubmissionAPI.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/Judge0API.test.tsx
  frontend/tests/MostRecentSubAPI.test.tsx
  frontend/tests/UserPreferencesAPI.test.tsx
Due: frontend

feat: enhance question data structure to support flexible input/output formats and improve validation in JSON editor
  backend/src/endpoints/questions_api.py
  backend/src/models/schema.py
  backend/tests/test_questions_api.py
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
  frontend/src/types/questions/Question.type.tsx
  frontend/src/types/questions/Testcases.type.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/EditAlgotimeDialog.test.tsx
  frontend/tests/ManageQuestionsColumns.test.tsx
  frontend/tests/ManageQuestionsDataTable.test.tsx
  frontend/tests/QuestionActionsCell.test.tsx
  frontend/tests/QuestionJSONEditor.test.tsx
  frontend/tests/QuestionsAPI.test.tsx
  frontend/tests/questionDataTable.test.tsx
  frontend/tests/questionsColumns.test.tsx
Due: backend, frontend

feat: update TestCase types to use 'unknown' for input_data and expected_output, and adjust related parsing logic
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/types/questions/Question.type.tsx
  frontend/src/types/questions/Testcases.type.tsx
  frontend/tests/QuestionsAPI.test.tsx
Due: frontend

feat: update uploadQuestions test to reflect new question data structure and properties
  frontend/tests/QuestionsAPI.test.tsx
Due: frontend

Update useAnalytics.ts
  frontend/src/hooks/useAnalytics.ts
Due: frontend

reroutes profile page to proper userPreferences API and tests
  frontend/src/views/ProfilePage.tsx
  frontend/tests/ProfilePage.test.tsx
Due: frontend

refactor: replace 'any' with 'unknown' in type definitions and function parameters for improved type safety
  backend/src/endpoints/questions_api.py
  backend/src/models/schema.py
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
  frontend/src/types/questions/QuestionPagination.type.tsx
Due: backend, frontend

Update CodingView.test.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

feat: update question payload structure in tests to align with new API response format
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
  frontend/tests/QuestionJSONEditor.test.tsx
Due: frontend

changes code editor based on user's preferred theme
  frontend/src/views/CodingView.tsx
Due: frontend

fix: update media type in normalizeEditableQuestionFields to remove unnecessary casting
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
Due: frontend

Adjust backend tests to match the new OAuth2PasswordBearer checks
  backend/test.db
  backend/tests/test_authentification.py
  backend/tests/test_main.py
Due: backend

fixes the patch api call for user preferences
  backend/src/endpoints/user_preferences_api.py
  backend/tests/test_user_preferences_api.py
  frontend/src/api/UserPreferencesAPI.tsx
Due: backend, frontend

fix: standardize error messages in normalizeEditableQuestionFields for consistency
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
  frontend/tests/QuestionJSONEditor.test.tsx
Due: frontend

Adjust lint errors
  backend/src/endpoints/authentification_api.py
Due: backend

feat: add tests for question language-specific properties and validation errors in QuestionJSONEditor
  backend/tests/test_questions_api.py
  frontend/tests/QuestionJSONEditor.test.tsx
  frontend/tests/QuestionsAPI.test.tsx
Due: backend, frontend

groups types related to submissions and updates related files
  frontend/src/api/AccountsAPI.tsx
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/api/Judge0API.tsx
  frontend/src/api/MostRecentSubAPI.tsx
  frontend/src/api/UserPreferencesAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/types/account/UserPreferences.type.tsx
  frontend/src/types/submissions/CodeRunResponse.type.tsx
  frontend/src/types/submissions/MostRecentSub.type.tsx
  frontend/src/types/submissions/SubmissionType.type.tsx
  frontend/src/types/submissions/SubmitAttemptResponse.type.tsx
  frontend/src/views/CodingView.tsx
  frontend/src/views/ProfilePage.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodeSubmissionAPI.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/MostRecentSubAPI.test.tsx
  frontend/tests/UserPreferencesAPI.test.tsx
Due: frontend

creates question instance when user is practicing and updates tests
  backend/src/endpoints/question_instance_api.py
  backend/tests/test_question_instance_api.py
  frontend/src/api/QuestionInstanceAPI.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/QuestionInstanceAPI.test.tsx
Due: backend, frontend

Update Question models to support multiple languages and specify language specific properties (#350)
  backend/src/endpoints/questions_api.py
  backend/src/models/schema.py
  backend/tests/test_questions_api.py
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
  frontend/src/components/manageQuestions/UploadQuestionsJSONButton.tsx
  frontend/src/types/questions/Question.type.tsx
  frontend/src/types/questions/QuestionPagination.type.tsx
  frontend/src/types/questions/Testcases.type.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/EditAlgotimeDialog.test.tsx
  frontend/tests/ManageQuestionsColumns.test.tsx
  frontend/tests/ManageQuestionsDataTable.test.tsx
  frontend/tests/QuestionActionsCell.test.tsx
  frontend/tests/QuestionJSONEditor.test.tsx
  frontend/tests/QuestionsAPI.test.tsx
  frontend/tests/questionDataTable.test.tsx
  frontend/tests/questionsColumns.test.tsx
Due: backend, frontend

fixes some UI in coding view and code desc
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

deletes useless files
  frontend/src/types/questions/QuestionTemplate.type.tsx
  frontend/src/types/questions/QuestionsInfo.type.tsx
  frontend/src/types/questions/VariableTemplate.type.tsx
Due: frontend

merges types related to questions and fixes imports
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/algotime/EditAlgotimeDialog.tsx
  frontend/src/components/algotime/SessionQuestionSelector.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/src/components/manageQuestions/ManageQuestionsColumns.tsx
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/components/manageQuestions/QuestionActionsCell.tsx
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
  frontend/src/components/questionsTable/questionDataTable.tsx
  frontend/src/components/questionsTable/questionsColumns.tsx
  frontend/src/types/questions/Question.type.tsx
  frontend/src/types/questions/QuestionPagination.type.tsx
  frontend/src/views/CodingView.tsx
  frontend/src/views/HomePage.tsx
  frontend/src/views/admin/ManageQuestionsPage.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

fixes the tests of the files previously changed (linked to Question type)
  backend/tests/test_question_instance_api.py
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/api/Judge0API.tsx
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/algotime/EditAlgotimeDialog.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/createActivity/SelectionCard.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/src/components/helpers/HomePageBanner.tsx
  frontend/src/components/questionsTable/questionDataTable.tsx
  frontend/src/types/questions/QuestionPagination.type.tsx
  frontend/src/views/AlgoTimePage.tsx
  frontend/src/views/CompetitionsPage.tsx
  frontend/src/views/HomePage.tsx
  frontend/src/views/admin/ManageRiddlePage.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodeSubmissionAPI.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/CompetitionForm.test.tsx
  frontend/tests/EditAlgotimeDialog.test.tsx
  frontend/tests/Judge0API.test.tsx
  frontend/tests/ManageQuestionsColumns.test.tsx
  frontend/tests/QuestionActionsCell.test.tsx
  frontend/tests/QuestionsAPI.test.tsx
  frontend/tests/SessionQuestionSelector.test.tsx
  frontend/tests/questionDataTable.test.tsx
  frontend/tests/questionsColumns.test.tsx
Due: backend, frontend

updated testcase type, all the files associated and their tests (useTestcases)
  frontend/src/components/codingPage/Testcases.tsx
  frontend/src/components/helpers/useTestcases.tsx
  frontend/src/types/questions/Testcases.type.tsx
  frontend/tests/useTestcases.test.tsx
Due: frontend

updates tests for files such as QuestionAPI, Testcases, etc
  frontend/src/components/codingPage/Testcases.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/LanguageAPI.test.tsx
  frontend/tests/ManageQuestionsDataTable.test.tsx
  frontend/tests/QuestionJSONEditor.test.tsx
  frontend/tests/QuestionsAPI.test.tsx
  frontend/tests/Testcases.test.tsx
Due: frontend

filters languages by activity status
  backend/src/endpoints/languages_api.py
  backend/tests/test_languages_api.py
  frontend/src/api/LanguageAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/Testcases.tsx
  frontend/tests/CodeDescArea.test.tsx
Due: backend, frontend

fixes question instance backend tests
  backend/src/endpoints/question_instance_api.py
  backend/tests/test_question_instance_api.py
  frontend/src/api/QuestionInstanceAPI.tsx
Due: backend, frontend

fixes QuestionJSONEditor and tests and removes languages currently unused patch
  backend/src/endpoints/languages_api.py
  backend/tests/test_languages_api.py
  frontend/src/api/LanguageAPI.tsx
  frontend/src/components/codingPage/Testcases.tsx
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
  frontend/tests/QuestionJSONEditor.test.tsx
Due: backend, frontend

fixes LanguageAPI and QuestionInstanceAPI tests
  frontend/tests/LanguageAPI.test.tsx
  frontend/tests/QuestionInstanceAPI.test.tsx
Due: frontend

Update AlgoTimePage.test.tsx
  frontend/tests/AlgoTimePage.test.tsx
Due: frontend

fixing LanguageAPI.tsx for Lint and CodingView.test.tsx for failing jest
  frontend/src/api/LanguageAPI.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

Update LanguageAPI.tsx
  frontend/src/api/LanguageAPI.tsx
Due: frontend

Update schema.py
  backend/src/models/schema.py
Due: backend

adds backend api endpoints for UserQuestionInstance, updated MostRecentSub, Submission, and the types in FE
  backend/src/endpoints/most_recent_sub_api.py
  backend/src/endpoints/submission_api.py
  backend/src/endpoints/user_question_instance_api.py
  backend/src/main.py
  frontend/src/types/submissions/MostRecentSub.type.tsx
  frontend/src/types/submissions/SubmissionType.type.tsx
  frontend/src/types/submissions/UserQuestionInstance.type.tsx
Due: backend, frontend
