Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

ignore:
  - "**/DB_Methods/**"
  - "**/migrations/**"
  - "**/generated/**"
  - "**/*.config.ts"
  - "**/__init__.py"
  - "**/ui/**"
  - "**/config.ts"
  - "**/DB_Methods/**"
  - "**/db.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

fix issue when parsing the submissions received from the front end
  backend/src/endpoints/judge0_api.py
Due: backend

Refactor question language properties: update schema, migration, and API to use new fields
  backend/src/database_operations/migration.py
  backend/src/database_operations/populate_db2.py
  backend/src/endpoints/questions_api.py
  backend/src/models/schema.py
  backend/tests/test_questions_api.py
  frontend/src/api/QuestionsAPI.ts
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
  frontend/src/types/questions/QuestionPagination.type.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/AlgoTimeForm.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/HomePage.test.tsx
  frontend/tests/ManageQuestionsPage.test.tsx
  frontend/tests/QuestionJSONEditor.test.tsx
  frontend/tests/QuestionsAPI.test.ts
Due: backend, frontend

Fix default values for QuestionLanguageSpecificPropertiesResponse fields to ensure empty strings are returned instead of None
  backend/src/endpoints/questions_api.py
Due: backend

complete feature for batch submissions, tokens get printed in the terminal
  backend/src/endpoints/judge0_api.py
  frontend/src/api/Judge0API.tsx
Due: backend, frontend

Respec question fields (#389)
  backend/src/database_operations/migration.py
  backend/src/database_operations/populate_db2.py
  backend/src/endpoints/questions_api.py
  backend/src/models/schema.py
  backend/tests/test_questions_api.py
  frontend/src/api/QuestionsAPI.ts
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
  frontend/src/types/questions/QuestionPagination.type.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/AlgoTimeForm.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/HomePage.test.tsx
  frontend/tests/ManageQuestionsPage.test.tsx
  frontend/tests/QuestionJSONEditor.test.tsx
  frontend/tests/QuestionsAPI.test.ts
Due: backend, frontend

links algotime to coding view
  backend/src/endpoints/algotime_sessions_api.py
  frontend/src/api/AlgotimeAPI.tsx
  frontend/src/api/BaseEventAPI.tsx
  frontend/src/components/helpers/CodingHooks.tsx
  frontend/src/components/helpers/HomePageBanner.tsx
  frontend/src/main.tsx
  frontend/src/types/algoTime/AlgoTime.type.tsx
  frontend/src/views/AlgoTimePage.tsx
Due: backend, frontend

add parsing of all the submissions
  backend/src/endpoints/judge0_api.py
  frontend/src/api/Judge0API.tsx
Due: backend, frontend

fix ofother issues for submitting
  backend/src/endpoints/judge0_api.py
  frontend/src/api/Judge0API.tsx
  frontend/src/api/SubmitCodeAPI.tsx
  frontend/src/views/CodingView.tsx
Due: backend, frontend

removed UI where user could define testcases. Will no longer be needed
  frontend/src/api/SubmitCodeAPI.tsx
  frontend/src/views/CodingView.tsx
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

fix SubmitCodeAPI tests
  frontend/src/api/SubmitCodeAPI.tsx
  frontend/tests/SubmitCodeAPI.test.tsx
Due: frontend

Adjust according to PR reviews
  backend/src/main.py
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/manageQuestions/ManageQuestionsColumns.tsx
  frontend/src/components/questionsTable/questionsColumns.tsx
  frontend/src/utils/difficultyBadge.ts
Due: backend, frontend

fix tests for judge0 and posthog
  backend/tests/test_judge0_api.py
  backend/tests/test_posthog_analytics.py
Due: backend

fixes tests
  frontend/src/components/helpers/CodingHooks.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/AlgoTimePage.test.tsx
  frontend/tests/BaseEventAPI.test.tsx
  frontend/tests/CodingHooks.test.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

fix typo in submitCodeAPI that made tests fail
  frontend/src/api/SubmitCodeAPI.tsx
Due: frontend

Update SubmitCodeAPI.tsx
  frontend/src/api/SubmitCodeAPI.tsx
Due: frontend

Adjust according to PR reviews
  frontend/src/components/forms/LogInForm.tsx
Due: frontend

fix frontend lint warnings
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

add automatic scroll up on page changes and card deletes
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

update skeleton so that only the cards perform skeleton load while the search bar and filter stay visible
  frontend/src/components/algotime/ManageAlgotimeSessionsSkeleton.tsx
  frontend/src/components/manageCompetitions/ManageCompetitionsSkeleton.tsx
Due: frontend

update skeleton load to scroll up on page change and card delete
  frontend/src/components/helpers/CardPaginationControls.tsx
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

Update SubmitCodeAPI.test.tsx
  frontend/tests/SubmitCodeAPI.test.tsx
Due: frontend

refactors submissions (sorted and updates when new submission is made)
  frontend/src/api/SubmissionAPI.tsx
  frontend/src/api/SubmitCodeAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/helpers/CodingHooks.tsx
Due: frontend

Update CodingView.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

Update SubmissionAPI.test.tsx
  frontend/tests/SubmissionAPI.test.tsx
Due: frontend

Update CodeDescArea.test.tsx
  frontend/tests/CodeDescArea.test.tsx
Due: frontend

returming the railway link
  backend/src/main.py
Due: backend

Fix pytest import
  backend/tests/test_algotime_sessions_api.py
Due: backend

Fix pytest import
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/views/HomePage.tsx
Due: frontend

Fix eslint errors
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/views/HomePage.tsx
Due: frontend

Fix eslint errors
  frontend/src/views/HomePage.tsx
Due: frontend

Implement that only owners can assign another user to be an owner
  frontend/src/components/manageAccounts/ManageAccountsColumns.tsx
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
  frontend/src/components/manageAccounts/UserActionsCell.tsx
  frontend/src/views/admin/ManageAccountsPage.tsx
Due: frontend

Implement the owenership transfer
  backend/src/endpoints/manage_accounts_api.py
  frontend/src/components/manageAccounts/UserActionsCell.tsx
  frontend/src/views/admin/ManageAccountsPage.tsx
Due: backend, frontend

Fix so that admin cannot delete admin or owner
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
Due: frontend

add database migration functions and test cases endpoint
  backend/src/__pycache__/__init__.cpython-311.pyc
  backend/src/database_operations/test.py
  backend/src/endpoints/send_email_api.py
  backend/src/endpoints/testcase_api.py
  backend/src/main.py
Due: backend

refactor: update testcase API routes and adjust frontend API calls
  backend/src/endpoints/testcase_api.py
  backend/src/main.py
  frontend/src/api/TestCasesAPI.tsx
  frontend/tests/TestCasesAPI.test.tsx
Due: backend, frontend

refactor: remove unused import from testcase API
  backend/src/database_operations/test.py
  backend/src/endpoints/testcase_api.py
Due: backend

fix: update server host to production URL for deployment
  backend/src/main.py
Due: backend

add: implement unit tests for testcase API endpoints
  backend/tests/test_testcase_api.py
Due: backend

Fix so that only Owner can reset the Leaderboards
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
Due: frontend
