Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

saving_progress
  backend/src/endpoints/competitions_api.py
  backend/src/models/schema.py
  frontend/src/api/EmailAPI.tsx
  frontend/src/components/manageCompetitions/CreateCompetitionDialog.tsx
Due: backend, frontend

Add riddle relationship to QuestionInstance model
  backend/src/models/schema.py
Due: backend

saving_progress
  backend/src/DB_Methods/populateDB.py
  backend/src/endpoints/authentification_api.py
  backend/src/models/schema.py
  frontend/src/components/forms/SignupForm.tsx
Due: backend, frontend

saving_progress
  backend/src/endpoints/currentLeaderboard_api.py
  backend/src/endpoints/forgot_password_api.py
  backend/src/endpoints/leaderboards_api.py
  backend/src/endpoints/send_email_api.py
  backend/src/main.py
  frontend/src/components/forms/LogInForm.tsx
Due: backend, frontend

Implement email sending functionality with Brevo API and validation
  backend/src/endpoints/send_email.py
Due: backend

Fix tests
  frontend/src/components/leaderboards/CurrentLeaderboard.tsx
  frontend/tests/CurrentLeaderboard.test.tsx
Due: frontend

Update datetime handling in JWT token creation to use timezone-aware datetime
  backend/src/endpoints/authentification_api.py
Due: backend

fix failing tests
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/questions_api.py
  backend/tests/test_authentification.py
  backend/tests/test_competitions_api.py
  backend/tests/test_questions_api.py
Due: backend

saving_progress
  backend/src/DB_Methods/populateDB2.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/currentLeaderboard_api.py
  backend/src/endpoints/leaderboards_api.py
  backend/src/main.py
Due: backend

reset_password_ft_finished
  backend/src/endpoints/authentification_api.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/send_email.py
  backend/src/endpoints/send_email_api.py
  backend/src/main.py
  frontend/src/api/AuthAPI.tsx
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/components/forms/ForgotPasswordForm.tsx
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/forms/ResetPasswordForm.tsx
  frontend/src/components/manageCompetitions/CreateCompetitionDialog.tsx
  frontend/src/lib/axiosClient.tsx
  frontend/src/main.tsx
Due: backend, frontend

saving_progress
  backend/src/DB_Methods/populateDB2.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/questions_api.py
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/manageCompetitions/CreateCompetitionDialog.tsx
  frontend/src/types/competition/Competition.type.tsx
  frontend/src/types/competition/CreateCompetition.type.tsx
  frontend/src/types/questions/Question.type.tsx
  frontend/src/types/riddle/Riddle.type.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: backend, frontend

completed_create_competiton_feature
  frontend/package-lock.json
Due: frontend

Remove Username
  backend/src/models/schema.py
Due: backend

Add total time to Competitions
  backend/src/models/schema.py
Due: backend

Add total_score and problems_solved fields to AlgoTimeLeaderboardEntry
  backend/src/models/schema.py
Due: backend

fix_jest_and_lint
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/currentLeaderboard_api.py
  backend/src/main.py
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/components/forms/ForgotPasswordForm.tsx
  frontend/src/components/forms/ResetPasswordForm.tsx
  frontend/src/components/questionsTable/questionsColumns.tsx
  frontend/src/types/competition/Competition.type.tsx
  frontend/src/types/questions/Question.type.tsx
  frontend/src/views/HomePage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
  frontend/tests/BuildEmail.test.tsx
  frontend/tests/CreateCompetitionDialog.test.tsx
  frontend/tests/ForgotPasswordForm.test.tsx
  frontend/tests/ManageCompetitionsPage.test.tsx
  frontend/tests/ResetPasswordForm.test.tsx
  frontend/tests/SignupForm.test.tsx
  frontend/tests/questionsColumns.test.tsx
Due: backend, frontend

fix_jest_and_lint
  frontend/src/components/forms/ForgotPasswordForm.tsx
  frontend/src/components/forms/ResetPasswordForm.tsx
Due: frontend

fix_ruff
  backend/src/DB_Methods/populateDB2.py
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/forgot_password_api.py
  backend/src/endpoints/leaderboards_api.py
  backend/src/endpoints/send_email_api.py
Due: backend

fix_pytest
  backend/tests/test_authentification.py
  backend/tests/test_competitions_api.py
Due: backend

fix_cypress
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
Due: frontend

clean code
  backend/src/endpoints/competitions_api.py
  backend/src/endpoints/forgot_password_api.py
  backend/tests/test_authentification.py
Due: backend

fix_cypress_pipeline
  .github/workflows/CI_Pipeline.yml
Due: none

fix_cypress
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

Refactor user handling and leaderboard endpoints; remove username fields and add rank to leaderboard entries
  backend/src/DB_Methods/populateDB.py
  backend/src/endpoints/authentification_api.py
  backend/src/endpoints/standings_api.py
  backend/src/main.py
  backend/src/models/schema.py
  backend/tests/test_leaderboards_api.py
Due: backend

fix_small Homepage_Bug
  frontend/src/views/HomePage.tsx
Due: frontend

allow breadcrumbs to stay at the top of the screen when scrolling
  backend/src/DB_Methods/populateDB_2.py
  frontend/package-lock.json
  frontend/src/components/layout/AppBreadcrumb.tsx
Due: backend, frontend

remove modified backend
  backend/src/DB_Methods/populateDB_2.py
Due: backend

fixed e2e test
  frontend/cypress/e2e/dashboard.cy.ts
Due: frontend

fix
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/manageCompetitions/CreateCompetitionDialog.tsx
  frontend/src/types/account/Participant.type.tsx
  frontend/src/types/competition/Competition.type.tsx
  frontend/src/types/competition/CreateCompetition.type.tsx
  frontend/src/types/questions/Question.type.tsx
  frontend/src/types/riddle/Riddle.type.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

fix-cypress-jest
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
  frontend/tests/ManageCompetitionsPage.test.tsx
  frontend/tests/questionsColumns.test.tsx
Due: frontend

fix-cypress
  frontend/cypress/e2e/ManageCompetitionsPage.cy.ts
Due: frontend

update userActionCell position in manageAccounts
  frontend/src/components/manageAccounts/ManageAccountsColumns.tsx
Due: frontend

add name and logo above card
  frontend/src/components/forms/ForgotPasswordForm.tsx
Due: frontend

update form to match ui mockups on figma
  frontend/src/components/forms/LogInForm.tsx
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
