Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix dark mode colors
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

fix darkmode AND light mode
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

fix colors in light mode and dark mode
  frontend/src/views/CompetitionsPage.tsx
  frontend/tests/CompetitionsPage.test.tsx
Due: frontend

remove unused code
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

add central logger
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

update test_get_all_questions_success to include tag IDs in question data
  backend/tests/test_questions_api.py
Due: backend

refactor: update question properties to use consistent naming conventions
  frontend/src/components/manageQuestions/ManageQuestionsColumns.tsx
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/components/manageQuestions/QuestionActionsCell.tsx
  frontend/tests/ManageQuestionsColumns.test.tsx
  frontend/tests/ManageQuestionsDataTable.test.tsx
Due: frontend

fix: correct question ID reference in delete handler
  frontend/src/views/admin/ManageQuestionsPage.tsx
Due: frontend

refactor: enhance mapQuestion function to support optional collections
  frontend/src/api/QuestionsAPI.tsx
Due: frontend

add more tests
  frontend/tests/CompetitionsPage.test.tsx
Due: frontend

fix: add last-modified handling in get_all_questions endpoint so cache is never stale
  backend/src/endpoints/questions_api.py
  backend/tests/test_questions_api.py
Due: backend

Update QuestionsAPI.tsx
  frontend/src/api/QuestionsAPI.tsx
Due: frontend

address code smells
  backend/src/endpoints/questions_api.py
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
  frontend/src/components/manageQuestions/UploadQuestionsJSONButton.tsx
  frontend/tests/UploadQuestionsJSONButton.test.tsx
Due: backend, frontend

refactor: improve parameter formatting in upload_question_batch function
  backend/src/endpoints/questions_api.py
Due: backend

fix: update error handling in test_update_question to return 404 instead of 500
  backend/tests/test_questions_api.py
Due: backend

fix: improve error message for question update not found scenario
  backend/src/endpoints/questions_api.py
  backend/tests/test_questions_api.py
Due: backend

Update schema.py
  backend/src/models/schema.py
Due: backend

increase test line coverage
  backend/tests/test_questions_api.py
  frontend/src/components/manageQuestions/QuestionActionsCell.tsx
  frontend/tests/ManageQuestionsColumns.test.tsx
  frontend/tests/ManageQuestionsDataTable.test.tsx
  frontend/tests/ManageQuestionsPage.test.tsx
  frontend/tests/QuestionActionsCell.test.tsx
  frontend/tests/QuestionJSONEditor.test.tsx
  frontend/tests/QuestionsAPI.test.tsx
  frontend/tests/UploadQuestionsJSONButton.test.tsx
Due: backend, frontend

refactor: remove unused import from QuestionActionsCell component
  frontend/src/components/manageQuestions/QuestionActionsCell.tsx
Due: frontend

refactor: consolidate account and question types for improved clarity and maintainability
  frontend/src/api/AccountsAPI.tsx
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/types/account/Account.type.tsx
  frontend/src/types/questions/QuestionPagination.type.tsx
Due: frontend

cleanup: use logFrontend instead of console.log
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/tests/QuestionsAPI.test.tsx
Due: frontend

Implement batch question upload and deletion features in the UI (#252)
  backend/src/endpoints/questions_api.py
  backend/src/main.py
  backend/tests/test_questions_api.py
  frontend/src/api/AccountsAPI.tsx
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/manageQuestions/ManageQuestionsColumns.tsx
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/components/manageQuestions/QuestionActionsCell.tsx
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
  frontend/src/components/manageQuestions/UploadQuestionsJSONButton.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/lib/axiosClient.tsx
  frontend/src/main.tsx
  frontend/src/types/account/Account.type.tsx
  frontend/src/types/questions/Question.type.tsx
  frontend/src/types/questions/QuestionPagination.type.tsx
  frontend/src/views/admin/AdminDashboardPage.tsx
  frontend/src/views/admin/ManageQuestionsPage.tsx
  frontend/tests/AdminDashboardPage.test.tsx
  frontend/tests/ManageQuestionsColumns.test.tsx
  frontend/tests/ManageQuestionsDataTable.test.tsx
  frontend/tests/ManageQuestionsPage.test.tsx
  frontend/tests/QuestionActionsCell.test.tsx
  frontend/tests/QuestionJSONEditor.test.tsx
  frontend/tests/QuestionsAPI.test.tsx
  frontend/tests/UploadQuestionsJSONButton.test.tsx
Due: backend, frontend

fetches current user last used programming language
  frontend/src/views/CodingView.tsx
Due: frontend

Revert "Update schema.py"
  backend/src/models/schema.py
Due: backend

Fix: Cannot update testcases in the UI
  backend/src/endpoints/questions_api.py
Due: backend

Fix: Clear existing test cases before updating in the question API
  backend/src/endpoints/questions_api.py
Due: backend

Fix: Cannot update testcases in the UI (#348)
  backend/src/endpoints/questions_api.py
Due: backend

add beautify JSON button in the JSON question editor
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
Due: frontend

updates user preferences api to avoid pydantic issue
  backend/src/endpoints/user_preferences_api.py
  backend/tests/test_user_preferences_api.py
Due: backend

removes UserPreferences duplicate
  frontend/src/api/AccountsAPI.tsx
Due: frontend

Update UserPreferences.type.tsx
  frontend/src/types/UserPreferences.type.tsx
Due: frontend

adds backend api endpoints for languages and their tests
  backend/src/endpoints/languages_api.py
  backend/tests/test_languages_api.py
Due: backend

Update LanguageAPI.tsx
  frontend/src/api/LanguageAPI.tsx
Due: frontend

updates language_id in judge0 and code submission APIs
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/api/Judge0API.tsx
Due: frontend

Update CodingView.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

Update CodeDescArea.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
Due: frontend

updates language frontend api endpoints and their tests
  frontend/src/api/LanguageAPI.tsx
  frontend/tests/LanguageAPI.test.tsx
Due: frontend

Path conditions:
  backend: any of: backend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
  frontend: any of: frontend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
