Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix algotime_sessions_api.py and its test class because i forgot a few "points" references
  backend/src/endpoints/algotime_sessions_api.py
  backend/tests/test_algotime_sessions_api.py
Due: backend

updates codingView and CodeDescArea tests
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/tests/CodeSubmissionAPI.test.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

fix algotime_sessions_api.py because branch was behind on main and it undid what i had done
  backend/src/endpoints/algotime_sessions_api.py
  backend/tests/test_algotime_sessions_api.py
Due: backend

Fixed tests and lint issues
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/Testcases.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

Fixed failing test test_base_event_api.py
  backend/tests/test_base_event_api.py
Due: backend

fixes lint issues
  backend/tests/test_base_event_api.py
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/Testcases.tsx
  frontend/tests/CodingView.test.tsx
Due: backend, frontend

fixes lint issues
  frontend/src/components/codingPage/Testcases.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

updates EditAlgotimeDialog and it's test
  frontend/src/components/algotime/EditAlgotimeDialog.tsx
  frontend/tests/EditAlgotimeDialog.test.tsx
Due: frontend

Update schema.py
  backend/src/models/schema.py
Due: backend

Update package-lock.json
  frontend/package-lock.json
Due: frontend

fixes issues from the pr
  frontend/src/api/BaseEventAPI.tsx
  frontend/src/api/QuestionInstanceAPI.tsx
  frontend/src/components/algotime/SessionQuestionSelector.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/main.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

fixes tests
  frontend/tests/BaseEventAPI.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/QuestionInstanceAPI.test.tsx
Due: frontend

updates console log to frontend logger function
  frontend/src/api/CompetitionAPI.tsx
  frontend/src/api/MostRecentSubAPI.tsx
  frontend/src/api/QuestionInstanceAPI.tsx
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/api/UserPreferencesAPI.tsx
Due: frontend

added the frontend and backend endpoints for the languages
  backend/src/endpoints/languages_api.py
  backend/src/main.py
  frontend/src/api/LanguageAPI.tsx
  frontend/src/types/questions/Language.type.tsx
Due: backend, frontend

remove unused import
  backend/src/endpoints/questions_api.py
Due: backend

update questionsAPI and questionsDatatable to resolve issues encountered after pulling from main
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/questionsTable/questionDataTable.tsx
Due: frontend

refactor failing BE and FE tests
  backend/tests/test_questions_api.py
  frontend/tests/QuestionsAPI.test.tsx
Due: backend, frontend

add explicit default to address sonarqube issues
  backend/src/endpoints/questions_api.py
  backend/src/endpoints/riddles_api.py
Due: backend

add type alias for question difficulty
  frontend/src/components/questionsTable/questionDataTable.tsx
  frontend/src/views/HomePage.tsx
Due: frontend

remove redundant jump to address sonarqube
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
Due: frontend

update FE coverage for questionsDataTable.tsx
  frontend/tests/questionDataTable.test.tsx
Due: frontend

reduce code duplication to address sonarqube
  frontend/src/components/questionsTable/questionDataTable.tsx
Due: frontend

remove notification dropdown item
  frontend/src/components/layout/NavUser.tsx
Due: frontend

update test since notification dropdown item was removed
  frontend/tests/NavUser.test.tsx
Due: frontend

remove unused imports
  frontend/src/components/layout/NavUser.tsx
Due: frontend

reduce code duplication to address sonarqube
  backend/src/endpoints/questions_api.py
  backend/src/endpoints/riddles_api.py
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
  frontend/src/components/questionsTable/questionDataTable.tsx
Due: backend, frontend

reduce code duplication
  frontend/src/components/questionsTable/questionDataTable.tsx
Due: frontend

reduce duplication in manageAccountsDataTable
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
Due: frontend

Revert "remove unused imports"
  frontend/src/components/layout/NavUser.tsx
Due: frontend

remove unused import
  frontend/src/components/layout/NavUser.tsx
Due: frontend

secured the jwt key with .env variable
  backend/src/endpoints/authentification_api.py
Due: backend

Standardize logging. Use central logger instead of print method
  backend/src/main.py
Due: backend

Manage the Header split with OAuth2PasswordBearer
  backend/src/endpoints/authentification_api.py
  backend/src/main.py
Due: backend

change view of each Card in Competitions (more color, and view details display leaderboards)
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

change button configuration on the cards
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

reduce duplicate code by extracting pagination to separate helper file
  frontend/src/components/helpers/Pagination.tsx
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
  frontend/src/components/questionsTable/questionDataTable.tsx
Due: frontend

move non-component exports to separate utils.ts file for pagination
  frontend/src/components/helpers/Pagination.tsx
  frontend/src/components/manageAccounts/ManageAccountsDataTable.tsx
  frontend/src/components/questionsTable/questionDataTable.tsx
  frontend/src/utils/paginationUtils.ts
Due: frontend

add logic for active competitions, switch to variable color names (not hardcoded anymore)
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

fix padding below details button
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

fix test of AppSideBar (upon renaming of the tab)
  frontend/tests/AppSidebar.test.tsx
Due: frontend

Path conditions:
  backend: any of: backend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
  frontend: any of: frontend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
