Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Add tooltip to 'Frontpage' header for question visibility clarification
  frontend/src/components/manageQuestions/ManageQuestionsColumns.tsx
Due: frontend

Fix caching so it doesnt return 304 immediately without checking all conditions and add a test for it
  backend/src/endpoints/questions_api.py
  backend/tests/test_questions_api.py
Due: backend

Refactor question deletion handling to use refreshTable callback for UI updates
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/views/admin/ManageQuestionsPage.tsx
Due: frontend

Fix syntax error by removing unnecessary semicolon in get_all_questions function
  backend/src/endpoints/questions_api.py
Due: backend

Refactor question handling to use refreshTable callback and update tag types in tests
  frontend/src/components/manageQuestions/QuestionJSONEditor.tsx
  frontend/tests/ManageQuestionsDataTable.test.tsx
  frontend/tests/ManageQuestionsPage.test.tsx
  frontend/tests/QuestionJSONEditor.test.tsx
  frontend/tests/QuestionsAPI.test.tsx
Due: frontend

resolve all of the lint warnings
  frontend/src/components/algotime/EditAlgotimeDialog.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/helpers/CodingHooks.tsx
  frontend/src/views/ProfilePage.tsx
Due: frontend

fixing sonar issues in files: CodingView.tsx, CompetitionsCard.tsx, CompetitionsPage.tsx, ManageCompetitionsPage.tsx, TimeInput.tsx, useTestcases.tsx
  frontend/src/components/helpers/useTestcases.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
  frontend/src/helpers/TimeInput.tsx
  frontend/src/views/CodingView.tsx
  frontend/src/views/CompetitionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

fix in CodeDescArea.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
Due: frontend

error with date in EditAlgotimeDialog.test.tsx
  frontend/tests/EditAlgotimeDialog.test.tsx
Due: frontend

fix sonar qube errors in CompetitionCard.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
Due: frontend

fix CompetitionForm.tsx, FileUpload.tsx and riddles_api.py for sonar qube issues and also test file issues
  backend/src/endpoints/riddles_api.py
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/src/components/forms/FileUpload.tsx
Due: backend, frontend

remove unused lint supressing comment in CompetitionCard.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
Due: frontend

add no sonar comment in CompetitionCard.tsx
  frontend/src/components/leaderboards/CompetitionCard.tsx
Due: frontend

add pagination to manageCompetition page
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

add pagination to manageAlgotime page
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
Due: frontend

update back navigation for algotime session
  frontend/src/views/admin/AlgoTimeSession.tsx
Due: frontend

remove createCompetition and AlgoTimeSessionManagement pages as children and made them separate components as pagination was causing these to produce 404 errors
  frontend/src/main.tsx
Due: frontend

small issue in admin_dashboard_api.py
  backend/src/endpoints/admin_dashboard_api.py
Due: backend

fix CodeDescArea.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
Due: frontend

refactor: remove unused getRiddles & getTestcases function in QuestionsAPI and remove algoTimeSeriesId attribute
  backend/src/endpoints/leaderboards_api.py
  backend/src/main.py
  backend/tests/test_leaderboard_api.py
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/types/algoTime/AlgoTimeLeaderboard.type.tsx
  frontend/tests/LeaderboardsAPI.test.tsx
  frontend/tests/QuestionsAPI.test.tsx
Due: backend, frontend

refactor: remove unused seriesId from AlgoTimeEntry and clean up QuestionsAPI imports
  backend/src/models/schema.py
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/src/api/QuestionsAPI.tsx
Due: backend, frontend

refactor: remove unused algotime_series_id from TestGetAlgoTimeEndpoints and TestGetCurrentAlgoTimeLeaderboard
  backend/src/endpoints/leaderboards_api.py
  backend/tests/test_leaderboard_api.py
Due: backend

Remove role_required function that blocked owner access
  backend/src/endpoints/algotime_sessions_api.py
Due: backend

fix lint issues in algotime_sessions_api.py
  backend/src/endpoints/algotime_sessions_api.py
Due: backend

refactor: restore algotime_series relationship in AlgoTimeSession and clean up AlgoTimeLeaderboardEntry initialization
  backend/src/models/schema.py
Due: backend

refactor: remove unused __init__ methods and calculated_rank attribute from CompetitionLeaderboardEntry and AlgoTimeLeaderboardEntry
  backend/src/models/schema.py
Due: backend

refactor: remove unused seriesId from getAllAlgoTimeEntriesForExport and test files
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/tests/AlgoTimeCard.test.tsx
  frontend/tests/LeaderboardsAPI.test.tsx
Due: frontend

fix Dockerfile to correctly copy requirements.txt for dependency installation
  backend/Dockerfile
Due: backend

update backend to support paginated queries to prevent .all() calls
  backend/src/endpoints/algotime_sessions_api.py
Due: backend

update backend to use paginated queries instead of .all()
  backend/src/endpoints/competitions_api.py
Due: backend

update frontend api to match updated backend
  frontend/src/api/AlgotimeAPI.tsx
Due: frontend

update frontend competitions api to match backend update
  frontend/src/api/CompetitionAPI.tsx
Due: frontend

add new required types for algotime
  frontend/src/types/algoTime/AlgoTime.type.tsx
Due: frontend

add new required types for competitions
  frontend/src/types/competition/Competition.type.tsx
Due: frontend

add pagination to algotime
  frontend/src/views/AlgoTimePage.tsx
Due: frontend

add pagination to competition
  frontend/src/views/CompetitionsPage.tsx
Due: frontend

update to use the pagination
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
Due: frontend

update to use pagination
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

update search to fix issue where old searches were not being discarded and moved search to backend
  frontend/src/views/admin/ManageAlgotimeSessionsPage.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

Path conditions:
  backend: any of: backend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
  frontend: any of: frontend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
