Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

ignore:
  - "**/DB_Methods/**"
  - "**/migrations/**"
  - "**/generated/**"
  - "**/*.config.ts"
  - "**/__init__.py"
  - "**/ui/**"
  - "**/config.ts"
  - "**/DB_Methods/**"
  - "**/db.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

some cleanup and base for the be api endpoints
  backend/src/main.py
  frontend/src/components/helpers/Loader.tsx
  frontend/src/components/layout/AppSidebar.tsx
Due: backend, frontend

Remove participation table from admin_dashboard_api.py, competitions_api.py, populateDB2.py, schema.py, __init__.py. Remove the hardcoded Database_URL from db.py
  backend/src/DB_Methods/populateDB2.py
  backend/src/db.py
  backend/src/endpoints/admin_dashboard_api.py
  backend/src/endpoints/competitions_api.py
  backend/src/models/__init__.py
  backend/src/models/schema.py
Due: backend

fix the graphs in admin_dashboard_api.py which were not working with my change
  backend/src/endpoints/admin_dashboard_api.py
Due: backend

edit the populateDB2.py to add stuff in submission table and leaderboards table to test all graphs in admin_dashboard_api.py
  backend/src/DB_Methods/populateDB2.py
Due: none

comment out populateDB2.py so it does not accidentally get used on the online database
  backend/src/DB_Methods/populateDB2.py
Due: none

updating main.py and send_email_api.py so we are able to send emails from the database info. Update requirements.txt with apscheduler
  backend/src/endpoints/send_email_api.py
  backend/src/main.py
  backend/src/requirements.txt
Due: backend

update main.py to remove all the email scheduling code and put it in its own file: email_scheduler.py
  backend/src/email_scheduler.py
  backend/src/main.py
Due: backend

update AccountsAPI.tsx, manage_accounts_api.py, ProfilePage.tsx to include the enable or disable email
  backend/src/endpoints/manage_accounts_api.py
  frontend/src/api/AccountsAPI.tsx
  frontend/src/views/ProfilePage.tsx
Due: backend, frontend

fix authentification_api.py so on account creation it uses default values (from the bd) instead of manually setting them
  backend/src/endpoints/authentification_api.py
Due: backend

fix CompetitionForm.tsx so it put all instead of all participants in the email to value and fixed its test class CompetitionForm.test.tsx
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/tests/CompetitionForm.test.tsx
Due: frontend

update NotificationsCard.tsx so the datre and time picker for the notification is the same as the info card
  frontend/src/components/createActivity/NotificationsCard.tsx
Due: frontend

fix populateDB2.py, replace @example.com for @gmail.com so we dont get errors
  backend/src/DB_Methods/populateDB2.py
Due: none

update CompetitionForm.tsx to check if the date and time of notification is valid
  frontend/src/components/forms/CompetitionForm.tsx
Due: frontend

fix competitions_api.py so it takes "all" for notification "to"
  backend/src/endpoints/competitions_api.py
Due: backend

fix jest test for NotificationsCard.test.tsx because i changed date time for the notification card
  frontend/tests/NotificationsCard.test.tsx
Due: frontend

fix jest test for ProfilePage.test.tsx because i added new user preference field in profile page
  frontend/tests/ProfilePage.test.tsx
Due: frontend

fix pytest test_send_email_api.py because i changed some functions to sync and they were still considered async
  backend/tests/test_send_email_api.py
Due: backend

fix email_scheduler.py, reduce complexity
  backend/src/email_scheduler.py
Due: backend

fix competitions_api.py, remove the set constructor call with a set comprehension
  backend/src/endpoints/competitions_api.py
Due: backend

fix ProfilePage.tsx, remove ambiguous spacing
  frontend/src/views/ProfilePage.tsx
Due: frontend

fix email_scheduler.py so it is easier to test.
  backend/src/email_scheduler.py
Due: backend

create test_email_scheduler.py for more coverage
  backend/tests/test_email_scheduler.py
Due: backend

update test_manage_accounts_api.py for more coverage
  backend/tests/test_manage_accounts_api.py
Due: backend

fix competitions_api.py did not match with schema, edit AccountsAPI.test.tsx, ProfilePage.test.tsx and test_competitions_api.py for more coverage
  backend/src/endpoints/competitions_api.py
  backend/tests/test_competitions_api.py
  frontend/tests/AccountsAPI.test.tsx
  frontend/tests/ProfilePage.test.tsx
Due: backend, frontend

update ProfilePage.tsx with feedback from PR
  frontend/src/views/ProfilePage.tsx
Due: frontend

backend api for base event
  backend/src/endpoints/base_event_api.py
  backend/tests/test_base_event_api.py
Due: backend

fixed name typo
  backend/tests/test_most_recent_sub_api.py
Due: backend

Adds base event frontend api and calls
  backend/src/endpoints/base_event_api.py
  backend/tests/test_base_event_api.py
  frontend/src/api/BaseEventAPI.tsx
  frontend/src/components/helpers/HomePageBanner.tsx
  frontend/src/main.tsx
  frontend/src/types/BaseEvent.type.tsx
  frontend/src/views/CodingView.tsx
  frontend/src/views/ErrorPage.tsx
  frontend/tests/BaseEventAPI.test.tsx
Due: backend, frontend

update docker-compose.yml so it includes the DB
  docker-compose.yml
Due: none

clean up codingView
  frontend/src/views/CodingView.tsx
Due: frontend

improving the ci pipeline
  .github/workflows/CI_Pipeline.yml
Due: none

Fix competition leaderboard components so they dont process data in the frontend
  backend/src/endpoints/leaderboards_api.py
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
Due: backend, frontend

fix lint issues in LeaderboardsAPI.tsx
  frontend/src/api/LeaderboardsAPI.tsx
Due: frontend

fix algotime leaderboard so we only load the data in the current pagination and not all the data. no more processing in the frontend
  backend/src/endpoints/leaderboards_api.py
  backend/src/main.py
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/src/components/leaderboards/AlgoTimeCard.tsx
  frontend/src/components/leaderboards/AlgoTimeDataTable.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
Due: backend, frontend

revert main.py (i push local parameters)
  backend/src/main.py
Due: backend

fix backend test test_leaderboard_api.py
  backend/tests/test_leaderboard_api.py
Due: backend

fix frontend tests AlgoTimeCard.test.tsx, AlgoTimeDataTable.test.tsx, Leaderboards.test.tsx, LeaderboardsAPI.test.tsx
  frontend/tests/AlgoTimeCard.test.tsx
  frontend/tests/AlgoTimeDataTable.test.tsx
  frontend/tests/Leaderboards.test.tsx
  frontend/tests/LeaderboardsAPI.test.tsx
Due: frontend

add QuestionPresetCode table in schame.py for per-language starter code
  backend/src/models/schema.py
Due: backend

update questions API to support per-language preset codes
  backend/src/endpoints/questions_api.py
Due: backend

fix leaderboards_api.py for sonarqube issues
  backend/src/endpoints/leaderboards_api.py
Due: backend
