Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

ignore:
  - "**/DB_Methods/**"
  - "**/migrations/**"
  - "**/generated/**"
  - "**/*.config.ts"
  - "**/__init__.py"
  - "**/ui/**"
  - "**/config.ts"
  - "**/DB_Methods/**"
  - "**/db.py"

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Path fixes for monorepo structure
fixes:
  - "src/:backend/src/"  # Maps backend coverage paths
  - "src/:frontend/src/" # Maps frontend coverage paths

# Flag configuration for monorepo
flags:
  backend:
    paths:
      - backend/
    carryforward: true  # Use previous coverage if not uploaded
  frontend:
    paths:
      - frontend/
    carryforward: true  # Use previous coverage if not uploaded

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false

Refactor ManageQuestionsDataTable and UploadQuestionsJSONButton components for improved functionality and UI consistency
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/components/manageQuestions/UploadQuestionsJSONButton.tsx
  frontend/src/components/ui/button.tsx
Due: frontend

clean up ui
  frontend/src/components/dashboardCards/StatsCard.tsx
Due: frontend

fix padding issues
  frontend/src/components/dashboardCharts/NumberOfLoginsChart.tsx
  frontend/src/components/dashboardCharts/TimeToSolveChart.tsx
Due: frontend

clean up ui
  frontend/src/views/admin/AdminDashboardPage.tsx
Due: frontend

clean up code
  frontend/src/components/dashboardCharts/TimeToSolveChart.tsx
Due: frontend

Add name input field for Algotime Sessions
  backend/src/endpoints/algotime_sessions_api.py
  backend/src/main.py
  frontend/src/components/algotime/SessionQuestionSelector.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
  frontend/src/lib/axiosClient.tsx
Due: backend, frontend

Better error messages
  backend/src/endpoints/questions_api.py
  backend/src/main.py
  frontend/src/components/manageQuestions/ManageQuestionsColumns.tsx
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/components/manageQuestions/UploadQuestionsJSONButton.tsx
  frontend/src/lib/axiosClient.tsx
  frontend/src/views/admin/ManageQuestionsPage.tsx
Due: backend, frontend

Remove unused imports from ManageQuestionsDataTable and UploadQuestionsJSONButton components
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/components/manageQuestions/UploadQuestionsJSONButton.tsx
Due: frontend

clean up file
  frontend/src/components/dashboardCharts/NumberOfLoginsChart.tsx
Due: frontend

fix pie chart default to show a deafault chart instead of nothing as well as the number of total questions
  frontend/src/components/dashboardCharts/QuestionsSolvedChart.tsx
Due: frontend

fix toggle button to use cursor-pointer and change colors when hovering and when selected
  frontend/src/views/admin/AdminDashboardPage.tsx
Due: frontend

fix failing adminDashboard tests
  frontend/tests/AdminDashboardPage.test.tsx
Due: frontend

fix failing chart tests
  frontend/tests/DashboardCharts.test.tsx
Due: frontend

fix manageCards test to reflect the changes made
  frontend/tests/ManageCard.test.tsx
Due: frontend

fix failing statsCard tests
  frontend/tests/StatsCard.test.tsx
Due: frontend

revert .env vite backend url and add comment to tell SONAR to ignore it
  frontend/src/lib/axiosClient.tsx
Due: frontend

fix failing axios issue in tests
  frontend/tests/AlgoTimeForm.test.tsx
  frontend/tests/CompetitionForm.test.tsx
  frontend/tests/CreateCompetitionPage.test.tsx
  frontend/tests/EditCompetitionDialog.test.tsx
  frontend/tests/axiosClient.test.tsx
Due: frontend

fix sonarqube issues
  frontend/src/components/dashboardCards/StatsCard.tsx
Due: frontend

refactor questionsSOlvedChart to take in props to address sonarqube issues
  frontend/src/components/dashboardCharts/QuestionsSolvedChart.tsx
Due: frontend

Add Supabase environment variables to CI pipeline
  .github/workflows/CI_Pipeline.yml
Due: none

fix sonarqube issues
  frontend/src/components/dashboardCharts/QuestionsSolvedChart.tsx
Due: frontend

Fix lint issues
  backend/src/main.py
  frontend/src/components/algotime/SessionQuestionSelector.tsx
  frontend/src/lib/axiosClient.tsx
Due: backend, frontend

Add more support for editing questions in UI
  backend/src/endpoints/questions_api.py
  frontend/src/api/QuestionsAPI.tsx
  frontend/src/components/manageQuestions/ManageQuestionsColumns.tsx
  frontend/src/components/manageQuestions/ManageQuestionsDataTable.tsx
  frontend/src/components/manageQuestions/QuestionActionsCell.tsx
  frontend/src/types/questions/Question.type.tsx
Due: backend, frontend

Refactor riddle API tests: streamline mock setup, enhance file handling, and improve test cases for riddle creation and editing
  backend/tests/test_riddles_api.py
Due: backend

update tests to increase code coverage
  frontend/tests/DashboardCharts.test.tsx
Due: frontend

Refactor riddle API tests: enhance mock setup, implement fake database session, and add comprehensive test cases for riddle creation, retrieval, editing, and deletion
  backend/tests/test_riddles_api.py
Due: backend

Refactor test setup: move environment variable configuration before main import and clean up test structure
  backend/tests/test_main.py
Due: backend

Add unit tests for ManageRiddlesPage component
  backend/src/endpoints/riddles_api.py
  backend/tests/test_riddles_api.py
  frontend/tests/ManageRiddlePage.test.tsx
Due: backend, frontend

Revert "Add Name Input Field for Algotime Sessions"
  backend/src/endpoints/algotime_sessions_api.py
  backend/src/main.py
  frontend/src/components/algotime/SessionQuestionSelector.tsx
  frontend/src/components/forms/AlgoTimeForm.tsx
Due: backend, frontend

move interfaces to types folder
  frontend/src/components/dashboardCharts/NumberOfLoginsChart.tsx
  frontend/src/components/dashboardCharts/ParticipationOverTimeChart.tsx
  frontend/src/components/dashboardCharts/QuestionsSolvedChart.tsx
  frontend/src/components/dashboardCharts/TimeToSolveChart.tsx
  frontend/src/types/adminDashboard/DashboardCharts.type.tsx
Due: frontend

Refactor ManageRiddlesPage tests: update import paths, streamline mocks, and enhance test clarity
  frontend/tests/ManageRiddlePage.test.tsx
Due: frontend

Enhance ManageRiddles tests: improve Dialog mock functionality, add comprehensive tests for create, edit, and delete flows, and handle attachment visibility based on file presence
  frontend/tests/ManageRiddlePage.test.tsx
Due: frontend

Refactor riddle API tests: enhance test structure, add comprehensive file handling tests, and improve mock functionality for upload and delete operations
  backend/tests/test_riddles_api.py
Due: backend

Add missing tests
  frontend/tests/SessionQuestionSelector.test.tsx
Due: frontend

Fix comment formatting in admin_dashboard_api.py and update ManageRiddles.test.tsx to correct file path and enhance mock setup
  backend/src/endpoints/admin_dashboard_api.py
  frontend/tests/ManageRiddles.test.tsx
Due: backend, frontend

implemented token refresh logic
  backend/src/endpoints/authentification_api.py
Due: backend

implemented token refresh logic
  frontend/src/api/AuthAPI.tsx
  frontend/src/components/forms/LogInForm.tsx
  frontend/src/components/helpers/ProtectedRoute.tsx
  frontend/src/lib/axiosClient.tsx
  frontend/src/types/Auth.type.tsx
Due: frontend

fixed failing tests
  backend/src/endpoints/authentification_api.py
  backend/tests/test_authentification.py
  frontend/src/components/forms/SignupForm.tsx
  frontend/tests/AuthAPI.test.tsx
  frontend/tests/LoginForm.test.tsx
  frontend/tests/SignupForm.test.tsx
Due: backend, frontend

fixed failing tests
  backend/tests/test_authentification.py
Due: backend
