Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

in leaderboards_api.py adding rule if score is the same that who ever with better time wins
  backend/src/endpoints/leaderboards_api.py
Due: backend

cleans up redundant code
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/helpers/CodingHooks.tsx
Due: frontend

Update CodingView.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

adds confirmation before user changes language or resetting code
  frontend/src/components/helpers/ConfirmCodeReset.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

remove unused languages test and added mock in ProfilePage test
  frontend/tests/CodingView.test.tsx
  frontend/tests/LanguageAPI.test.tsx
  frontend/tests/ProfilePage.test.tsx
Due: frontend

fixes lint issues
  backend/src/endpoints/languages_api.py
  frontend/src/components/helpers/ConfirmCodeReset.tsx
  frontend/src/views/CodingView.tsx
  frontend/src/views/ProfilePage.tsx
  frontend/tests/CodingView.test.tsx
Due: backend, frontend

adds test ids
  frontend/src/components/helpers/ConfirmCodeReset.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

simplifies code
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/helpers/CodingHooks.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

log cleanup
  frontend/src/api/AlgotimeAPI.tsx
  frontend/src/api/Judge0API.tsx
  frontend/src/components/leaderboards/ScoreboardDataTable.tsx
Due: frontend

fixes riddle visibility issue
  frontend/src/api/UserQuestionInstanceAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/helpers/CodingHooks.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

auto-select the first lang that has preset code when opening a question
  frontend/src/views/CodingView.tsx
Due: frontend

add generic fallback comment when lang doesnt have preset code
  frontend/src/views/CodingView.tsx
Due: frontend

preserve user written code when switching lang in same session
  frontend/src/views/CodingView.tsx
Due: frontend

update CodingView broken tests by mocking lang API
  frontend/tests/CodingView.test.tsx
Due: frontend

fixes codecov issues
  backend/src/endpoints/user_preferences_api.py
  frontend/src/views/CodingView.tsx
Due: backend, frontend

more tests
  frontend/tests/CodingView.test.tsx
  frontend/tests/CompetitionAPI.test.tsx
Due: frontend

Update CodingHooks.tsx
  frontend/src/components/helpers/CodingHooks.tsx
Due: frontend

trim text before comparing
  frontend/src/components/helpers/ConfirmCodeReset.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

some code cleanup
  frontend/src/components/helpers/CodingHooks.tsx
  frontend/src/components/helpers/CompetitionItem.tsx
  frontend/src/components/helpers/ConfirmCodeReset.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

working editor theme change
  frontend/src/views/CodingView.tsx
Due: frontend

Update languages_api.py
  backend/src/endpoints/languages_api.py
Due: backend

Fixed failing tests
  frontend/src/views/ProfilePage.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodingHooks.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/ProfilePage.test.tsx
Due: frontend

fixed test in backend
  backend/tests/test_competitions_api.py
Due: backend

Fixed issue with code editor theme not updating unless refresh
  frontend/src/views/CodingView.tsx
Due: frontend

fixes codecov issue
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/codingPage/SubmissionDetail.tsx
  frontend/src/components/helpers/UseStateCallback.tsx
Due: frontend

fixes lint errors
  frontend/src/views/CodingView.tsx
Due: frontend

Update LanguageAPI.tsx
  frontend/src/api/LanguageAPI.tsx
Due: frontend

Update schema.py
  backend/src/models/schema.py
Due: backend

Update CodeDescArea.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
Due: frontend

Update SubmissionDetail.tsx
  frontend/src/components/codingPage/SubmissionDetail.tsx
Due: frontend

fixes sonarqube issues
  frontend/src/api/UserQuestionInstanceAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/UserQuestionInstanceAPI.tsx
Due: frontend

fixes lint issues
  frontend/src/components/codingPage/CodeDescArea.tsx
Due: frontend

fixes more sonarqube issues
  backend/src/endpoints/algotime_sessions_api.py
  backend/src/endpoints/competitions_api.py
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/views/CodingView.tsx
Due: backend, frontend

fixes lint issues
  backend/src/endpoints/algotime_sessions_api.py
  backend/src/endpoints/competitions_api.py
Due: backend

fix schema.py, add 1 param to submission
  backend/src/models/schema.py
Due: backend

fix CodeDescArea.tsx post pull with main
  frontend/src/components/codingPage/CodeDescArea.tsx
Due: frontend

adds UserQuestionInstance tests
  frontend/tests/UserQuestionInstanceAPI.test.tsx
Due: frontend

Update UserQuestionInstanceAPI.test.tsx
  frontend/tests/UserQuestionInstanceAPI.test.tsx
Due: frontend

Path conditions:
  backend: any of: backend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
  frontend: any of: frontend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
