Repository cristina-trofimov/thinkly: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

update most_recent_sub, submission and question_instance BE apis
  backend/src/endpoints/most_recent_sub_api.py
  backend/src/endpoints/submission_api.py
  backend/src/endpoints/user_question_instance_api.py
Due: backend

added cache in leaderboards components, did quick fix in README and new populate_db for scheme changes
  README.md
  backend/src/database_operations/populate_db2.py
  backend/src/endpoints/leaderboards_api.py
  frontend/src/api/LeaderboardsAPI.tsx
Due: backend, frontend

fix cache changes impacts in test files LeaderboardsAPI.test.tsx and test_leaderboard_api.py
  backend/tests/test_leaderboard_api.py
  frontend/tests/LeaderboardsAPI.test.tsx
Due: backend, frontend

updates of the schema which was forgotten to be pushed
  backend/src/models/schema.py
Due: backend

fix small error in schema
  backend/src/models/schema.py
Due: backend

edit populate_db2.py so it works with new schema
  backend/src/database_operations/populate_db2.py
Due: backend

Created a competition_cleanup.py script with the scheduler which will run once an hour. added a small populate_db2.py script to test it
  backend/src/database_operations/populate_db2.py
  backend/src/main.py
  backend/src/services/competition_cleanup.py
Due: backend

Fixing most_recent_sub_api.py and submission_api.py with their respective test because we added a new parent table to the 2 tables targetted in these classes.
  backend/src/endpoints/most_recent_sub_api.py
  backend/src/endpoints/submission_api.py
  backend/tests/test_most_recent_sub_api.py
  backend/tests/test_submission_api.py
Due: backend

added test class for competition_cleanup class
  backend/tests/test_competition_cleanup.py
Due: backend

adds user question instance models and api calls and fixes most recent and submission BE
  backend/src/endpoints/most_recent_sub_api.py
  backend/src/endpoints/question_instance_api.py
  backend/src/endpoints/submission_api.py
  backend/src/endpoints/user_question_instance_api.py
  backend/src/models/schema.py
  backend/tests/test_question_instance_api.py
  backend/tests/test_submission_api.py
  backend/tests/test_user_question_instance_api.py
Due: backend

renames and cleanup submission FE api file
  frontend/src/api/CodeSubmissionAPI.tsx
  frontend/src/api/SubmissionAPI.tsx
Due: frontend

add user question instance FE api and updates most recent and submission files
  frontend/src/api/MostRecentSubAPI.tsx
  frontend/src/api/UserQuestionInstanceAPI.tsx
  frontend/src/hooks/useAnalytics.ts
  frontend/src/types/submissions/SubmissionType.type.tsx
  frontend/src/types/submissions/SubmitAttemptResponse.type.tsx
  frontend/src/types/submissions/UserQuestionInstance.type.tsx
  frontend/tests/CodingView.test.tsx
Due: frontend

refactors coding hooks to a separate file
  frontend/src/api/Judge0API.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/helpers/CodingHooks.tsx
  frontend/src/views/CodingView.tsx
Due: frontend

Fixed delete competition not working
  backend/src/models/schema.py
  frontend/package-lock.json
Due: backend, frontend

Made the EditCompetition only readonly if the competition is already completed or is currently active
  frontend/src/components/createActivity/GameplayLogicCard.tsx
  frontend/src/components/createActivity/GeneralInfoCard.tsx
  frontend/src/components/createActivity/NotificationsCard.tsx
  frontend/src/components/createActivity/SelectionCard.tsx
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
  frontend/src/views/admin/ManageCompetitionsPage.tsx
Due: frontend

Removed redudant x button in the editCompetition dialog
  frontend/src/components/manageCompetitions/EditCompetitionDialog.tsx
Due: frontend

fixed failing test
  frontend/tests/GeneralInfoCard.test.tsx
Due: frontend

fetch full question data on coding page load
  frontend/src/views/CodingView.tsx
Due: frontend

add per-language property lookup to CodingView
  frontend/src/views/CodingView.tsx
Due: frontend

use DB preset_code as editor starter code with fallback chain
  frontend/src/views/CodingView.tsx
Due: frontend

Reset editor on question change
  frontend/src/views/CodingView.tsx
Due: frontend

per-language code buffers to preserve user's code when switching languages
  frontend/src/views/CodingView.tsx
Due: frontend

resolve TS errors for question_id
  frontend/src/views/CodingView.tsx
Due: frontend

refactor submission api functions to their own files with tests
  frontend/src/api/SubmissionAPI.tsx
  frontend/src/api/UserPreferencesAPI.tsx
  frontend/src/api/UserQuestionInstanceAPI.tsx
  frontend/src/components/helpers/useTestcases.tsx
  frontend/src/types/submissions/CodeRunResponse.type.tsx
  frontend/src/types/submissions/SubmitAttemptResponse.type.tsx
  frontend/src/views/ProfilePage.tsx
  frontend/tests/ProfilePage.test.tsx
  frontend/tests/SubmissionAPI.test.tsx
  frontend/tests/UserPreferencesAPI.test.tsx
Due: frontend

add tests for uncovered code
  frontend/tests/CodingView.test.tsx
Due: frontend

fix outdated tests
  frontend/tests/CodingView.test.tsx
Due: frontend

updates MostRecentSub api and tests
  frontend/src/api/MostRecentSubAPI.tsx
  frontend/tests/MostRecentSubAPI.test.tsx
Due: frontend

fixes profilePage test
  frontend/tests/ManageAccountsDataTable.test.tsx
  frontend/tests/MostRecentSubAPI.test.tsx
  frontend/tests/ProfilePage.test.tsx
  frontend/tests/ScoreboardDataTable.test.tsx
Due: frontend

refactors code submission to its own file with tests
  frontend/src/api/SubmitCodeAPI.tsx
  frontend/tests/CodeSubmissionAPI.test.tsx
  frontend/tests/SubmitCodeAPI.test.tsx
Due: frontend

refactors getTestcases and getRiddles to their own files
  frontend/src/api/TestCasesAPI.tsx
  frontend/src/components/forms/CompetitionForm.tsx
  frontend/src/components/helpers/useTestcases.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CompetitionForm.test.tsx
  frontend/tests/QuestionsAPI.test.tsx
  frontend/tests/TestCasesAPI.test.tsx
  frontend/tests/useTestcases.test.tsx
Due: frontend

refactors coding related hooks to their own page
  frontend/src/api/Judge0API.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/helpers/CodingHooks.tsx
  frontend/src/views/CodingView.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodingHooks.test.tsx
  frontend/tests/Judge0API.test.tsx
Due: frontend

Fixed failing tests
  backend/tests/test_competitions_api.py
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodingHooks.test.tsx
  frontend/tests/CodingView.test.tsx
  frontend/tests/Judge0API.test.tsx
Due: backend, frontend

Reworking the leaderboard in coding page to the new changes
  backend/src/endpoints/leaderboards_api.py
  frontend/src/api/LeaderboardsAPI.tsx
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/leaderboards/Leaderboards.tsx
  frontend/src/views/CodingView.tsx
Due: backend, frontend

fixed tests for CodeDescArea.test.tsx, LeaderboardsAPI.test.tsx Added test for CodingPageLeaderboard.test.tsx small fixes in CodingPageLeaderboard.tsx and CodeDescArea.tsx
  backend/tests/test_competitions_api.py
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/leaderboards/CodingPageLeaderboard.tsx
  frontend/src/components/leaderboards/CurrentLeaderboard.tsx
  frontend/tests/CodeDescArea.test.tsx
  frontend/tests/CodingPageLeaderboard.test.tsx
  frontend/tests/CurrentLeaderboard.test.tsx
  frontend/tests/LeaderboardsAPI.test.tsx
Due: backend, frontend

Fixed lint issues
  frontend/src/components/codingPage/CodeDescArea.tsx
  frontend/src/components/helpers/CodingHooks.tsx
Due: frontend

fixes language api issues pointed out in review
  backend/src/endpoints/languages_api.py
  backend/tests/test_languages_api.py
  frontend/src/api/LanguageAPI.tsx
  frontend/src/views/CodingView.tsx
Due: backend, frontend

Added themes switching option in the user menu dropdown for quick access and removed save button for user preference in Profile page
  frontend/src/components/layout/NavUser.tsx
  frontend/src/views/ProfilePage.tsx
Due: frontend

Fixed tests and lint issues
  frontend/src/components/layout/NavUser.tsx
  frontend/src/views/ProfilePage.tsx
  frontend/tests/NavUser.test.tsx
  frontend/tests/ProfilePage.test.tsx
Due: frontend

fixed failing backend test
  backend/tests/test_competitions_api.py
Due: backend

Fixed SonarQube issues
  frontend/src/components/layout/NavUser.tsx
  frontend/src/views/ProfilePage.tsx
Due: frontend

Path conditions:
  backend: any of: backend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
  frontend: any of: frontend/, but not: **/DB_Methods/**, **/migrations/**, **/generated/**, **/*.config.ts, **/__init__.py, **/ui/**, **/config.ts, **/DB_Methods/**, **/db.py
